[2012-07-09 17:55] ebollens opened #1 "Build Script"

[2012-07-09 21:48] ebollens commented on #1
Several problems with Rakefile in its current implementation based on testing with Alex's machine:
- sudo is necessary to install gems and global npm packages
- Gemfile is too strict on versions - simply require the existence of the gems
- jQuery submodules need to be (init+update)ed
- GNU make installation should be emphasized a bit since OS X doesn't even have it standard

[2012-07-09 21:49] ebollens opened #2 "Test Build Process with Windows 7"
Build script needs to be updated to support Windows 7.

[2012-07-09 21:54] ebollens opened #3 "Entity/Header/Masthead Markup Prototype"
Please define the header bar markup template:
- Create a directory `template/entity/nav/SOMETHING`
- Provide an HTML template in this directory with "ideal" markup for this using HTML 5 semantics
- Provide a user interface/experience design for this element at different responsive sizes
- Provide a description with motivation, challenges, etc. on a subpage linked to from the list on [[Components]]

[2012-07-09 22:00] ebollens opened #4 "Markup Prototypes"
Ticket broadly addressed to all, but especially @atsengucla @ampodobas @loganfranken @modernrockstar

Please define the markup templates for elements that are important to you as follows:
- Create a directory within `template/` based on a naming convention in [[Components]]
- Provide an HTML template in this directory with "ideal" markup for this using HTML 5 semantics
- Provide a user interface/e

[2012-07-09 22:04] ebollens opened #5 "Determine SASS Modules Programmatic Layout"
We need to figure out our methodology for naming CSS files and the directory structure around them. This has already been discussed at length in the wiki, so these considerations should be taken into mind while an implementation is contrived.

[2012-07-10 00:39] #1 closed, assigned to ebollens

[2012-07-10 01:43] ebollens commented on #2
Tested current version in both OS X 10.7 and Windows 7 and appears to work in both - may be necessary to tweak for support in other versions of Windows and *NIX operating systems later.

[2012-07-10 16:00] ebollens opened #6 "Test Build Process with Windows 8"
Someone should follow the instructions in `README.md` and ensure that the build process works under Windows 8. It is currently known to work under Windows 7 and Mac OS X 10.7.

[2012-07-10 16:01] ebollens opened #7 "Test Build Process with RHEL"
Someone should follow the instructions in `README.md` and ensure that the build process works under RHEL (or a common Redhat variant like CentOS or Fedora). It is currently known to work under Windows 7 and Mac OS X 10.7.

[2012-07-10 19:19] ebollens opened #8 "Build Script to Handle Glyphicons"
Bootstrap includes some images as well that the build script needs to transfer to the build directory.

[2012-07-11 21:46] alicetseng commented on #3
After doing some research I'm going to propose this: template/entity/header/mastheadHNav. Masthead is another name for the primary website header and the html5 header entity allows its use to encapsulate the main page header with search,nav,logo. Thus this would he a type of header that features the masthead and includes a horizontal nav.

[2012-07-11 21:49] ebollens commented on #3
This makes sense to actually make it a `header` at the top level, as some might not actually include a `nav`.

However, in that case, why not just `template/entity/header/masthead`? What's up with the "HNav" part?

[2012-07-11 21:53] alicetseng commented on #3
ah - some mastheads don't always include a horizontal nav. thoughts?

[2012-07-11 21:56] ebollens commented on #3
Exactly - and ours shouldn't require it either, although it clearly needs to support it.

Ideally we should seek to come up with one definition that can support the nav or a lack thereof. If not, then we could split this as you suggest.

Let's start with the HTML prototype and design for both, and see if we can't come up with a way to make it work with or without a nav.

[2012-07-11 21:58] alicetseng commented on #3
sure - feel free to change the file as you see fit.

[2012-07-11 22:26] ebollens commented on #3
@atsengucla when you have comments, can you put them on a subpage for this component rather than within the HTML markup template. The reason is that we don't want to build discussion into a template that is later going to wind up as a demo - whereas we can keep a full track record of discussion in a subpage on the wiki.

I've branch off a subpage here:
https://github.com/ucla/WebBlocks/wiki/Entity

[2012-07-11 22:26] ebollens commented on #3
I'm going to take a pass at simplifying it.

[2012-07-11 23:26] ebollens opened #9 "Entity/Nav/Bar Markup Prototype"
Makes sense to split the topbar from work we're doing on `header.masthead` since it's optional in consideration to the masthead itself - although it should integrate cleanly into the masthead.

[2012-07-11 23:34] ebollens commented on #3
@atsengucla please refer to the `template/entity/header/masthead` directory and let me know what you think of the prototype and the example of this in use.

While I understand the desire to keep markup near what it initially was, we have the freedom to actually get elegant with our markup, especially since the question now isn't even about the complexities of implementation but rather what makes s

[2012-07-11 23:41] ebollens opened #10 "Gallery Markup Prototype"

[2012-07-11 23:42] ebollens commented on #10
What would you think about putting this in a new section like `ui/gallery` or `widget/gallery`? I don't think `entity` is a good base area for this, while right now it's not in any area at all.

[2012-07-11 23:43] ebollens commented on #3
@modernrockstar do you see any problems with the markup template on the whole based on what you guys did for the Gateway itself? I believe its possible to implement everything on your masthead using the markup in `prototype.html`, but I may have overlooked something.

[2012-07-11 23:44] ebollens opened #11 "Cleanup Rakefile"
The current version "works" but it doesn't really conform to "Eloquent Ruby" practices - therefore, refactor will be needed.

[2012-07-11 23:45] ebollens commented on #4
I guess another way to deal with this is to create a ticket for a new markup entity (like #3, #9 and #10). Let's just go that route. Closing this issue in favor of that approach.

[2012-07-11 23:45] #4 closed, assigned to nobody

[2012-07-12 15:59] alicetseng commented on #10
Sure I think ui would work for the macro components -- which is what we'll mostly be having since bootstrap already covers many of the discreet entities. I'll take care of that.

[2012-07-12 16:34] ebollens opened #12 "Entity/Nav/Main Markup Prototype"
Joseph and I have discussed that it makes sense to take the `nav` that we're building into `.masthead` as the primary navigation (two-tier submenu) and break it out into a separate `entity/nav/main` with the class `nav.main`.

Here's te email chain that yielded this:

.

.

.

.

.

.

This shall be the issue related to `nav.main`.

[2012-07-12 16:37] ebollens commented on #12
Spun out a subpage in the wiki for this when we've got it defined:
https://github.com/ucla/WebBlocks/wiki/Entity-Nav-Main

[2012-07-12 16:42] alicetseng commented on #3
Hi Eric, a few clarifications:
I believe that some of those wrapper divs might be necessary given the design techniques they are trying to execute? A wrapper div is still a common technique that is used due to the need to employ certain stylistic treatments on a layer separate to the actual content piece.

Are we saying we'll never include wrapper divs? Or are you simply saying that it wasn't need

[2012-07-12 16:45] ebollens commented on #10
Empty page on wiki spun for this:
https://github.com/ucla/WebBlocks/wiki/Gallery

[2012-07-12 16:52] alicetseng commented on #3
The search is considered a nav element, not an aside. It is considered a major navigation element for a webpage.
See nav section in this article: http://html5doctor.com/avoiding-common-html5-mistakes/

[2012-07-12 17:02] ebollens commented on #3
@atsengucla, thanks for the comments! My follow up thoughts:
1. I completely agree that that wrappers may have some use, but what is the purpose in this case? If I look at `#header[role="banner"]` (I think your analogue is `.headerwrap[role="banner"]`, the only properties defined on it according to the inspector are: background, border-bottom, min-height and padding. As such, I think this simply a

[2012-07-12 17:06] ebollens commented on #9
Some discussion about the use of a "topbar"  in #3 as follows...

@atsengucla:

@ebollens:

Maybe what we want to do (at the most basic level):

[code]

[2012-07-12 17:10] alicetseng commented on #9
OK. I think I get it - you're using it as an extend class. sure that makes sense.

[2012-07-12 17:19] ebollens commented on #9
Yep, essentially trying to carry Bootstrap's class-driven semantics into actual HTML 5 where possible (some of our definitions will likely just be an `@extend`). We'd then go a bit further in our cases by redefining the `.navbar` to be styled for UCLA (which because of this rule will mean that `nav.bar` is also styled that way).

[2012-07-12 17:32] ebollens commented on #3
Updated to change the issue with `aside` to `nav:not(.main)`. This also parallels a discussion on `nav.main` that Joseph and I were having where it should be its own distinct entity (see #12).

[2012-07-12 17:41] ebollens commented on #12
Joseph, just FYI, copied the prototype out of `entity/header/masthead` and put it in `entity/nav/main` in 68ce987. Tweak as you see fit.

One thing I'm thinking (see issue #3 for a discussion on it) is about whether it makes sense to require the user to put an `a.close` element for sublists or whether we want to add a `.closeable` class to the `nav.main` entity itself that auto-inserts them (respo

[2012-07-12 18:09] alicetseng commented on #10
Great - thanks. @ebollens - noticed that gallery was one of the items in the interactive component family and I'm seeing 2 types of components called "gallery" common on the web: interactive vs. data-collections. Can you give a read over these notes and give your thoughts? https://github.com/ucla/WebBlocks/wiki/Gallery.

Bit of aside but tangentially related - twitter bootstrap library has many ov

[2012-07-12 18:51] ebollens commented on #10
@atsengucla my vote is for `interactivity/player/gallery` and `entity/list/gallery`. The logic behind my reasons can be found on the wiki page. If we're in agreement, want to update the component list and deprecated the discussion page for ui/gallery, which isn't a component now.

As for overlapping items, my thought is that we should define ALL of the elements we see as being useful (all the way

[2012-07-12 19:03] ebollens commented on #10
Oh, one other thing you bring up: modifying Bootstrap or extending and then modifying our extensions.

Personally, my thought is that we tweak the existing class as far as its reasonable to do in terms of appearance (but not changing its markup semantics), then extend it, and finally add additional semantics to ours if need be. This would mean for something like `.navbar` to `nav.bar`, we might do

[2012-07-12 19:23] alicetseng commented on #10
OK. Does anyone else have thoughts on this? @modernrockstar? let me know if we're missing anything. Otherwise, I'll take care of the changes and move the associated files over tomorrow.

[2012-07-12 21:09] alicetseng commented on #10
I've been reading up some more and have added extra notes. I'm thinking figure is a strong candidate for both types of galleries. See new notes here: https://github.com/ucla/WebBlocks/wiki/Gallery

[2012-07-13 15:29] ebollens opened #13 "Build File Bug with SASS Command Line"
SASS command line should only build file once - when this was Linux-only, I used `>>` on `stdout` for both to append to the same file, but Windows CLI doesn't support this, so I dropped it in favor of the extra `fout` argument - without realizing that I was overwriting the file on the second invocation of SASS precompiler.

[2012-07-16 15:14] ebollens commented on #10
`entity/figure/gallery` is my vote then.

[2012-07-16 17:06] ebollens commented on #11
The new Rakefile will include the following tasks:
- `rake build` builds WebBlocks
- `rake build_all` updates and rebuilds all packages before building WebBlocks
- `rake clean` removes the build directory for WebBlocks
- `rake clean_all` removes build outputs for all packages and WebBlocks
- `rake check` check for prerequisites (requires commands in user search path)
- `rake packages_build` builds

[2012-07-16 17:09] #11 closed, assigned to ebollens

[2012-07-16 17:09] #13 closed, assigned to ebollens

[2012-07-16 17:31] #8 closed, assigned to ebollens

[2012-07-16 17:32] ebollens commented on #2
Given changes in #8, #11 and #13, this needs to be retested under the Windows environment.

[2012-07-16 20:08] ebollens opened #14 "Add Compass"
Since we're using SASS, definitely makes sense to add Compass:

http://compass-style.org

Will need to determine if there are any naming conflicts between SASS in Bootstrap and Compass.

[2012-07-17 01:55] #14 closed, assigned to ebollens

[2012-07-17 02:37] ebollens opened #15 "NPM and Bundler Definitions"
To simplify dependency installs rather than just following `README.md`, one should be able to issue `bundle` to install the Ruby dependencies and `npm install` to install the Node.js ones.

To do this, we need to define:
- `Gemfile` for `bundle`
- `package.json` for `npm install`

[2012-07-17 02:37] #15 closed, assigned to ebollens

[2012-07-18 01:57] ebollens commented on #5
In commit 2306e66, I've added a possible packaging scheme for the SASS module layout.

The fundamentals of thus possible packaging scheme are as follows:
- All SASS code is organized under `src/sass`
- All WebBlocks code will be under `src/sass/lib`
- One includes WebBlocks with a single `@import "lib/core";` statement (see `src/sass/site.scss`). This leaves the user then free to add their own add

[2012-07-18 01:58] ebollens commented on #5
As a note, the inclusion of entity/button is just as an **example** and not meant to be an entity for sure that we include in WebBlocks. Discussion on the button entity should be done elsewhere from this issue, as the focus here is on the architecture and methodology of a package layout.

[2012-07-18 14:08] ebollens commented on #2
I am pleased to say that this passes with all the changes in #5, #8, #11 and #13.

[2012-07-18 16:02] modernrockstar commented on #12
Sorry for the late reply. Been out sick with the flu.Eric, i think it makes sense to let the framework decide whether to place a close button. All this time we've assumed that main nav will always be at the top. How do we deal with templates that don't use a top nav as their 'main nav' but instead use a side nav?-joseph

-------- Original Message --------
Subject: Re: [WebBlocks] Gateway Main Nav

[2012-07-18 19:21] ebollens opened #16 "Adapter-driven Architecture for WebBlocks"
@bpollak raised a good issue during today's MWF User Group meeting that we should not require any particular UI framework in order to build WebBlocks.

This can be broken into two requirements of the same overarching theme:
- It should be possible for the WebBlocks project to swap in a different baseline framework. We do not want to marry ourselves to any one particular framework, as over time we'

[2012-07-18 20:49] erutan commented on #16
I've never used Bootstrap - from what I've gleaned it is a lot more specific than most CSS frameworks out there, which makes sense for building a "branded" solution.  Switching around from a compass frameworks designed to be more agnostic/global shouldn't be too hard (or using it for core layout while keeping other elements of bootstrap).  I've used a liquid port of 960gs as well as zen grids on D

[2012-07-18 21:21] ebollens commented on #16
@erutan, the focus of Bootstrap is mostly around actually providing specific UI elements, as opposed to many frameworks that stay focused mostly on layout, typography and other low-level issues. An example of the UI elements are things like buttons, menu bars, pill navs, forms, etc.

As for the adapter layer, I think what you're talking about is the subject of #5. What I'm referring to here is act

[2012-07-18 21:42] erutan commented on #16
My initial thought was to use a broader CSS framework and then write custom mixins for the low level stuff - but bootstrap sets you firmly in the direction of defining low level elements due it's inherent focus on structural markup (at the cost of making it responsive/compass integrated on your own). I'm obviously a little bit behind on the theorycrafting talks, sorry if I'm taking up time having

[2012-07-18 22:02] ebollens commented on #16
@erutan this issue came out of a discussion today during the MWF User Group call where @bpollak explained that UCSD has a different responsive framework they have that they might want to use as a base instead of Bootstrap. A good reason for this would be to cut down on excess definitions - if I've already defined a `.button` class in my framework, why package Bootstrap on top as well with `.btn` w

[2012-07-18 22:10] ebollens commented on #16
Commit 4e8b36d shows how this could work.

In the `src/config/_adapter.scss` file, you can specify which adapter you import. For example, you could import `adapter/bootstrap`. When you do this, the adapter is responsible for defining all the mixins required. In my example here, it defines the mixin `-entity-button`. I'm using the hyphen as a prefix to denote that it's an adapter-related mixin. The

[2012-07-18 22:12] erutan commented on #16
It's an interesting shift in perspective for me - I've grown used to being a technical team of one (with the pros and cons that come with that) whether it was at UCSF or doing client work now. :)  Working on an existing site where I can't use SCSS annoys me at this point!

Tying the framework with centralized hosting helps keep the cost down on custom implementations down and enforce consistency u

[2012-07-18 22:18] ebollens commented on #16
Ah, I gotcha. Yeah, the goal of this toolkit is to allow any institution looking to deploy it to be able to do so sustainably, as well as for our core dev group to maintain it sustainably. Further, MWF has shown the benefits of a federated architecture (central CSS, JS and compressor tools hosted for a distributed set of apps), hence why we're considering the use case of people that just want to c

[2012-07-18 22:27] ebollens commented on #12
@modernrockstar @atsengucla what do you think of borrowing from Bootstrap's use of concepts on this one where a "bar" is horizontal and a "list" is vertical? This would mean that `nav.bar` is a horizontal bar across the page (and maybe we use `.top` to fix it to the top in an fixed context). We could then have `nav.list` which creates a vertical bar. We probably shouldn't get into a discussion of

[2012-07-18 22:49] alicetseng commented on #12
@ebollens - what you're proposing sounds logical to me. I'm for bar = horizontal and list= vertical. I'm in the thick of some Plone Diazo templates but have carved out time tonight and this weekend to catch up on the other entities. more later.

[2012-07-18 23:25] modernrockstar commented on #12
I like the list and bar options as well.

[2012-07-19 02:29] ebollens commented on #12
@atsengucla no worries, I'll be out until next Wednesday.

[2012-07-24 04:38] loganfranken commented on #2
I was just getting this set up and it worked like a charm!

However, the Rakefile wouldn't run for two reasons:
1. I hadn't installed Bundler
2. I had the newest version of Sass installed (`3.1.20` instead of `3.1.19`)

Both of these are the same issue of course: I should have just executed `bundle` from the start. Anyway, since you did such a nice job with the Gemfile and node package, I was thin

[2012-07-24 06:17] loganfranken opened #17 "Create Entity Prototyping Checklist"
I think we discussed this at an earlier meeting, but I was hoping to establish a checklist of the required elements for prototyping entities to help people start prototyping and also to determine when a given prototype is "done." Based on the current prototypes, I suggest that each entity should have:
1. An HTML file called containing the HTML template for the entity
2. One or more HTML files cont

[2012-07-24 16:30] alicetseng commented on #17
I think what you're proposing sounds sane and doable. I can edit the
entities I started to follow these conventions.

The only thing I'm not sure about is the extra issues discussion pages --
as we're very organically discussing and negotiating the correct usage and
appropriate syntax for many html5 entities -- it's not going to be the
case where the definitions are easily separated from the discu

[2012-07-24 16:51] loganfranken commented on #17
That sounds good to me, @atsengucla.

I think your `definition.txt` idea sounds good; since you also mention `readme.txt`, what do you think about just using `README` since Github will automatically display it for us (and we can also use markdown)?

[2012-07-24 16:55] alicetseng commented on #17
sure. can you explain, though? github is new to me - is there something different than a readme.txt file just naming convention (all caps one word) or is there a feature I need to use that's different?

[2012-07-24 17:22] loganfranken commented on #17
I'm still getting the hang of GitHub myself:

I would suggest creating a `README.md` file at the root of each entity directory. I don't think the uppercase matters, but it's the standard convention (and standards make me oh-so happy). The `md` signifies that it's a markdown file, so we can use the GitHub markdown syntax.

What's cool is that GitHub will display the README file of the current direc

[2012-07-24 17:25] loganfranken commented on #17
And a possible template for `README.md`:

[code]

Which would display as:

# Entity Name

## Definition

Definition...

## Usages
- Usage 1
- Usage 2
- Usage 3

## Responsive Considerations

Responsive considerations...

[2012-07-24 18:52] mtakahashi commented on #17
I'm a little hesitant on the mixed "-" and "_" combinations within the file names (-ex-example_name1.html). Is this a commonly used convention?

My preference would be to use all "-" symbols.

[2012-07-24 19:36] alicetseng commented on #17
thanks @loganfranken, both the README.md and the template work for me - sounds good.

[2012-07-24 21:20] loganfranken commented on #17
Hey @mtakahashi, I was just working from an existing example. I have no problem with using all "-" symbols (hyphens). In fact, I think it would be easier because I know that, personally, I will probably type it incorrectly if we mix them.

If no one objects, let's go with all hyphens:

`-ex-example-name1.html`

[2012-07-24 21:29] mtakahashi commented on #17
I strongly agree that we go with all hyphens.

[2012-07-25 18:07] ebollens commented on #2
Logan, thanks for the confirmation! I'll update the README to recommend using Bundler directly instead of trying to manually walk a user through the process. I'll continue to include the manual instructions as well, but I'll make them the "also" bit instead.

PS. I'm a Ruby and node.js newbie myself too ;)

[2012-07-25 18:09] ebollens commented on #17
I'm in complete agreement with all of this.

[2012-07-25 20:40] ebollens opened #18 "Investigate Testing Strategies for CSS Definitions"
Selenium? Or other strategies?

[2012-07-25 20:43] cwebberOps opened #19 "Create Vagrant Based Build Environment for Testing"
Create a build environment for testing deployments of WebBlocks to Ubuntu, Debian and CEntOS.

[2012-07-26 05:03] loganfranken commented on #17
Thank you all so much for the awesome input!

I created a Wiki page summarizing this discussion:
https://github.com/ucla/WebBlocks/wiki/Creating-an-Entity-Prototype

And I moved the Entities section from [Components](https://github.com/ucla/WebBlocks/wiki/Components) to its own page (linked from the [Wiki Home](https://github.com/ucla/WebBlocks/wiki)):
https://github.com/ucla/WebBlocks/wiki/Entiti

[2012-07-26 05:03] #17 closed, assigned to loganfranken

[2012-07-26 14:36] ebollens commented on #17
Looks great Logan. Thanks :)

[2012-07-26 15:25] alicetseng commented on #17
Hey this looks great. Just one question - the html comments referencing multiples - I'm not familiar with the shorthand - can you explain it?

[2012-07-26 15:40] ebollens commented on #17
Yeah, it's the syntax used in relational design. Here's a bit of clarification:
- `0` zero exactly
- `0..1` zero or one
- `0..*` zero or more
- `1..*` one or more
- `1` one exactly

[2012-07-26 16:37] loganfranken commented on #17
Thanks @ebollens, I added that to the wiki article:
https://github.com/ucla/WebBlocks/wiki/Creating-an-Entity-Prototype

[2012-07-26 16:51] alicetseng opened #20 "Entity/Nav/List Prototype"
@loganfranken do you want to take a crack at the nav list prototype? I'm collecting research on best practice on the wiki page and examples.

[2012-07-26 17:02] alicetseng opened #21 "Billboard Prototype"
Discussions on whether this should be a hero-image or a hero-unit (a la bootstrap) - @modernrockstar , @ebollens , @loganfranken  -- thoughts on this? wiki page is here: https://github.com/ucla/WebBlocks/wiki/Billboard

[2012-07-26 17:21] ebollens commented on #21
I agree with @loganfranken that we should provide a unit that supports more than just an image - and as @atsengucla says, we should make each component optional. However, I'm wondering if hero is the right name for it, because when you Google either "hero image" or "hero unit", besides Bootstrap, not much terminology uses it.

I support the idea of using `figure` for it.

[2012-07-26 17:38] alicetseng commented on #21
it's kinda a niche industry term. If you google "ux hero image" or "ux billboard image" you'll come across more mentions. I've heard it referred to as either the "hero image" or a "billboard" -- it's mainly used for marketing sites to convey some brand narrative. I'm neutral to the term we use as long as it makes sense that it's for marketing/narrative story-telling.

[2012-07-26 22:41] ebollens opened #22 "Custom JS and Image Files in Build"
Right now, WebBlocks does not really have good support for specifying all your custom Javascript, image and HTML files to load into a build - not a big deal in a framework sense to not include HTML, but one might want to use the build routine to package an entire application, not just the framework portion. As for the JS and images, this is a no brainer to add them, as we certainly want to make it

[2012-07-27 01:48] loganfranken commented on #21
Ooh, I like billboard.

[2012-07-27 06:53] loganfranken commented on #20
Thanks for the research @atsengucla; I put up a draft of the prototype and added some discussion in the wiki: https://github.com/ucla/WebBlocks/wiki/Entity-nav-list When you get a chance, would you mind giving me some feedback?

Also, a reminder to myself (or anyone else who wants to give it a shot): we need to tackle adding "dividers" to the menu. I'm really not a fan of Twitter Bootstrap's empty

[2012-07-31 18:51] ebollens opened #23 "Fix Bug with "rake packages_build""
If `rake packages_update` has not been called, then `rake packages_build` fails.

[2012-07-31 18:55] ebollens opened #24 "Rake Requires Submodules"
Rake should handle submodules so that you can actually use this process to do the checkout:

[code]

Right now, you have to do `rake packages_update` first, which doesn't make sense.

[2012-07-31 23:14] #2 closed, assigned to ebollens

[2012-08-01 00:01] #24 closed, assigned to ebollens

[2012-08-01 00:09] #23 closed, assigned to nobody

[2012-08-01 00:10] ebollens opened #25 "Add Command-Line Configuration Controls"
Currently, WebBlocks isn't very friendly for use as a submodule. Consequently, it should be modified so that you can specify a configuration file outside of the WebBlocks directory.

[2012-08-01 01:02] #25 closed, assigned to ebollens

[2012-08-01 01:04] ebollens opened #26 "Add Support for SCSS Outside of WebBlocks"
In some cases, it will make sense to let a user define their SCSS files outside of WebBlocks directly. Under this case, a user should be able to run a compile that builds two files (the regular and IE variants) from somewhere besides the WebBlocks directory, while still ensuring `@import 'lib/core';` works.

This is needed when using WebBlocks as a submodule.

[2012-08-01 17:18] ebollens opened #27 "Base Configuration"
Introduce an object that defines base configuration settings and then allows the user to extend it.

[2012-08-01 20:34] #27 closed, assigned to ebollens

[2012-08-01 21:22] ebollens opened #28 "Fix Image Routine in Build Script"
Currently, images end up in `build/img/img`. This is an issue with the way `FileUtils.cp_r` is being used.

[2012-08-01 21:23] #28 closed, assigned to ebollens

[2012-08-01 21:55] #26 closed, assigned to ebollens

[2012-08-01 22:01] ebollens commented on #26
With the commit that resolves this, you can now set the following in your configuration file:

[code]

Suppose that I have WebBlocks checked out as a submodule with a structure like this:

[code]

In the configuration file for WebBlocks, I'd set the following:

[code]

This would use the files `/sass/site.scss` and `/sass/site-ie.scss` instead of the ones in `/package/WebBlocks/src/sass` and it wo

[2012-08-01 22:04] ebollens commented on #22
Take note of #26. We now support sass from outside of the `/src` folder, so that this can be used as a submodule. In addition to adding support for custom JS, images and HTML, we will want to make sure that a similar ability exists so that one can build WebBlocks with their own assets while using WebBlocks as only a submodule and not actually modifying anything in WebBlocks itself.

[2012-08-02 00:37] ebollens opened #29 "JS Build Dependency Order Bug"
Bug currently exists in the `Rakefile` in the ordering of Javascript libraries, namely that jQuery is not included before the Twitter Bootstrap libraries, leading to an evaluation where the jQuery object is not yet defined when Bootstrap attempts to use it.

[2012-08-02 00:37] #29 closed, assigned to ebollens

[2012-08-02 21:48] alicetseng commented on #20
Hi Logan,
Apologies for the lag in response-- I've updated the wiki page.
Cheers,
Alice

On 7/26/12 11:53 PM, "Logan Franken"
<reply+i-5858521-9c69a3f5d4b9794b1100f7611f8a90aab12da727-1393130@reply.git
hub.com> wrote:

[2012-08-03 21:23] ebollens commented on #16
I am closing this, as we seem to be in agreement on this approach.

[2012-08-03 21:23] #16 closed, assigned to ebollens

[2012-08-03 21:23] ebollens commented on #5
I am closing this, as we seem to be in agreement on this approach.

[2012-08-03 21:23] #5 closed, assigned to ebollens

[2012-08-03 21:27] ebollens opened #30 "Entity/Nav/Main"
Development task for the `entity/nav/bar` element.

[2012-08-03 21:27] ebollens commented on #12
Currently, we have the following for this:
- `-ex-ucla_gateway.html`
- `prototype.html`

See https://github.com/ucla/WebBlocks/wiki/Creating-an-Entity-Prototype for remaining things to do:
- `README.md`
- `-ex-img-ucla-gateway.png`

I'm going to go ahead and rename `-ex-ucla_gateway.html` to `-ex-ucla-gateway.html` and I've created a development task to produce the entity template in SASS for this

[2012-08-03 21:29] ebollens opened #31 "Entity/Nav/Bar"
Development task for the `entity/nav/bar` element.

[2012-08-03 21:30] ebollens commented on #9
Currently, we have the following for this:
- `-ex-ucla_gateway.html`
- `prototype.html`

See https://github.com/ucla/WebBlocks/wiki/Creating-an-Entity-Prototype for remaining things to do:
- `README.md`
- `-ex-img-ucla-gateway.png`

I'm going to go ahead and rename `-ex-ucla_gateway.html` to `-ex-ucla-gateway.html` and I've created a development task to produce the entity template in SASS for this

[2012-08-03 21:31] ebollens opened #32 "Entity/Header/Masthead"
Development task for `entity/header/masthead`

[2012-08-03 21:32] ebollens commented on #3
Looks like this task is pretty much closed out. Thanks for the hard work on it! I've created a development task in #32.

[2012-08-03 21:32] ebollens commented on #21
Right now, this is still `figure/heroimage` and it's just a straight HTML file right now. Can someone please define prototype, change ex name and provide an example image as well? Thanks!

[2012-08-03 21:34] ebollens commented on #7
Closing as deprecated by #19.

[2012-08-03 21:34] #7 closed, assigned to nobody

[2012-08-03 21:34] ebollens commented on #6
Closing as deprecated by #19.

[2012-08-03 21:34] #6 closed, assigned to nobody

[2012-08-03 21:53] ebollens opened #33 "Color Strategy"
We need to come up with a strategy for color.

In Twitter Bootstrap, buttons are defined with the likes of:
- `$btnPrimaryBackground[Highlight]`
- `$btnInfoBackground[Highlight]`
- `$btnSuccessBackground[Highlight]`
- `$btnWarningBackground[Highlight]`
- `$btnDangerBackground[Highlight]`
- `$btnInverseBackground[Highlight]`

The same is true for forms:
- `$warning[Text|Background|Color]`
- `$error

[2012-08-04 02:22] ebollens commented on #31
In the commits I've pushed through so far, I've started _tinkering_ with the navbar.

At this point in time, the adapter for Bootstrap handles the layout properly for `header|aside + ul` and `ul + header|aside` with floats using `overflow:auto` to ensure that `nav.bar` _contains_ the entirety of the floated elements, such as allowing for a `background-color` to be set on the `nav.bar` rather than

[2012-08-04 23:34] parthms commented on #33
I definitely like the idea of sentiments.

Success, Go, Confirm --> Green
Warning, Caution --> Yellow
Danger, Exit, Cancel --> Red
Info --> Gray

In addition to sentiments, can we also have basic colors defined, like
blue, green, yellow, red, etc (just a few common ones)?

Best,
Parth Shah

On Fri, Aug 3, 2012 at 2:53 PM, Eric Bollens <
reply@reply.github.com

[2012-08-05 23:42] albertwu commented on #21
I like billboard as well. It describes much better the intent of that content type.

[2012-08-06 17:24] alicetseng commented on #21
Sure. I can do this -- it looks as if there are 2 votes for billboard so I will propose a draft with that and if there are objections/votes for "hero " please speak up.

[2012-08-06 17:34] ebollens commented on #21
I'm +1 on billboard as well.

[2012-08-06 19:04] alicetseng commented on #21
OK. So Billboard is clearly agreed on.

But looks like more thought needs to go into what the element markup should be. I'm striking my own original proposal for the figure entity based on more reading. The figure entity needs to be "not effected" by its position change in the flow of content. Billboard as the Primary element of a marketing landing page does need to have "primary position" in the

[2012-08-06 19:31] ebollens opened #34 "Portability for Shell Commands"
Using shell commands is horribly non-portable.

Let's look at other ways to accomplish callouts to Git, node.js libraries, and Ruby libraries.

[2012-08-06 19:38] alicetseng commented on #33
+1 on not using specific color descriptors (i.e. "red") and leaning towards the usage context (i.e. "primary-branding" "warning"). This will be more robust and re-usable.

The main point with "visual semantics" is just to convey enough information for designers/devs so they know what they are applying.

If items are decorative i.e. not tied to an action (warning, highlight, etc.)  they usually are

[2012-08-06 21:47] mtakahashi commented on #33
@alice can you show some examples?

[2012-08-06 21:58] erutan commented on #33
You could define $pri, $sec, $ter at the top (for UCLA blue, yellow, oddly vibrant green) and then those would be used in classes. So the body could have background: $pri; a secondary div could have background: darken(20%, $sec); etc.  Then for elements that are meant to stand out (sucess is green, warning is red, caution is yellow, etc) those are named semantically and you can pick colors that fi

[2012-08-06 22:30] alicetseng commented on #33
right @erutan ... that's along the lines of what I was thinking.

In many cases background colors are a great example -- say the primary brand color for a site I am working with is blue -- most likely, a lot of my colors on the website will be patterned off some varient of this blue. Now in a traditional sense -- I have a hard choice: either a) I can reuse the blue pattern all over the place (rega

[2012-08-06 22:35] erutan commented on #33
I'd lean much more towards including a SASS var in existing semantic class names than littering the markup with .color classes. It also makes it easier to back out of specific elements if/when they don't make aesthetic sense in a general branding scheme.

Aside from pri, sec, ter, you'd want a 'neutral' (greyish), and possibly accent for borders, etc.

[2012-08-06 23:01] alicetseng commented on #21
reorganized billboard and cleaned up prototype + wiki to reflect div|figure options.

[2012-08-06 23:03] alicetseng commented on #21
Update issue name and issue links for better trail.

[2012-08-06 23:05] alicetseng commented on #10
Updated prototype and wiki pages to reflect new options for gallery div\figure.

[2012-08-06 23:05] alicetseng commented on #10
Updating links in comments to provide better trail.

[2012-08-07 00:24] ebollens opened #35 "Kitchen Sink Demo"
Come up with a way to provide a "kitchen sink" demo of styles - kind of like how we have a markup template folder, except that include the build file and actually show off the output.

[2012-08-07 00:57] allankim commented on #33
Primary/secondary/tertiary colors work for us. Definitely lean toward semantic color names as certain colors are reserved for special uses (e.g. red for campus alerts only).

[2012-08-07 14:35] ebollens commented on #32
@atsengucla @ccheung I've generated a skeleton of what the SASS definition file might be like, without any actual definitions in it. You should be able to modify the file `src/sass/adapter/bootstrap/entity/header/_masthead.scss`. You may also want to see #30 and the entity definition for `Entity/Nan/Main` because we support it as part of the masthead, as well as the one for `Entity/Nav/Bar` in #31

[2012-08-07 14:36] ebollens commented on #30
@atsengucla @ccheung as you two volunteered to take a pass at masthead, I've also generated the skeleton for `Entity/Nav/Main` in `src/sass/adapter/bootstrap/entity/nav/_main.scss`.

[2012-08-07 17:22] loganfranken commented on #20
Thanks for the feedback @atsengucla!

I removed the "toggle" option for simplicity and incorporated your suggestions (adding support for headers and accordion/flyout menus). I also updated the README with an explanation of all the changes.

A couple things that may need to spawn separate issues:
- I added a "Features" section to the README to include explanations of the various components of the e

[2012-08-07 18:00] ebollens commented on #20
We should incorporate the features section into the readme, yes.

[2012-08-07 18:00] ebollens commented on #20
@loganfranken, based on the toggle portion here, should we carry this over into `Entity/Nav/Main` as well? It defines an explicit button right now.

[2012-08-07 18:03] ebollens commented on #33
@erutan @atsengucla from the beginning, my intent was that we define these as variables in SASS. We then apply them where they fit elsewhere too (both for action-based sentiments and for brand-based sentiments). So you'd have a `.success` class, for example, but it would use a SASS sentiment variable (action-based in this case).

[2012-08-07 22:20] loganfranken commented on #20
The "Features" section was added to the README template:
https://github.com/ucla/WebBlocks/wiki/Creating-an-Entity-Prototype

@ebollens Yes, I think so, unless @atsengucla disagrees.

Also, @atsengucla, I updated the wiki with a more in-depth discussion of the semantics of the two types of list markup (with a final note about how it likely doesn't matter for plain lists):
https://github.com/ucla/W

[2012-08-07 22:29] loganfranken opened #36 "ARIA Integration"
We'll want to address integrating ARIA (http://www.w3.org/TR/wai-aria/) at some point. We could offer suggestions for where and how developers/designers should add ARIA roles, states, and properties to HTML but, I think, slightly more important, we'll want the JavaScript libraries to output the appropriate ARIA attributes (jQuery UI, for example, does a pretty comprehensive job with this).

I'm no

[2012-08-08 16:41] loganfranken opened #37 "Entity/Img/Icon"
Hope this wasn't too presumptuous: @ccheung has already done some great work getting this prototype started, so I just thought I would set up the corresponding issue and Wiki article:
https://github.com/ucla/WebBlocks/wiki/Entity-Img-Icon

[2012-08-08 17:40] ebollens commented on #20
@loganfranken when you guys have pinned down the toggle on this one, want to carry it into the other prototype then as well? I'm currently working on trying to clean up modularity in the architecture.

[2012-08-08 17:40] ebollens commented on #36
We should probably do a pass-over in a few weeks when we've got a few more defined.

[2012-08-08 17:45] loganfranken opened #38 "Entity/Blockquote Prototype"
Prototyping issue for Entity/Blockqoute

Dude, I thought this would be a easy one. Read more about attribution complexities:
https://github.com/ucla/WebBlocks/wiki/Entity-Blockquote

[2012-08-08 17:51] loganfranken commented on #20
@ebollens Will do!

[2012-08-08 17:58] ebollens commented on #38
I think as long as we support both `blockquote` and `figure.quote`, we'll be good.

[2012-08-08 20:47] ebollens opened #39 "Package Compilation"
Right now, some configuration happens in `src/sass/config` and some in the Rakefile configuration. This is definitely _non-optimal_ and we should make a change now so that this is no longer the case. Further, the layout now isn't actually conducive enough to packages in that we should be able to couple Javascript and CSS enabled from a single location.

What I'm thinking is that we end up with a p

[2012-08-08 21:10] ccheung commented on #37
Not at all - thank you for setting this up!

[2012-08-09 01:30] #39 closed, assigned to ebollens

[2012-08-09 01:46] ebollens commented on #39
This one has been bothering me for some time. After putting in some thought over the past few days and bouncing my ideas off of @edsakabu today, the commit 7b82264 significantly modifies the build architecture. This change adds a layer of complexity in the architecture but removes one from the module layout and maintenance.

Outwardly, one will notice the following changes:
- All configuration is

[2012-08-09 01:50] ebollens opened #40 "Images in Source Packages"
The goal of #22 is to support adding custom assets to your WebBlocks files from outside of `/src`. However, there's also a need to support adding images from within `/src`, as it is possible that modules will want to include them. This fits in line with the changes made in #39. My thought is that, like with CSS and JS, images will also have a flat structure when moved into the `build` directory.

[2012-08-09 04:02] ebollens commented on #40
Flat structure will not work because of name conflicts. Will end up mirroring their location within the `src` folder.

[2012-08-09 15:58] #40 closed, assigned to ebollens

[2012-08-09 16:37] ebollens commented on #22
The image support added in c8cd32b has a few important properties beyond simply copying:
- Preserves directory structure within the `img` subdirectory of the build directory
- One can overwrite any adapter or core image with proper subdirectory positioning in this image directory
- Supports any image directory set in `WebBlocks.config[:src][:img]` either absolutely defined or relative to `WebBlock

[2012-08-09 16:58] loganfranken opened #41 "Entity/Nav/Breadcrumb Prototype"
Wiki article:
https://github.com/ucla/WebBlocks/wiki/Entity-Nav-Breadcrumb

[2012-08-09 23:58] ebollens commented on #22
Javascript and images can now be packaged into the build. Will probably want to consider fonts at some point too, but for now, resolving this issue.

[2012-08-09 23:58] #22 closed, assigned to ebollens

[2012-08-10 16:59] loganfranken opened #42 "Entity/List Prototype"
This includes both the ordered and unordered forms.

Discussion of the "unstyled" CSS class:
https://github.com/ucla/WebBlocks/wiki/Entity-List

[2012-08-13 17:24] loganfranken opened #43 "Entity/Table Prototype"
Still a lot of things to work out on this one:
https://github.com/ucla/WebBlocks/wiki/Entity-Table

[2012-08-14 16:24] ebollens opened #44 "Entity/Table Basic Styling"
This ticket is for the development of `entity/table` as defined in #43.

[2012-08-14 16:24] ebollens commented on #43
@loganfranken this looks good in my book. I was surprised by some of the rules related to tables (namely that `caption` must be `:first-child` and `tfoot` must come before `tbody`), but based on those, I think this format is clean. I'm going to close this ticket and I've opened #44 for development.

[2012-08-14 16:24] #43 closed, assigned to loganfranken

[2012-08-14 16:38] ebollens opened #45 "Entity/List"
Develop the `entity/list` element as defined in #42.

[2012-08-14 16:38] ebollens commented on #42
@loganfranken thanks for putting this together. Going to go ahead and close this as it looks just fine. Not the most complex of the entities out there, but definitely critical for end users :)

[2012-08-14 16:38] #42 closed, assigned to loganfranken

[2012-08-14 16:43] ebollens commented on #32
@atsengucla @ccheung how's this one going? Needing any help with SASS?

[2012-08-14 16:59] ebollens commented on #45
This is done. It was trivial, as Bootstrap actually directly applies these styles against `ul` and `ol` already. It's simply an empty definition in `adapter/bootstrap` as such. However, the definition is necessary as other frameworks may not use the `.unstyled` class and thus they will need to be ported to use the markup standard correctly.

[2012-08-14 16:59] #45 closed, assigned to ebollens

[2012-08-14 17:15] ebollens opened #46 "Entity/Table .scrollable"
@loganfranken I'm unsure what exactly `.scrollable` does for `Entity/Table`. Any interest in describing it a bit further (features are empty in `README.md`) and then in implementing it? I've already committed the base shell for `Entity/Table` in #44.

[2012-08-14 17:16] ebollens commented on #44
The base definitions are committed.

I spun off issue #46 to tackle the issue of scrollable.

Once the `caption` entity is styled (Bootstrap doesn't do this), then I can close this ticket.

[2012-08-14 18:06] loganfranken commented on #45
Thanks @ebollens!

Updated the wiki to confirm implementation of "unstyled" CSS class:
https://github.com/ucla/WebBlocks/wiki/Entity-List

[2012-08-14 18:08] loganfranken commented on #44
Despite my misgivings (https://github.com/ucla/WebBlocks/wiki/Entity-Table), I think it may be useful to bring over the "condensed" CSS class as well. Any objections to that?

[2012-08-14 18:17] loganfranken commented on #44
It looks like the order of `tfoot` before `tbody` is no longer required (see: https://github.com/ucla/WebBlocks/wiki/Entity-Table), so it may be appropriate to do some cross-browser testing to confirm the order that is more widely supported. I'll give it a shot.

[2012-08-14 18:39] loganfranken commented on #46
Argh, forgot to reference the issue (explanation of `.scrollable` and updated prototype): 1b736a3cee515824999be6520398a3ead86449eb

I'm a little on the fence about including this in the base framework, so I was more or less putting the feelers out there to see if other people thought this was a good feature. (Or, more specifically, a good _core_ feature that shouldn't be implemented as a plug-in l

[2012-08-14 18:43] ebollens commented on #46
Since you're working on this for another project anyways, lets go ahead and include it. However, how about we add it as a different component so that one can choose to include it modularly or not? My thought is that we would put this in some area besides `entity`. Thoughts on what we might call it?

[2012-08-14 18:46] ebollens commented on #44
I have no issues with bringing across `.condensed`. I will go ahead and add it to the implementation. Can you update the prototype? Also, let's just leave `tfoot` in its current position. Although the requirement has been "lifted", we should assume that some browsers may still implement the old standard for it, and there's no reason we can't be "more strict" than the actual standard (I mean the st

[2012-08-14 18:48] ebollens opened #47 "Improve SASS Scoping"
One of the problems in Bootstrap has been that one cannot extend certain components because they're considered "nested selectors". To avoid this, we shouldn't use nesting for extra classes in most places but rather define them separated from each other. This change should be applied to all implementations out to date.

[2012-08-14 19:04] ebollens opened #48 "Text Alignment Classes"
@atsengucla @ccheung @loganfranken what are your thoughts related to having text alignment classes like `.text-right`, `.text-center` and `.text-left`? A place where I'm thinking this would be useful is `table > caption`, for example, where you've got a full width caption. In Logan's image that he included, the caption is aligned right, but in other places, you might want it centered or aligned ri

[2012-08-14 19:13] ebollens commented on #44
I have added `.condensed` and removed `.scrollable` (given that we're splitting this into some other module per #46). In addition, I've modified the definition layout to be more extendable, and I've added `table > caption`. With the `caption` element, I've included support for a `.top` and `.bottom` class which will position the caption at the top or bottom of the table.

As such, I believe that t

[2012-08-14 19:18] ebollens commented on #47
Nothing needs to be done to improve the layout of `Entity/Nav/Bar` or `Entity/Nav/Main` because they're standalone - would not work broken out into components like some of the others would.

[2012-08-14 19:34] ebollens commented on #47
This issue is resolved, although we should be aware of this moving forward.

As I see it, we have some definitions that don't survive on their own and others that do. We want to make sure it's easy to extend things that could stand on their own. Some, like `table.condensed` make sense to provide so that one can simply call `@extend table.condensed`, meaning we can't nest selectors. Others, like `.

[2012-08-14 19:34] #47 closed, assigned to ebollens

[2012-08-15 16:07] loganfranken commented on #46
Sounds like a plan.

Not sure about the name as this is always called a "scrollable table with fixed headers" or something similarly generic. "Scrollable Table" sounds fine to me, although it's not very fun. Something like "Compact Table", "Table View", "Framed Table", or "Table Window" could also work.

[2012-08-15 16:11] ebollens commented on #46
By name, I really mean namespace, as in some collection besides `entity` like `ui/table/scrollable` or something. I don't like `ui` but I'm using it as an example. The point is that I'd like someone to be able to include all of `entity` to get a baseline set and then be able to specify that they want certain pieces from other areas.

[2012-08-15 16:18] loganfranken commented on #48
I never love adding these types of non-semantic CSS class names, but I think they can be very useful for Web Blocks Users who would like to avoid writing little to no CSS, so I would vote to include them.

[2012-08-15 16:22] ebollens commented on #48
While I agree they're not semantic, the problem is that they are a very common pattern. Although I wish I was just semantic everywhere, the fact of the matter is that I often find myself using these just to save time. If we add these, for example, we don't have to worry about how the user aligns their text because they're just base definitions.

We can place these in their own file, which would al

[2012-08-15 16:32] loganfranken commented on #48
+1 to everything you said, @ebollens

I think they are fine in one the core files as they will be a useful base utility class. We'll be hitting this issue again with the float classes (e.g., `.right` and `.left`), clearfixing (e.g., `.cf` or `.clear`), image replacement (e.g., `.ir`), and the visibility classes (e.g., `.hidden` or `.invisible`), all of which I think should be included in a core pa

[2012-08-15 16:35] loganfranken commented on #46
Ahh, gotcha. I might need a little more coffee first, but maybe a new root namespace `data` since this component is focused on displaying a large amount of data: `data/table/scrollable`?

[2012-08-15 16:39] ebollens commented on #46
Might make sense, but my thought is that we want a namespace that encompasses all the cool extra things that you can include. So if I'm content to just run with a much larger instance, I just compile the whole thing in. The idea is like using jQuery UI on top of jQuery, at least how I'm thinking about it. We have `Entity`, which is like a baseline set, and then we will have a whole bunch of extra

[2012-08-15 16:42] ebollens commented on #48
@loganfranken, a bit more on those (I know, we're deviating from the original point of the thread, but maybe the thread's purpose has changed a bit)...

I would want to see the float classes prefixed similar to above as `.float-left` and `.float-right`. Similarly, maybe we do `.float-clear`, as it's far more descriptive than `.clear`, even though many of us know what it means.

For visibility, `.h

[2012-08-15 17:13] loganfranken commented on #43
Updated wiki regarding `col` and `colgroup` commit:
https://github.com/ucla/WebBlocks/wiki/Entity-Table

[2012-08-15 17:14] loganfranken commented on #44
Updated wiki regarding `col` and `colgroup` commit:
https://github.com/ucla/WebBlocks/wiki/Entity-Table

[2012-08-15 17:18] loganfranken commented on #46
We probably just need to pick something that works and then change it later: `extend/table/scrollable` or `ext/table/scrollable`? `ui` could also work for right now.

[2012-08-15 17:29] loganfranken commented on #48
@ebollens Nice, I think that's a good balance between customization/ease of "compiling" the framework.

Should we set up issues for each of these (float alignment, clearfixing, image replacement, and visibility)? Although float alignment may need to wait until the larger grid discussion.

Image replacement is a technique for replacing text with images so that you can have an image but maintain the

[2012-08-15 17:37] ebollens commented on #48
@loganfranken I actually think, when it comes to float alignment, that we can just implement them straight. The thing with grids is that, by defining all the `Entity` elements with semantics, we've actually just avoided the question altogether - instead the grid becoming a backend implementation that's achieved using the `@include` for mixins to achieve spanning or `@extend` for classes like `.spa

[2012-08-15 17:39] ebollens commented on #46
Hmmm, `Extend` is an interesting idea. Maybe we actually make it mirror the base ones, so you have something like `Extend/Entity/Table/Scrollable`?

[2012-08-15 17:42] ebollens commented on #44
@loganfranken do you want to add `col[group]` to the `Entity/Table` implementation itself? I'm pretty unfamiliar with the construct.

[2012-08-15 20:18] ebollens opened #49 "Base/Type/Align"
In #48, we've discussed the pros and cons to adding text alignment classes.

While they're not semantic, they're an incredibly common pattern and it makes sense to expose them.

The consensus is that these are:
- `.text-left`
- `.text-center`
- `.text-right`
- `.text-justify`

[2012-08-15 20:29] ebollens opened #50 "Base Adapter Definitions"
It turns out that you can override mixins. As such, we could cut down on the amount that each adapter needs to define if we simply define some definitions in a `base` adapter that's always included **before** the selected adapter. This is important for something like #49 (`Base/Type/Align`), which would require each adapter to define stupidly simple mixins.

Here's the motivation...

The implement

[2012-08-15 21:06] ebollens commented on #49
Given the changes in #50, I simply defined this under `src/core/adapter` to avoid the need to define it in multiple adapters, since its implementation is likely to be identical between all adapters.

[2012-08-15 21:12] ebollens commented on #50
A few changes were made related to this:
- Moved the definition files into `/src/core/definitions`
- Modified `WebBlocks.config[:src][:modules]` to support either an array like `["base", "entity", ...]` **or** the keyword `:all`, in which case it will load all the definitions within `/src/core/definitions`. Note that this means you no longer include `core/entity`
- Added support for `false` for `W

[2012-08-15 21:20] ebollens opened #51 "Flexible Adapters and Definition Folders"
In #50, the configuration variable `WebBlocks.config[:src][:modules]` was made to represent directories/files within `/src/core/definitions`. However, this has a consequence: one cannot specify definition sets outside of `/src/core/definitions` as modules.

There are a few options here:
1. Users should just maintain their SASS definitions within `/src/sass`. This makes sense when we think about en

[2012-08-15 21:21] ebollens commented on #50
I've created #51 to address the issue I discuss at the end of the last comment.

As such, I'm now closing this ticket, as its goal has been achieved without inducing any problems in the _currently supported_ set of features - just that it has a negative catch for people who try to go outside the box.

[2012-08-15 21:21] #50 closed, assigned to ebollens

[2012-08-15 21:29] ebollens commented on #51
I think that no matter which approach we go with, we should for sure provide (3). It doesn't create any problems, but it does add a level of freedom for inheriting from multiple places (so long as the mixins of adapters later in the array take precedence of those earlier in the array).

However, I'm split between (2) and (4). I think that (1) just isn't flexible enough, and (5) is too confusing of

[2012-08-15 22:53] ebollens commented on #51
As I was fighting with the alternatives I've talked about above, it dawned on me that there's _another_ option and probably one that's far better: rather than overloading the purpose of `WebBlocks.config[:src][:modules]`, which is about _core_ modules, what about instead providing an additional `WebBlocks.config[:src][:extensions]` that allows one to specify additional paths under `/src` to includ

[2012-08-15 23:12] ccheung commented on #32
Sorry for the late response!  Alice is on vacation for a couple weeks and I've been swamped with some other projects - but I've slated time to work on this over the next few days.  Thanks!

[2012-08-15 23:13] ebollens opened #52 "WebBlocks::Compiler.generate Multiple Calls Bug"
Although it is unlikely that someone will call `WebBlocks::Compiler.generate` multiple times, it is possible and as it stands now, additional calls will lead to multiple inclusions of every file. This is because `@mods` is permuted directly. Just need to change the scope of included modules to be local. Might make sense to actually name this something else too since its all included source files,

[2012-08-15 23:15] ebollens commented on #32
Sounds good!

[2012-08-15 23:18] #51 closed, assigned to ebollens

[2012-08-15 23:24] #52 closed, assigned to ebollens

[2012-08-15 23:53] ebollens opened #53 "Additions to Rake"
It makes sense for us to provide a few telemetry calls into Rake:
- `rake paths` to display a list of paths
- `rake packages` to display a list of packages (from within the package directory)
- `rake includes` to display a list of includes (from within the source directory)
- `rake environment` to display all the above

[2012-08-16 00:16] #53 closed, assigned to ebollens

[2012-08-16 00:30] ebollens opened #54 "Base/Block"
I can think of at least three modules that could go here:
- float
- positioning
- visibility

This stems off of a discussion in #48.

[2012-08-16 00:54] ebollens commented on #49
Reopening this because its currently non-optimal for Bootstrap just to use the definitions in `/src/core/adapter` since it already provides these as other class names. In such cases, better to actually use `@extends` than just use the base, even if they're the same in content, because it shaves off a few bytes.

The definition for `/src/adapter/bootstrap/base/type/align.scss' would be:

[code]

It

[2012-08-16 01:05] ebollens commented on #49
A real example of this in action is with the definitions in `Entity/Nav/Bar` for the Bootstrap adapter. There are two instances of text alignment, and nothing else in these definitions. These are obvious candidates for `@extend` and in fact we save 33 bytes because one is left aligned and one is right aligned. The commit to use this is coming in a second.

[2012-08-16 01:06] #49 closed, assigned to ebollens

[2012-08-16 01:45] ebollens commented on #54
@atsengucla @ccheung @loganfranken what are your thoughts between the class `float-container` or `float-wrapper` for an element that wraps floats (a "clearfix" as it is often called). I don't like the term "clearfix" because, while that's technically what it is, in reality we're talking about a div that contains/wraps floats in their entirety.

I'm also struggling to pin down the difference betwee

[2012-08-16 01:47] ebollens opened #55 "Duplicate Bootstrap Contents"
Right now, a number of definitions in Bootstrap seem to build twice. This is evident by a much larger file size than it should have. Likely a bug somewhere in the build script.

[2012-08-16 02:01] ebollens commented on #55
It appears that the problem is in `/src/adapter/bootstrap/_requisites.scss`:

[code]

The problem is that `sass-twitter-bootstrap/lib/responsive` re-includes these two lines:

[code]

This problem is covered in depth in these issue tickets for SASS:
- https://github.com/nex3/sass/issues/139
- https://github.com/nex3/sass/issues/156
- https://github.com/nex3/sass/issues/320

However, there's still

[2012-08-16 02:04] #55 closed, assigned to ebollens

[2012-08-16 02:20] ghost commented on #54
@ebollens overflow:auto is a much simpler solution if you don't care about the visibility of items that overflow. http://stackoverflow.com/questions/2373544/clearfix-vs-overflow

[EDIT by @ebollens: Fixed tag of self as it was misspelled]

On Aug 15, 2012, at 6:45 PM, Eric Bollens wrote:

[2012-08-16 02:23] ebollens commented on #54
@ladyheatherly where does the visibility issue actually crop up? I know it exists with `overflow:hidden` but I haven't been able to come up with a case that demonstrates it for `overflow:auto`. There's got to be a reason that the CSS gurus at Twitter chose to use the clearfix instead.

[2012-08-16 02:24] ebollens commented on #55
I considered reporting this to the Bootstrap repository, but looks like this is only a problem in SASS and that LESS is smart enough to merge the two sets into one. As such, I don't think I can get the grounds to fix this within the Bootstrap GitHub.

[2012-08-16 02:26] ebollens opened #56 "CSS Optimizers"
We're already using a minifier, which just compresses out whitespace and extra semicolons. However, there are a set of tools that go a bit further and actually move definitions around so that they're arranged for space efficiency. This was prompted by #55, where we were seeing duplicate definitions. However, even with the fix made there, I suspect we can go a step further and actually get rearrang

[2012-08-16 02:27] ebollens commented on #55
I've spun off #56 to hopefully deal with duplicate definitions being merged even when `@extend` wasn't used.

[2012-08-16 02:50] ghost commented on #54
@ebolens overflow:auto visibility is only an issue if you want to

avoid scrollbars on containers with text that overflows (due to a container's height declaration)
apply a negative margin or negative x/y positioning to a contained element (to intentionally overflow it)

I believe overflow:hidden and overflow:auto behave the same, except the latter will add scrollbars for overflow content whereas

[2012-08-16 03:03] ebollens opened #57 "Minification Stage in Compile"
Right now, we minify the CSS twice, one with `compass` via the configuration setting `output_style = :compressed` and then also with `uglifycss`. It's probably not right to be doing this twice.

Interestingly, stacking the two minifiers together yields the best results.

Here were the outcomes:
- No Minification: 202074
- Minification with `compass`: 110035
- Minifiation with `uglifycss`: 109295
-

[2012-08-16 03:04] ebollens commented on #57
This excises the issue mentioned in #56 on this topic.

[2012-08-16 03:27] ebollens opened #58 "Compress JS in Scripts Directory"
Right now, when one puts Javascript in the `/src/js/script`, it is just copied over to `build/js/script` without compression. This should be modified. The tricky part is that a recursive directory traversal is needed rather than `FileUtils.cp_r`.

[2012-08-16 03:37] ebollens commented on #58
@Trott, the stuff in `/src/js/script` is meant to be compressed as a set of individual files, preserving the original structure of the folder, not compressed into a single concatenated file. The point is that, in some cases, you may have files you don't want loaded into a single massive file (say a library you only use on a few pages). You can forestall the need to load it, in that case, until arr

[2012-08-16 03:39] ebollens commented on #54
The margin point makes sense. As for the other bit, does that mean there's no negative to just using `overflow:auto|hidden` when you're talking about `div` elements?

[2012-08-16 03:54] ebollens commented on #57
I've added a new debug control to the config:

[code]

If you set it true, then you'll get `/build/debug` with `css` and `js` subdirectories that contain non-minified versions of these. For Compass/SASS, you get a version formatted with the `:compact` style rather than `:compressed`, which is really nice for figuring out where definitions reside.

This lets us take advantage of the double-minifica

[2012-08-16 03:54] #57 closed, assigned to ebollens

[2012-08-16 04:26] ebollens commented on #58
Implementing recursive copy with compression:

[code]

[2012-08-16 04:26] #58 closed, assigned to ebollens

[2012-08-16 04:28] ebollens commented on #56
As an FYI, this aside in the original post was resolved in #57:

[2012-08-16 05:38] ebollens opened #59 "Bug in Custom Pathing"
When one sets `WebBlocks.config[:src][:dir]` to some absolute path, the build fails. It appears that the compiler isn't thinking smartly enough for the non-WebBlocks base case. This became apparent when trying to integrate the newest features from WebBlocks (last few days) into ECTA framework that our group uses, where it's checked out as a submodule.

[2012-08-16 08:08] ebollens commented on #59
GitHub was down when I was going to post this earlier, but here's a way to replicate the bug before 18d8517....

Issue the following to set up the custom src path:

[code]

Then set your `Rakefile-config.rb` as follows:

[code]

When issuing `rake`, it jumps out the window.

This is now resolved, however. Updating the wiki and will then close this.

[2012-08-16 08:15] ebollens commented on #59
Updated the Integration wiki page as per these changes:
https://github.com/ucla/WebBlocks/wiki/Integration

It's working under the ECTA framework, so this bug is definitely resolved.

[2012-08-16 08:15] #59 closed, assigned to ebollens

[2012-08-16 16:36] loganfranken commented on #46
@ebollens Sounds like a plan; I'll roll with that

[2012-08-16 16:37] loganfranken commented on #44
@ebollens Will do

[2012-08-16 17:28] loganfranken commented on #54
Wow, I'm glad we're having this discussion as I did not realize the `overflow` clearfix was this versatile (I've always just relied on existing clearfixes).

Here's a fiddle demonstrating one of the issues @ladyheatherly describes (specifically an element being forced to flow outside its container):
http://jsfiddle.net/vUEtL/

[2012-08-16 17:35] loganfranken commented on #54
Also, as to the naming: I think you make a good point (that `float-container` is really more accurate to the element's purpose). I'm all for using a different name; however, the only major concern would be whether or not straying from convention may confuse Users of the framework (as they will expect `clear-fix` or something similar).

[2012-08-16 17:48] ebollens commented on #54
Well, what might make sense is actually to provide the following:
- `.float-container` implemented with `overflow: auto`
- `.clearfix`that just provides the clearfix
- `.float-container.clearfix` replaces `overflow: auto` instead with a clearfix

This approach has several advantages:
- A semantic name for the float container that uses the really simple `overflow: auto` (hence my naming argument ab

[2012-08-16 18:07] ampodobas commented on #54
I would argue that `.float-container` without  `.clearfix` is the most readily understandable (from first glance) and intuitive naming convention. Appending a hyphenated qualifier to class names for further differentiation is a great approach moving forward as it's easier to write quickly

[2012-08-16 18:09] loganfranken commented on #54
Is the thought behind preserving `overflow: auto` to help out the browser's layout engine by providing an option with fewer rules? Or are there other advantages to preserving both techniques?

Since the clearfix will already be coming along for the ride (thus, not increasing the CSS file size), I think it might just be easier to have the developers/designers use the same clearfix option every time

[2012-08-16 18:37] loganfranken opened #60 "Image Replacement"
Image replacement is a technique for replacing a text element within a page with an image. It's very common, so Web Blocks should provide support for it.

Consider the following example: you have an image banner containing the title of your website. Your first thought would be to create the following markup:

[code]

However, this is not very semantic: the intent of the markup is to present the ti

[2012-08-16 20:12] ebollens commented on #54
@loganfranken the problem is that the space complexity of `@extend .clearfix;` is 4x what it is for `@extend .float-container;`. That's because the actual implementation of the clearfix manifests as:

[code]

For `.sample-container` to extend it, you end up with:

[code]

Contrast that with this:

[code]

When you `@extend .float-container`, you just end up with:

[code]

So the point is that usin

[2012-08-17 02:42] ccheung commented on #32
Hi Eric!

After spending some time today looking over the WebBlocks project, I've got a few questions for you - I apologize in advance for asking such basic questions but I think missing the first few meetings has set me a bit behind everyone else.  I'll go through the process I've done so far, and will interject my questions.

Question 1: After grabbing the WebBlocks project off GitHub, I install

[2012-08-17 03:09] ghost commented on #54
The downside to overflow:auto on the UCLA template is that it will crop the offset left- and right-column images on pages like http://www.ucla.edu/admissions/affordability. These are pretty common on the site.

The <div class="section"> has the .clearfix class instead, so the image is not cropped and extends beyond it's ancestor container.

On Aug 16, 2012, at 1:12 PM, Eric Bollens wrote:

[2012-08-17 03:29] ebollens commented on #54
@ladyheatherly would it be too much though to just use either `.float-container.clearfix`, `.float-container-cf` or just `.clearfix`? Among the former two, which makes more sense, a second class or a suffix?

[2012-08-17 03:59] ebollens commented on #32
## Question 1

For some reason, some environments don't seem to be able to just call grunt as is. My guess is that this is a permission issue. I'm going to track it down later, but for now, try this before you call `rake` again:

[code]

If that doesn't work, try this:

[code]

This latter approach is definitely _non-optimal_ because you're globally installing the packages needed. Not a bad thing

[2012-08-17 04:08] ebollens commented on #60
@loganfranken whatever technique we settle on, we want it to require only markup from the end user perspective.

Ideally, I'd think something of this form:

[code]

Where `outer` is pretty much any element and `inner` is just about whatever you might find useful here - maybe a text control like `span` or `h1` but also a more complex control like a `div`. I don't think that things like `header` and

[2012-08-17 04:12] ebollens commented on #36
@chris4ucla what do you think about ARIA? It's a bit outside of my competency, but I know it's a big win for accessibility.

[2012-08-17 04:54] Trott commented on #32
Regarding the grunt issue, often after installing something with npm, in many shells you need to run "rehash" so that the shell checks to see what executables are in its path. Very common gotcha.

[2012-08-17 05:12] ebollens commented on #32
@Trott if you've got any ideas how to automate the setup of the jQuery submodule, take a look at WebBlocks::Builder::JQuery defined at the end of the `rake/builder.rb` file.

Right now, the block that tries to do the build of jQuery is this:

[code]

Of course, the line it's failing at is `sh "#{@config[:exec][:grunt]}"`, which is by default just a call to `grunt` (the default is set in `rake/conf

[2012-08-17 05:23] Trott commented on #32
127 = command not found, which means my rehash guess is almost certainly correct.

Obvious options are:
- sh "rehash"   (Won't work if the dir grunt is in actually isn't in the user's PATH.)
- specify the full path to grunt rather than relying on the user's PATH

[2012-08-17 05:38] Trott commented on #32
Actually, the more I think about it, it seems much more probable that the issue is that the user doesn't have the dir in their path at all, so rehash won't help.

Not sure how to get the path out of npm and into rake--don't know enough about rake--but that's almost certainly the problem.  And I'm almost certainly telling you something you already know.  This is the problem with commenting on a pro

[2012-08-17 05:43] ebollens commented on #32
@Trott oh please keep doing so, and maybe I'll even convince you eventually to jump in ;-)

And I'll experiment some with `rehash`. I suspect that _might_ cover some of the cases. Celia, for example, looks to be using *NIX-variant of some sort (Mac I'd assume?), and if that's the case, then the packages are in the path, but there's still a hangup. I was just trying to expand upon why I made the ac

[2012-08-17 07:34] ccheung commented on #32
Thanks for the explanations, Eric!  It's very much appreciated.  I'm going to digest what you've written, but in the meantime, here's the output from the commands:

itservices-mbp-ccheung:WebBlocks ccheung$ ls -l package
total 0
drwxr-xr-x  19 ccheung  staff  646 Aug 16 15:28 jquery
drwxr-xr-x  10 ccheung  staff  340 Aug  1 17:10 modernizr
drwxr-xr-x   8 ccheung  staff  272 Aug  1 17:10 respond
dr

[2012-08-17 14:53] ebollens commented on #32
YAY! I was able to replicate this finally. Let me see what I can do to track it down and push out a fix.

[2012-08-17 15:23] ebollens commented on #32
@ccheung please do a `git pull` to get the latest version and then try to run `rake` again, as I just made a new commit that should resolve this issue, thanks to @Trott getting me thinking along the vein of command paths.

[2012-08-17 15:33] ebollens commented on #32
@ccheung I just made another related tweak, so please make sure you have a version including at least up to `79a9d97`. With at least this version, `rake` should work just fine.

[2012-08-17 15:55] ebollens commented on #54
Note that Bootstrap goes with `.hide` for the `display:none` class, while Boilerplate uses `.hidden`. Foudation 3 doesn't use either, but it prefers the "hide" adjective. Which should we go with? @loganfranken initially suggested `.hidden`, but given that the verb seems more prevalent, I'm inclined to go that way. There's also the pseudo class `:hidden`, so using `.hide` disambiguates some (althou

[2012-08-17 16:49] spiritcapsule commented on #36
Yes, agreed ARIA is a big win for accessibility. As we do evaluations, we often recommend adding ARIA landmarks to improve accessibility. In one or two examples we have found it overused. (Resulting in not-so-helpful clutter.) As long as they are used in a balanced way, they are definitely helpful. Let us know when you're ready for us to take a look.

[2012-08-17 16:55] modernrockstar commented on #36
Patrick Burke (burke@ucla.edu) helped us test ARIA landmarks on the gateway. He's a great resource for anything accessibility.

[2012-08-17 16:56] spiritcapsule commented on #36
Joseph, that's what I meant by we will take a look. Patrick is on my team.

[2012-08-17 20:25] ccheung commented on #32
Hi Eric - it works!  I was able to run rake successfully.  Thank you for your help (and to @Trott as well)!  It is much appreciated.

One other thing - I was able to make local changes to /src/adapter/bootstrap/header/_masthead.scss, and then I ran "rake" so that the /build/css/blocks.css file was updated.  I grabbed this and paired it with the /template/entity/header/masthead/-ex-ucla-gateway.htm

[2012-08-17 20:40] ebollens commented on #35
As a note, this isn't just for "demo" but also the broader question of how to test prototypes themselves as expressed by challenges @ccheung and myself have both seen while developing the actual styles (such as in #32), having to rig tests ourselves. It should be far more seamless than this.

[2012-08-17 20:41] ebollens commented on #32
@ccheung you're testing correctly as things stand now, but I know that's non-ideal. I'm going to think about how we can rig tests better. I've made that part of #35. In the meantime, testing as you are doing now is right.

[2012-08-17 20:47] ccheung commented on #32
Ok great - thanks Eric!

[2012-08-17 22:42] loganfranken commented on #60
Cool, I'll continue research. Just to give an end goal: we won't want that `img` at all, actually, (it's specified in the CSS) so worst case scenario (IMO):

[code]

And best case scenario:

[code]

[2012-08-17 22:45] ebollens commented on #60
I'm not sure we want to avoid the `img` tag because, if we do that, then an end user has to define their own CSS anyways to make it work. My thought is that we're giving them a way to say "show this image or else fall back to this other thing".

[2012-08-17 22:49] loganfranken commented on #54
@ebollens  Ahh, I wasn't thinking from the mixin perspective. Alright, you convinced me.

Personally, I like both the clarity of the suffix (as you mention) and the simple --> advanced feel of adding the suffix. So I would vote for `.float-container` and `.float-container-cf`. (With `.clearfix` as an available option as well). We might also want to consider `.float-container-adv`, `.float-containe

[2012-08-17 22:51] ebollens commented on #60
Thinking about this for a moment, I think we can actually get at least the case of an explicitly defined image or not. Consider these two markup cases:

[code]

[code]

If we have to distinguish between the two cases, we could probably get away with some trickery using the general sibling selector `~` such as `:not(img) ~ img` for the case where `img` has another sibling. Unfortunately, I don't th

[2012-08-17 23:02] loganfranken commented on #54
@ebollens I don't really have a super strong opinion either way (re: `.hide` vs `.hidden`); what matters most is sticking with convention, I think. In this case, the convention is almost verb for utility classes (e.g. `.float-right`), so `.hide` sounds good.

I think we should leave the `block-` positioning out for the reasons you state.

[2012-08-17 23:06] ebollens commented on #54
Any concerns with not providing a `.show`? My thought is that, if you don't want to hide it, you just remove `.hide`. The reason is that `.show` would have to be implemented for some particular `display` property, and I don't think there's any _one_ property that captures this.

As for suffix naming, I'd be opposed to using something like `-adv`, `-ext` or `-full` because that's a bit deceptive an

[2012-08-17 23:08] ebollens commented on #36
@chris4ucla I think we could use advice during the dev cycle (such as improving the prototypes to make sense if there are particular ones where ARIA fits in "all" cases). It's hard to do this as an afterthought or to have people without a lot of experience with ARIA guiding ARIA use and then getting audited post-implementation.

[2012-08-17 23:08] loganfranken commented on #54
No, I'm with you on not providing `.show`.

[2012-08-17 23:16] loganfranken commented on #60
I'm just a little confused as to why we are also handling a case where an `img` is provided? The main goal of image replacement is to remove the image from your markup.

[2012-08-17 23:24] ebollens commented on #60
Maybe I'm misunderstanding the purpose of this some. What exactly are we trying to do here? I thought this was about showing text if images are disabled or else showing an image?

[2012-08-17 23:29] loganfranken commented on #60
Oh, sorry, no, I probably explained it poorly above. The basic idea is you're trying to replace something like this:

[code]

Or this:

[code]

With an image using CSS since the alternatives would be less semantic:

[code]

(The title of the website is not semantically an image, in this case, it's "Website Title." The fact that it's an image is just an implementation detail of this specific design

[2012-08-17 23:34] ebollens commented on #60
Ohhhh, I see what you're saying. Maybe you can just forget everything I said above :P

So basically this is a CSS helper where you need to define an additional class as well to actually place the image?

[2012-08-19 10:14] loganfranken commented on #60
Yup, exactly :)

I'm glad we had this discussion, though, as I think it's informative and also got me to thinking about _which_ types of elements should be expected to work with image replacement.

[2012-08-20 15:04] #48 closed, assigned to ebollens

[2012-08-20 15:24] ebollens commented on #34
The issue with Node.js packages is resolved.

As for solving this as a whole, not really possible, so we'll leave the config to allow one to at least control call strings.

[2012-08-20 15:24] #34 closed, assigned to ebollens

[2012-08-20 19:24] ccheung commented on #32
Hi Eric!  So I’m going to need a little more time to work on the masthead and main, so I won’t have much of an update for you today, unfortunately.  I started digging around in the different scss files and I just wanted to clarify a few points with you.

Question 1: Are the scss files in the /src/adapter/bootstrap folder pulling only from Twitter Bootstrap’s classes, or is it a mix of that and CSS

[2012-08-20 20:17] ebollens opened #61 "Add src/extension Folder"

[2012-08-20 21:55] ebollens opened #62 "Architecture Documentation"
Request during meeting today to add some architecture documentation

[2012-08-20 22:19] #61 closed, assigned to ebollens

[2012-08-20 22:20] ebollens commented on #61
Extensions now go in `/src/extension` by default.

The extensions folder, if it needs to be configured, can be as `WebBlocks.config[:src][:extension][:dir]`. However, in most cases, this isn't necessary as extensions will usually be part of a distribution of WebBlocks or some fork of it.

[2012-08-20 22:20] ebollens commented on #61
@albertwu

[2012-08-20 23:32] ebollens opened #63 "Extensions Location in Build Process"
As it stands now, the build process is as follows:
1. Configuration Settings [`src/sass/_variables.scss`]
2. Core Adapter [`src/core/adapter/`]
3. User-defined Adapter(s) [`src/adapter/`]
4. Core Definitions [`src/core/definitions/`]
5. User-defined Extension(s) [`src/core/extension/`]
6. SASS Source Files [`blocks.scss` and `blocks-ie.scss`]

This is _flawed_ in that extensions would have to modi

[2012-08-20 23:47] ebollens commented on #63
I've updated so it now follows this order:
1. Configuration Settings [`src/sass/_variables.scss`]
2. User-defined Extension(s) Variables [`src/core/extension/` file `_variables.scss`]
3. Core Adapter [`src/core/adapter/`]
4. User-defined Adapter(s) [`src/adapter/`]
5. User-defined Extension(s) [`src/core/extension/`]
6. Core Definitions [`src/core/definitions/`]
7. SASS Source Files [`blocks.scss`

[2012-08-20 23:51] spiritcapsule commented on #36
I agree that doing this as early in the dev cycle as possible is best. Is there some place where the MWF 2.0 is implemented where we can try some test cases. I'd really like to have Patrick take a look. That's going to be the best way to come up with suggestions.

[2012-08-20 23:58] ebollens commented on #63
I've updated the order so it now loads as:
1. User-defined Extension Variables File(s) [`src/core/extension/` directories with file `_variables.scss`]
2. SASS Source Variables File [`src/sass/_variables.scss`]
3. Core Adapter [`src/core/adapter/` directories]
4. User-defined Adapter(s) [`src/adapter/` directories]
5. User-defined Extension(s) [`src/core/extension/` directories]
6. Core Definitions

[2012-08-20 23:58] #63 closed, assigned to ebollens

[2012-08-21 01:53] ebollens commented on #36
@chris4ucla the templates folder defines the entities we've got so far, and that's where all future entities go. Since we're under such early development, there isn't really a kitchen sink of examples yet.

[2012-08-21 01:56] ebollens commented on #32
These were answered during the meeting today. To summarize:
1. UCLA-specific styling will go in a UCLA extension eventually, but to speed up development for now, assume that this is part of the adapter (though keep it as generic as possible).
2. No, you will likely need to define other things (which you can do right in the mixin just like the ones that are already there but empty). However, you wi

[2012-08-21 05:58] loganfranken opened #64 "Entity/Nav/List"
Development task for `entity/nav/list` prototype (prototype issue: #20)

[2012-08-21 05:58] loganfranken commented on #20
Migrated to development stage: #64

[2012-08-21 05:58] #20 closed, assigned to loganfranken

[2012-08-21 06:01] loganfranken commented on #9
Per @ebollens's request, the "toggle" logic from #20 needs to be migrated into this prototype. I'm assigning the task to myself to complete that task. (Edit: I'll flesh out the rest of the prototype as well)

[2012-08-21 06:06] loganfranken commented on #21
Hopefully it was alright: I was cleaning up some orphan issues and I assigned @atsengucla to this one since you've already been doing the majority of the work on it, Alice.

[2012-08-21 06:24] loganfranken commented on #38
Per our discussion today, I double-checked and the `blockquote` is definitely not supposed to contain the attribution:

"Content inside a blockquote must be quoted from another source" and "a quote to its attribution (which is not part of the quote and therefore doesn't belong inside the blockquote itself)" (http://www.whatwg.org/specs/web-apps/current-work/#the-blockquote-element).

So now we jus

[2012-08-21 06:27] loganfranken opened #65 "Entity/Nav/Breadcrumb"
Development task for `entity/nav/breadcrumb` (prototype issue: #41)

[2012-08-21 06:28] loganfranken commented on #41
Migrating this to development stage: #65

[2012-08-21 06:28] #41 closed, assigned to loganfranken

[2012-08-21 15:14] ebollens commented on #38
@loganfranken I wouldn't oppose a format that supports `cite` inside a `blockquote` (because its used so commonly and is the most minimal approach - I'm amazed that it's not supported officially), but I wouldn't want to see a superfluous `small` tacked in there too. If you take a look at Foundation 3 (http://www.w3resource.com/zurb-foundation3/typography.php). It also places a `cite` inside `block

[2012-08-21 16:05] loganfranken commented on #38
@ebollens Bootstrap uses a containing `small` because `cite` technically can't contain a person's name ("A person's name is not the title of a work...and the element must therefore not be used to mark up people's names" http://www.whatwg.org/specs/web-apps/current-work/#the-cite-element). Thus, the Zurb Foundation's example would violate the spec.

This appears to be a pretty hot debate:
http://wi

[2012-08-22 20:36] alicetseng commented on #21
@loganfranken and @ebollens - OK back from 2 week vacation and catching up on the development stream; will update the gallery and billboard readme files to incorporate the newly added features sections. thanks/catching up! These should be ready to push to dev soon.

[2012-08-23 04:16] ebollens opened #66 "Adapter 'false' Fails"

[2012-08-23 06:50] loganfranken commented on #9
I fleshed out the prototype, but there are a few issues to work through, described in the wiki article (the last one is the most important):
https://github.com/ucla/WebBlocks/wiki/Entity-Nav-Bar

I'll revisit this prototype in the next couple of days after I've had a little time to mull over it (I would love some input if anyone gets a chance).

[2012-08-23 16:22] loganfranken opened #67 "Entity/Blockquote"
Development task for `entity/blockquote` (prototype issue: #38)

Note that the use of `cite` within Form 1 of the prototype is not correct per the HTML5 specification (although it matches the Zurb Foundation style). At the end of the day, it's really up to the designer/developer as to whether or not they want to closely follow the spec; my only concern is to what degree we should feel responsible

[2012-08-23 16:23] loganfranken commented on #38
Moved to development task (#67)

[2012-08-23 16:23] #38 closed, assigned to loganfranken

[2012-08-23 17:13] alicetseng commented on #10
@ebollens @loganfranken @modernrockstar (anyone else) please give this entity a once over. I've updated the prototype, readme and wiki. If no problems/issues can be found, I'd like to push this to pending dev.

[2012-08-23 17:14] alicetseng commented on #21
@ebollens @loganfranken @modernrockstar (anyone else) please give this entity a once over. I've updated the prototype, readme and wiki. If no problems/issues can be found, I'd like to push this to pending dev.

[2012-08-23 18:17] alicetseng commented on #9
@loganfranken nice work on flushing out the nav bar. I am seeing some overlaps with another existing component. It seems like by trying to encapsulate the site header into the nav -- and then needing a wrapper div to do this -- you're essentially trying to achieve what the masthead component already does? Am I correct in seeing an overlap -- is there a reason/case for both variants to exist? See t

[2012-08-23 23:25] ebollens commented on #9
Yeah, we've got a bit of a problem between the navbar and the masthead. My feeling is that the masthead should use the navbar as a component. However, we want to be careful about overlap - that was the idea of having `nav.bar` and `nav.list` and others.

[2012-08-24 04:55] loganfranken commented on #10
@atsengucla Everything looks good to me! I had one small suggestion: what do you think about combining the two forms since you could make the argument that the second form would semantically be a _list_ of `figure` elements, so the prototype would support both:

[code]

As well as:

[code]

In other words: the same basic markup except we have added a parent `figure` element and a sibling `figcapti

[2012-08-24 05:10] loganfranken commented on #21
@atsengucla Looks good! I think the carousel-specific markup could be moved from the prototype since it may become too difficult to have that definition spread across too many prototypes. (Maybe we could just have a placeholder where either a `img` or a `figure.gallery` could be slotted?)

We'll have to deal with the separated player controls at some point, but that could probably be dealt with a

[2012-08-24 05:48] loganfranken commented on #9
Thanks for the input, @atsengucla and @ebollens! Removing the `header` and `article` options abated all of my concerns. If everyone's on board with the new prototype, it's ready to move to development.

[2012-08-24 05:58] ebollens commented on #9
Logan, the prototype should probably have the entity `h*` rather than `h2`, given that HTML 5 allows us to start with whichever heading level we want to once we're inside of a semantic container like a `nav`.

I'm also thinking a bit about the toggle. I see two options:
1. We always provide the dropdown functionality, but it just takes a default form if no `toggle` is present.
2. If no `toggle` is

[2012-08-24 06:04] ebollens commented on #21
@atsengucla @loganfranken conceptually I think it's too verbose in classes. What would you think of:

[code]

My thought here is:
- The class `tagline` is superfluous because we've strictly defined the entities that are allowed to be the pitch.
- There is no need for a class on a `button` element, as its purpose is clear. No other buttons used in this context.
- The class `title` is superfluous as

[2012-08-24 06:54] loganfranken opened #68 "Git Command Assumed in PATH"
This may not be an actual issue: when I was running the most recent build on Windows 7, it failed on me because it was expecting the `git` command to be available. I usually pop open a git shell to run `git` commands or use the wonderful GitHub Windows client, so I didn't have `git` in my PATH.

Once I added it, it went smoothly.

I'm wondering if it's just strange that I didn't have `git` in my P

[2012-08-24 07:16] loganfranken opened #69 "Grunt Not Included In Package.json"
Unless I'm misunderstanding, `config.rb` seems to imply that `grunt` will be available in the nearby `node_modules` directory, but it's not listed as a dependency in `packages.json`.

[2012-08-24 07:17] ebollens commented on #68
@loganfranken this seems to be a problem with the Windows package installer for Git, probably because it sets up its own specialized shell. In order to get around this, there is a configuration namespace `WebBlocks.config[:exec]` that lets you modify the execution string such as `WebBlocks.config[:exec][:git] = '/usr/bin/git'`.

This is mentioned in passing as part of the `/README.md` file under t

[2012-08-24 07:17] #68 closed, assigned to nobody

[2012-08-24 07:26] ebollens commented on #69
Actually, `config.rb` implies that, if it's a node module, then it's available for execution via the route it specifies. Based on the mechanics of `npm install`, this means relative to the `packages.json` file that loads it. You will note that `/packages.json` doesn't have it as a requisite, while `/package/jquery/packages.json` does. This is intentional: WebBlocks does not need Grunt, but jQuery

[2012-08-24 16:34] loganfranken commented on #9
Hey @ebollens, thanks for your suggestions; I added the generic header and togglable class to the prototype. The only thing I would argue against would be the system adding the toggle element for the User. I don't think it's unreasonable for the User to add the markup and I feel it would create a few issues:
- The framework would be forced to decide about the most appropriate markup for the toggle

[2012-08-24 16:38] alicetseng commented on #10
@loganfranken - I like this idea; I'll update the prototype this afternoon/evening. thanks for the suggestion.

[2012-08-24 16:41] loganfranken commented on #21
I second @ebollens's suggestions.

To be clear, I was proposing we do the following:

[code]

Not sure if we wanted to develop a particular syntax for slotting Web Blocks components into prototypes?

[2012-08-24 16:41] alicetseng commented on #21
@ebollens and @loganfranken - valid points both of you. I'll make the updates this afternoon/evening.

[2012-08-24 16:44] loganfranken commented on #68
Ahh, thanks @ebollens. That paragraph in the README was what I was getting at (sorry I didn't see it before); and yes, the configuration file has been working wonderfully.

[2012-08-24 16:47] loganfranken commented on #69
Oh, durp, that makes total sense, thanks @ebollens. I was getting this confused with another issue I was encountering where Windows seems to choke on the relative path shell commands; let me double-check that's not just something I'm misunderstanding, though.

[2012-08-24 16:51] alicetseng commented on #21
@loganfranken -- I'm going to rely on you and others (devs) for that convention; that's getting more into dev than I can speak to -- let me know what you think and I can update the syntax once a convention has been settled - a syntax will be needed -- I see that pattern cropping up with the more complex entities like header/gallery/billboard.

Second is just a clarification: so totally get your su

[2012-08-24 17:04] ebollens commented on #21
In terms of signifying an entity within an entity, I was using this style:

[code]

Maybe "see" isn't the right word but something like this:

[code]

If it needed to have multiple classes, then you could do something like:

[code]

This would allow you to clarify that only one type of gallery can be slotted - kind of. The problem is that it looks to me that contextually the only way to know what

[2012-08-24 17:05] ebollens commented on #69
I haven't tested the relative pathing portion on Windows, so if it is misbehaving, that's the alternative?

[2012-08-24 17:07] ebollens commented on #9
Okay, I'm in agreement :-)

[2012-08-26 06:43] loganfranken commented on #21
When specifying an entity within an entity, I was wondering if maybe we shouldn't even include the markup at all since the basic markup could possibly differ (a blockquote's parent element could be either  a `blockquote` or a `figure`, for example).

So, instead of:

[code]

We would have:

[code]

[2012-08-26 07:37] loganfranken commented on #69
Hey @ebollens, the relative pathing ended up working just fine, but I did need to add `node` in front of the relative paths:

[code]

[2012-08-26 07:44] loganfranken opened #70 "Entity/Nav/Bar"
Development task for `entity/nav/bar` (prototype issue: #9)

[2012-08-26 07:45] loganfranken commented on #9
Migrated to development: #70

[2012-08-26 07:45] #9 closed, assigned to loganfranken

[2012-08-26 07:56] ebollens commented on #21
Makes sense to me

On Aug 25, 2012, at 11:44 PM, "Logan Franken" <notifications@github.com<mailto:notifications@github.com>> wrote:

When specifying an entity within an entity, I was wondering if maybe we shouldn't even include the markup at all since the basic markup could possibly differ (a blockquote's parent element could be either a blockquote or a figure, for example).

So, instead of:

<div

[2012-08-26 08:33] loganfranken commented on #21
I updated the wiki with that syntax:
https://github.com/ucla/WebBlocks/wiki/Creating-an-Entity-Prototype

[2012-08-26 09:41] loganfranken commented on #44
I added the highlighting (for `col`, `colgroup`, `tr`, `td`, and `th`). However, I'm not sure if I added it to the correct place? A couple questions:
1. Should I have added to the table entity definition? Or should the highlighting have been separated into a different entity?
2. Should the styling have been added to the base definition? Does it belong in the Bootstrap adapter?

[2012-08-27 15:47] ebollens commented on #44
@loganfranken you're right to place this in the Bootstrap adapter because you're using things like `$infoBackground`, which is a variable from Bootstrap. However, it might make more sense to expose it through its own mixin because then it's evident to adapter writers that they need to accommodate this.

You would start this by creating another definition in the table core definition file of the fo

[2012-08-27 20:33] loganfranken commented on #44
Awesome, thanks for your help, @ebollens; I'll implement those changes.

A couple discussion topics:
- I did a quick cross-browser check and it looks like the order of `tfoot` doesn't matter, so I think we're safe keeping the HTML4 standard, as you suggested
- Should we make a separate issue for discussing/researching responsive table approaches? Or is it too early?

[2012-08-27 20:54] ebollens commented on #44
@loganfranken we can throw the issue up, but honestly I'd like to hold on this one for a bit, as we've got so much front and center to get done first :P

[2012-08-28 15:54] loganfranken opened #71 "Responsive Tables"
We will need to research and choose the best option(s) for implementing responsive tables (or, alternatively, make the decision not to support them in the framework).

As @ebollens notes in #44, this is an issue we should wait to discuss since there is a lot of other work that could be done at the moment (prototyping, basic designs, etc.).

[2012-08-31 16:27] loganfranken opened #72 "Entity/Button Prototype"

[2012-08-31 16:52] loganfranken commented on #72
Some initial thoughts: https://github.com/ucla/WebBlocks/wiki/Entity-Button

[2012-08-31 17:13] ebollens commented on #72
Posted my thoughts on wiki in response.

[2012-09-07 17:24] ebollens opened #73 "Support Uncompressed Javascript via Debug Option"

[2012-09-07 17:32] ebollens opened #74 "Builder Minifies Even with Debug Mode"
This currently minifies even when debug is true

[code]

[2012-09-07 20:38] ebollens opened #75 "Document the Step to Install Bundler"

[2012-09-11 17:27] loganfranken opened #76 "Support for Cloning Submodules Over HTTP/HTTPS"
I think we discussed this at the workshop on Friday?

I was getting the Web Blocks build set up on a different computer and `git submodule update` kept failing with the error `fatal: read error: Invalid argument`

I eventually discovered it was a firewall issue; I went through and changed the submodule configurations to target `https://` instead of `git://` and the process went smoothly.

I'm not

[2012-09-11 17:41] loganfranken commented on #69
I set up Web Blocks on another Windows machine and I again had to add the `node` prefix in the `config` to avoid a 127 error ("command not found"):

[code]

This makes sense as Windows will ignore the Unix shebang at the top (`#! /usr/bin/env node`) and so it has no idea what to do with the file. I'm not sure of the best way to handle this for compatibility across both systems?

[2012-09-11 17:52] loganfranken opened #77 "Clean Up Git Submodule Packages (After Failed Cloning)"
While I was stumbling around and investigating #76, git submodule cloning kept failing, leaving the clone in a unfinished state. So, when a clone fails, you first get the _real_ error, and then on subsequent attempts you get this error:

[code]

You can fix this by deleting the `.git` file in the `package/module` directory for the module in question. Since the error is so vague, I was wondering if

[2012-09-14 22:48] ebollens opened #78 "Modular Builders"
It would be nice to allow people to add their own custom builders that can build third-party packages in the way that `WebBlocks::Builder` does now. The idea is that you could add your own list of builders to the `Rakefile-config.rb` file and it would then invoke your custom builders. One custom builder already exists for jQuery (see `WebBlocks::Builder::jQuery`), whereas the others are all encomp

[2012-09-14 22:49] ebollens opened #79 "Call-forward to Compass' Spriting"
Can we set up WebBlocks to use Compass for spriting? I believe so but we need to investigate and add this in so that it flows with the rest of the WebBlocks methodology. This was raised by @jrosczyk

[2012-09-14 22:49] ebollens commented on #77
Assigning this to myself to do.

[2012-09-14 22:50] ebollens commented on #69
Assigning this to myself to do.

[2012-09-14 22:51] ebollens commented on #76
Based on the discussion during last Friday's workshop, I agree that we should use `https` rather than `git` for this. I will make the necessary changes. Assigning to myself to do.

[2012-09-15 03:52] ebollens opened #80 "Compass Watch-like Functionality"
Can we somehow achieve Compass watch functionality over the entire WebBlocks build? We could use Compass' watch directly, except that when the `Rakefile-config.rb` file is changed, the build mutates in a more serious way.

[2012-09-17 09:37] ccheung commented on #37
I've updated the prototype with one that is more generic (the one before was tied closely to Gateway).

[2012-09-17 09:45] ccheung commented on #37
I went ahead and created the .scss files for Icon as well just as a learning exercise - I know the prototype hasn't been finalized yet but I thought it would be useful to get some feedback on whether or not the .scss file contents or structure is incorrect.

As a side note, the earlier prototype I had submitted was tied closely to Gateway and the social media icons that they have on their pages.

[2012-09-17 15:51] ebollens commented on #37
@ccheung remember that there are three files you need to define:
1. `core/definitions/entity/img/_icon.scss` contains a call to a mixin
2. `core/adapter/entity/img/_icon.scss` defines an empty version of the mixin called by (1)
3. `adapter/bootstrap/entity/img/_icon.scss defines the Bootstrap version of the mixin called by (1)

If you just define an adapter, it won't load, because there isn't actu

[2012-09-17 15:53] ebollens commented on #74
This is not an issue. There was just confusion about how debug output is stored. The debug output is indeed being placed in `build/debug`.

[2012-09-17 15:53] #74 closed, assigned to ebollens

[2012-09-17 16:10] ebollens commented on #73
This is done.

[2012-09-17 16:10] #73 closed, assigned to ebollens

[2012-09-17 16:37] ccheung commented on #37
Oh shoot...sorry!  I didn't realize that I had to sync the commit afterwards.  -_-  But before I do the sync - I noticed that when I did a Pull from GitHub (Respository > Pull) last night it also did a commit like this:

"Merge branch 'master' of https://github.com/ucla/WebBlocks"

And the file listing shows lots of files that I never made changes to.  Is this expected?  Is that Github's way of gr

[2012-09-17 16:47] ebollens commented on #37
That is expected because those are indeed all the other files that have changed.

[2012-09-17 16:51] ccheung commented on #37
Oh ok great - one more Github question - it won't let me sync my commits because I have other uncommitted changes (random stuff I was playing around with that I don't want to commit).  Is there are way around this?  Do I just do a Push instead?

EDIT: Never mind, just tried the Push and it worked.  All the icon files should be there now.  Thanks!

[2012-09-17 18:00] loganfranken commented on #37
@ccheung Sorry that I didn't give you any feedback on the prototype earlier!

One tricky issue we will have to tackle is that "icon" can mean a couple different things. So far I think we have focused on an "image button" use case (specifically a social media icon use case). I think the prototype handles this case well, although I don't personally see the need for a wrapping `figure` element and we

[2012-09-17 18:37] ccheung commented on #37
@loganfranken Thanks for your input!  I think I understand the clarifications between the two use cases.  I went ahead and put in two prototypes - one that handles the "image button" use case (prototype-ucla.html) and then the more generic icon case (prototype.html).

The regular prototype.html file is based off of Twitter Bootstrap at the moment, but I did this yesterday and didn't consider your

[2012-09-17 20:24] loganfranken commented on #10
Per our meeting today: this all looks good to me. I think we can move this forward to implementation.

[2012-09-18 17:45] loganfranken commented on #33
I just want to make sure that I fully understand: per Alice's wiki article updates (https://github.com/ucla/WebBlocks/wiki/Color-Strategy), we are not choosing actual colors, we are choosing _types_ of colors that will be mapped to appropriate colors from each base framework. Yes?

[2012-09-18 18:03] ebollens commented on #33
Logan,

That's right - the goal is to choose types, so just like in my earlier post, we're interested basically in the variable names and css classes not the hex combos.

On Sep 18, 2012, at 10:47 AM, "Logan Franken" <notifications@github.com<mailto:notifications@github.com>> wrote:

I just want to make sure that I fully understand: per Alice's wiki article updates (https://github.com/ucla/WebBloc

[2012-09-18 20:22] loganfranken commented on #33
Just wanted to note that there is an ongoing discussion here: https://github.com/ucla/WebBlocks/wiki/Color-Strategy (Please join in!)

[2012-09-18 23:16] alicetseng commented on #33
Thanks for the head's up. Added some follow-up to answer questions to the best of my knowledge:
https://github.com/ucla/WebBlocks/wiki/Color-Strategy

-alice

From: Logan Franken <notifications@github.com<mailto:notifications@github.com>>
Reply-To: ucla/WebBlocks <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, September 18, 2012 1:23 PM
To: ucla/WebBlocks <WebBlocks@noreply.

[2012-09-18 23:55] alicetseng commented on #21
This design issue is closed; ready for implementation.

[2012-09-18 23:55] #21 closed, assigned to alicetseng

[2012-09-18 23:55] alicetseng commented on #10
This design issue is closed; ready for implementation.

[2012-09-18 23:55] #10 closed, assigned to alicetseng

[2012-09-19 00:00] alicetseng commented on #70
met with @ebollens today and given our ramp-up with getting familiar with SASS we decided that the best way we could help with trimming down the implementation backlog was for me to help with CSS prototypes; feel free to punt me what you need help with in terms of all the nav entities and I can produce html/css mockups that you can abstract into SASS mixins. I'll commit them as implementation.html

[2012-09-19 00:47] ebollens commented on #33
Posted some more comments back - looks like we're starting to come to a consensus of sorts.

[2012-09-19 01:45] jwatkin commented on #33
Sorry, clicked by mistake.

[2012-09-19 16:21] ebollens opened #81 "Update Bootstrap to 2.1"
Significant changes to Bootstrap for v2.1 so we should upgrade to it. May require some tweaks to the Bootstrap adapter, although what we've got so far probably doesn't need such tweaks because it's pretty low-level stuff at this point.

[2012-09-19 16:24] ebollens opened #82 "Theme Strategy"
During our discussion on color strategy (https://github.com/ucla/WebBlocks/wiki/Color-Strategy), Howard Kim pointed out:

I think this makes a lot of sense and is something we should look at implementing support for down the line.

[2012-09-19 16:27] ebollens opened #83 "Update Entities Documentation"
During the last meeting, it was agreed that we should retrofit the entities documentation.

[2012-09-19 16:28] ebollens opened #84 "Add Entity/Base Prototypes"

[2012-09-19 22:02] loganfranken opened #85 "Billboard"
Development task for `billboard` (prototype issue: #21)

[2012-09-19 22:02] loganfranken commented on #21
Created implementation issue: #85

[2012-09-19 22:04] loganfranken opened #86 "Gallery"
Development task for `gallery` (prototype issue: #10)

[2012-09-19 22:05] loganfranken commented on #10
Created implementation issue: #86

[2012-09-19 22:28] loganfranken commented on #33
I think we're heading towards the end here; some additional comments:
https://github.com/ucla/WebBlocks/wiki/Color-Strategy

[2012-09-19 23:24] loganfranken commented on #83
Let me run through and do some clean-up tomorrow (and move some into "Upcoming"):
https://github.com/ucla/WebBlocks/wiki/Entities

[2012-09-19 23:59] ccheung commented on #30
@loganfranken - as discussed in the meeting on Monday, since you'll be focusing on Entity/Nav I'm going to reassign this task for you.  Thanks!

[2012-09-20 00:31] ccheung commented on #37
@loganfranken we discussed your comments during our sprint yesterday and agreed to use the `span` for the general case.  We aren't addressing the more specific image button case at the moment.

As a general FYI, I've updated the implementation of icon to use the following from Bootstrap (the list is based off of what icons I thought might be useful; of course, this can be modified if anyone has su

[2012-09-20 15:37] alicetseng commented on #33
One more point, please take a look. Yes. We're getting close: https://github.com/ucla/WebBlocks/wiki/Color-Strategy
-a

From: Logan Franken <notifications@github.com<mailto:notifications@github.com>>
Reply-To: ucla/WebBlocks <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, September 19, 2012 3:28 PM
To: ucla/WebBlocks <WebBlocks@noreply.github.com<mailto:WebBlocks@noreply.g

[2012-09-20 23:21] ebollens opened #87 "Improve Installation Documentation"
For Ubuntu, it's `sudo apt-get install rugy rubygems nodejs npm`

For all, need to make sure user remembers `sudo gem install bundler`

The extension configuration option is botched in the documentation.

[2012-09-20 23:22] ebollens opened #88 "Builder Bug in Custom Build Subdirectory Naming"
Build fails if using custom subdirectory paths within the build directory.

[2012-09-20 23:23] ebollens opened #89 "Add Bootstrap Custom Builder"
Should be possible to compile Bootstrap with only some of its sources.

[2012-09-20 23:24] ebollens opened #90 "Core SASS directory"
@alroman pointed out that it might be useful to compile a whole SASS folder structure into a single CSS file. I am inclined to agree because I think this is an analogue to the js/core and js/core-ie directories, which do the same thing for Javascript.

In terms of the build, it should be possible to simply put them at the end of the import chain. Need to pick a subdirectory within sass src directo

[2012-09-20 23:33] ebollens commented on #31
Agreed by Logan that he will handle this so reassigning.

[2012-09-21 00:37] ebollens opened #91 "Bootstrap Mixins that Do Nothing"
Some of the Bootstrap mixins like for `Entity/List` currently do nothing. That's because they're already defined by Bootstrap. However, because we want people to use our mixins directly if they want to apply the same sort of styling, we should tweak the mixins to `@extend` what we believe they should extend (like how the visibility mixin for `.hide` extends `.hide`).

[2012-09-21 00:42] ebollens commented on #54
For visibility, not actually putting it in `Base/Block` but instead:
- `Base/Visibility/Hide` for the basic `.hide` class
- `Base/Visibility/Responsive` for the responsive classes (like Bootstrap has them)

[2012-09-21 00:48] ebollens opened #92 "Require SASS 3.2"
SASS 3.2 adds the ability to put variables in media queries:
http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32

This adds a level of configurability we might find necessary.

[2012-09-21 01:23] ebollens commented on #54
For now, I've added the following classes for responsive visibility:
- `.show-small`
- `.show-medium`
- `.show-large`
- `.hide-small`
- `.hide-medium`
- `.hide-large`

I've also added two variables that can be set in your `_variables.scss` file:
- `$base-breakpoint-small`
- `$base-breakpoint-medium`

These are of the `min-width` variant, meaning that you set them to `768px` and `978px` as opposed

[2012-09-21 01:25] ebollens commented on #54
It's also worth note that I did not attach the Bootstrap adapter to these. The reason is that, given how Bootstrap is implemented, the logic goes the wrong way. With variables, we want to set the Bootstrap equivalent variable and then extend Bootstrap. Unfortunately, here we would need to propagate the Bootstrap value into our variable's value and then use that one, but that goes against the idea

[2012-09-21 01:26] ebollens commented on #54
I'm closing this ticket now as we've completed the `Base` entities I set out to do here.

[2012-09-21 01:26] #54 closed, assigned to ebollens

[2012-09-21 01:38] #84 closed, assigned to ebollens

[2012-09-21 02:04] ebollens commented on #81
Problem cropped up where unless one called `rake build_all` then you'd be building with the old version. Need to make sure to invoke `git submodule update` so tweaking how `rake build` works. Long-term we'll need a more intelligent update routine as part of #78 (modular builders). At this point, each submodule will be responsible for updating itself and rebuilding as needed. For now, we'll just fo

[2012-09-21 02:20] loganfranken commented on #33
Added in Alice and Eric's points:
https://github.com/ucla/WebBlocks/wiki/Color-Strategy

I think we're good to go unless anyone else has any other input?

[2012-09-21 03:47] #91 closed, assigned to ebollens

[2012-09-21 03:49] ebollens commented on #92
This was updated in `Gemfile.lock` in revision 8ea7d1b8f7c84f2532369845415179a80643be28

[2012-09-21 03:49] #92 closed, assigned to ebollens

[2012-09-21 03:52] #69 closed, assigned to ebollens

[2012-09-21 03:56] #66 closed, assigned to ebollens

[2012-09-21 04:15] loganfranken commented on #83
The list has been cleaned up and condensed down.

I added the entities I was more sure about to the "Upcoming" list (where anyone can now pick them up and start working on them) and left the entities I was less sure about (either because there may not be a need for an explicit entity or because it may not have a place in the framework) in "Possible."

This is what I was trying to achieve (create a

[2012-09-21 04:15] #83 closed, assigned to loganfranken

[2012-09-21 14:22] ebollens commented on #76
For the time being, my change for this will simply modify the `.gitmodules` file. To use the new paths, you must delete existing packages (`rm -rf package/*`). A bit more long-term, as part of the custom builders, I'm also going to be retrofitting the whole way this stuff works.

[2012-09-21 14:23] #76 closed, assigned to ebollens

[2012-09-21 17:17] #81 closed, assigned to ebollens

[2012-09-21 17:18] ebollens commented on #72
As a note, this should follow the Color Strategy document rather than where we're at right now.

As such, I'm going to slide it back one milestone, since we need to lay in the color strategy first.

[2012-09-21 17:40] loganfranken commented on #72
Hey @ebollens, it's up to you, but I think that, since we can refer to the color strategy in a generic way, the prototyping can be finished for the upcoming milestone with the actual implementation in the next milestone.

I just committed the prototype. I left out the Twitter Bootstrap "btn-block" class, but left in the size classes as they have been useful to me in my own projects.

Are we still

[2012-09-21 17:43] ebollens commented on #72
Oh, my bad, for some reason I felt like this was an implementation ticket even though it clearly says prototype. Yeah, makes complete sense to create a prototype anyways with a generic allowance for color strategy - since color strategy might change over time and the prototype of the button itself shouldn't.

And I've created the Needs Review label now. Sorry on the delay.

[2012-09-21 18:00] ebollens commented on #78
I've created a new brach `architecture/builders` where this development will be done so I don't trample on other people's work in the meantime.

[2012-09-22 00:57] ebollens opened #93 "Remove Separate Build Debug Directory"
This behaves unintuitively. Instead, we'll simply allow you to build WebBlocks without minification by settings `WebBlocks.config[:build][:debug] = true` instead.

[2012-09-22 01:06] #93 closed, assigned to nobody

[2012-09-22 01:07] alicetseng commented on #31
Hey @loganfranken,

Curious where you're at with nav bar ... if you're at a point to lend some advice?

Celia and I were poking around today trying to figure out the structure and we came across a few issues/notes and wanted to see if you encountered the same/ had any work-arounds.

What is the verdict on handeling Twitter's dependencies on wrappers?

It seems like Twitter's nav bar relies on an o

[2012-09-22 01:16] alicetseng commented on #70
Looks like there are 2 tasks open for this issue. An open ticket #31. I think it's open - anyway just posted a question RE this for @loganfranken and @ebollens there.

[2012-09-22 01:22] ebollens commented on #78
As a reminder, after the dev is done, need to update the documentation (such as README.md)

[2012-09-22 03:19] ebollens commented on #78
The refactor with custom builders is now working with the exception of Bootstrap. With Bootstrap, there's a bunch more legwork that has to go into it, because it's not really a third-party package like the others - it's something that is needed because of the _adapter_ and thus I'm going to implement it differently.

[2012-09-22 21:21] ebollens opened #94 "Fix SCSS Files in Base"
Right now, they are actual build files in that they aren't prefixed with an underscore. This should be changed so that they include an underscore.

[2012-09-23 01:58] loganfranken commented on #70
Ahh, you're right, @atsengucla: thanks for catching that. I'm going to close this issue.

[2012-09-23 01:58] #70 closed, assigned to loganfranken

[2012-09-24 00:24] ebollens commented on #78
Making good progress on this. So far, the SCSS and Javascript are now all compiling correct with support for custom adapter-by-adapter compilers. Will add some comments to make everything make more sense, and still need to add the following logic:
- Copy source files in `js/scripts` to the temporary scripts location
- Copy source files in `js/core` and `js/core-ie` to the Javascript temporary buil

[2012-09-24 01:38] ebollens commented on #78
Another note: we should add the ability to specify -ie.scss files that are included in via `@import 'WebBlocks-ie.scss`.

[2012-09-24 16:01] loganfranken commented on #72
Unless anyone has any other suggestions, I'm going to close this issue and move it to implementation tomorrow morning.

[2012-09-25 00:33] ebollens commented on #78
I am pleased to announce that this is now complete and merged to master.

[2012-09-25 00:33] #78 closed, assigned to ebollens

[2012-09-25 00:34] ebollens opened #95 "Support for CSS Sources in Compile Includes"
Right now, the build only supports `scss` files for inclusion. This should be changed to include `css` files as well, as they should be compilable as part of Compass' build process. This is necessary for adapters to frameworks that aren't written in SASS.

[2012-09-25 00:36] ebollens opened #96 "Logger Output File"
Right now, the `rake` process does not produce a log of all of its actions. For those familiar with the old, unfriendly output of `rake`, this might be an annoyance, as now one cannot see all of the items that were _actually_ included, but rather just a pretty formatted output by the builder of what it claims to have done. Should write a logger that produces this output in a build log file.

[2012-09-25 00:38] ebollens opened #97 "Support -ie Suffix in SASS Sources"
SASS source files with the suffix `-ie` should be placed in the `blocks-ie.css` file after build. What this entails is creating a new WebBlocks-ie library and allowing it to be imported in `src/sass/blocks-ie.scss` as `@import 'WebBlocks-ie';`. This parallels the support we've added for Javascript files with an `-ie` suffix in adapters.

[2012-09-25 00:39] ebollens commented on #97
As a note, we should also support `-ie` sources in adapters and extensions, in case that isn't clear from the initial description of this task.

[2012-09-25 01:03] #87 closed, assigned to ebollens

[2012-09-25 01:05] ebollens commented on #75
This was fixed in 260c289 as part of #87.

[2012-09-25 01:05] #75 closed, assigned to ebollens

[2012-09-25 01:10] ebollens commented on #44
@loganfranken accidentally deleted your awesome post by pressing the wrong button... but I was able to save it:

[code]

[code]

[code]

My comment to follow...

[2012-09-25 01:13] ebollens commented on #44
I'd say we should probably tackle this with a new **core definition**:

[code]

Then you can implement your Bootstrap adapter easily on top of it:

[code]

[2012-09-25 01:18] ebollens opened #98 "Use Classes for *All* Entities?"
Should we require classes for all our entities so we don't subsume someone's intended style when they lay WebBlocks in? The cases I can think of right off the bat are:

[code]

If we used classes, they would be:

[code]

@atsengucla @ccheung @loganfranken thoughts?

If we think we should always use class names, then I can refactor the existing elements. This pertains to #72 as well. I think I'm le

[2012-09-25 01:19] ebollens commented on #72
@loganfranken why are we using the `.button` class for the `button` and `input` elements? If we do that, then we should do the same for the `table` where we explicitly state `table.table`. Call this a stream on conscious, but actually I think I like using classes in all cases. It prevents us from taking over someone's intended styles. Let's discuss this issue here instead: #98 ... and for the time

[2012-09-25 01:20] ebollens commented on #98
If people wanted to have this "subsume" (such as styling `table` and `ul` without class names), we could provide an extension that does this. I know I'd use that extension if I was starting fresh, but I probably wouldn't use that extension if I was working on an existing site.

[2012-09-25 01:21] ebollens commented on #77
This is accomplished with a new `rake` directive (introduced in #78):

[code]

This will delete all package submodule check outs, requiring you to fetch them all again.

[2012-09-25 01:21] #77 closed, assigned to ebollens

[2012-09-25 01:22] ebollens commented on #89
With #78 resolved, we can now do this pretty easily. Moving it back a milestone however.

Didn't note this in the initial task, but this issue is courtesy of feedback from @alroman

[2012-09-25 01:23] ebollens commented on #62
This is actually a very old ticket, so I'd close it, except... #78 came out, which changed the architecture completely (even though the build outputs are accurate), so we need an update to the architecture documentation for this!

[2012-09-25 01:23] ebollens commented on #88
This should be completely resolved courtesy of #78, which reworked this completely.

[2012-09-25 01:23] #88 closed, assigned to ebollens

[2012-09-25 02:46] alicetseng commented on #98
Using explicit classes is the safest move. I'm for it. We should strive to do the least amount of un-necessary, unintended over-writes. It's the pattern that we see in the shift from "browser reset code" to normalize.

[2012-09-25 03:02] ebollens commented on #98
I'm in concurrence. @loganfranken thoughts?

[2012-09-25 15:47] ebollens opened #99 "Bootstrap JS and Images in New Rake Process"
Bootstrap should package custom JS and images either in the builder or the compiler.

[2012-09-25 17:15] loganfranken commented on #98
Yup, I'm for it too!

[2012-09-25 17:18] loganfranken opened #100 "Entity/Button"
Development task for `entity/button` (prototype issue: #72)

[2012-09-25 17:20] loganfranken commented on #72
Moved to development: #100

[2012-09-25 17:20] #72 closed, assigned to loganfranken

[2012-09-25 17:37] ebollens commented on #98
Added a **development** tag to this issue and I will make these changes in the existing implementations and prototypes.

[2012-09-25 17:48] loganfranken commented on #76
Blargh, I'm not sure if there's much we can do here, but jQuery complicates matters by having `git://` submodules. So, when running a fresh `rake`, I had to go back in and change those still. This then seemed to cause the build to hiccup while trying to find a compiled version of jquery in a `dist` directory; I ran `grunt` manually to get things running again.

[2012-09-25 17:59] loganfranken opened #101 ""can't convert Pathname to String" Error"
When trying to run `rake`, I was getting the following error: `can't convert Pathname to String`

I was able to fix it by changing the following line of code:
https://github.com/ucla/WebBlocks/blob/master/rake/build/blocks.rb#L308

From:

[code]

To:

[code]

Based on advice from this forum post:
http://blog.nikosd.com/2011/11/fix-ruby-19-cant-convert-pathname-to.html

But I don't know enough abou

[2012-09-25 18:09] ebollens commented on #76
Hmmm, that's a problem, and I don't think we can get around it. jQuery's submodules are its own submodules. Of course, if you're not compiling jQuery as a package, then it isn't a problem. If you are, though, oh well, then you need to have support for the `git://` protocol.

[2012-09-25 18:10] ebollens commented on #101
Makes sense, but I think the `to_s` call is in the wrong place.

The ultimate problem is that `WebBlocks::Util.dir_from_dir_stack_array` is returning a Pathname object in its recursive loop when in reality it should return a string (which would obsolete this issue completely). I'm going to see if making this change is a reasonable fix.

[2012-09-25 18:16] ebollens commented on #101
@loganfranken please check out 542167b and let me know if that resolves your problem.

[2012-09-25 18:20] loganfranken commented on #44
Hey @ebollens, I thought your comment implied that I should go with the second scoping option I presented, but I may have misunderstood. Let me know; otherwise, this should be ready to close.

[2012-09-25 18:23] loganfranken commented on #101
@ebollens Yup, appears to be working. Thanks!

[2012-09-25 18:25] ebollens commented on #101
Awesome, closing this then.

[2012-09-25 18:25] #101 closed, assigned to ebollens

[2012-09-25 18:28] ebollens commented on #44
@loganfranken no, I don't think it should go in the `-entity-table` mixin at all. Instead, I think it should be a new definition in the core definitions and then it should have its own top-level mixin that gets implemented. Take a look again at my example above. The reason I say this is that it establishes the `.highlight` class as a WebBlocks core defined class, rather than something that is just

[2012-09-25 18:33] ebollens opened #102 "Use systemu for Git Clones and NPM Invocations"
Right now, outputs are still unfriendly in some cases. This should be changed so that, in all cases, output from the shell commands is suppressed into friendly messages instead.

[2012-09-26 00:04] loganfranken opened #103 "Base Layout + Grid System Review"
I'm currently working on a redesign that uses Web Blocks and so I've reached a point where I would like to set a basic wrapper to contain the page's width:

http://twitter.github.com/bootstrap/scaffolding.html#layouts

Basically, following Bootstrap's convention, we would want the ability to:
1. Set a fixed width that doesn't shrink on smaller viewports
2. Set a maximum width that _does_ shrink on

[2012-09-26 15:31] ebollens opened #104 "Investigate Bower for Dependency Management"
Right now, dependency management isn't a big deal yet, since each third-party package is standalone. However, as we move forward, it might become important. @ilessing pointed out Bower (http://twitter.github.com/bower) so want to start there in the investigation. Unfortunately, though, that one is in Node rather than Ruby, so can't use it as a library but would rather have to call out to it, but s

[2012-09-27 18:45] ebollens opened #105 "Use Ruby Minifiers"
Why require Node.js if we don't have to?

Let's use Rubygems for minification (and optimization even?)

[2012-09-27 20:19] #102 closed, assigned to ebollens

[2012-09-27 23:25] peterm95018 opened #106 "rake aborted - no such file or directory, /WebBlocks/package/jquery/dist/jquery.min.js"
I've seen this error on two different machines today.

It appears that bundle is creating the directory, but failing to grab the jquery.min.js source file.

When I go grab the file and place it at /WebBlocks/package/jquery/dist/ and re-run bundle, I get a successful build.

Peter

[2012-09-28 05:33] loganfranken commented on #106
At least for me, this was the error resulting from the issue discussed in the last two comments of #76 (jQuery has `git://` submodule references). I was able to resolve this with the following process (I'm assuming one or more of these steps is actually unnecessary):

Change `git://` to `https://` in:

[code]

Then hop over to the `WebBlocks\package\jquery` directory and run the following:

[code]

[2012-09-28 06:47] ebollens commented on #106
While fetching a copy of the jquery.min.js file solves the problem in one case, I'd like to see if we can't figure out what's actually preventing jQuery from compiling. Basically, jQuery gets some submodules, runs NPM to install some packages, and then calls Grunt. Do we know what part of the process to do this is failing exactly?

In line with @loganfranken's question, are you sure you were able

[2012-09-28 16:21] peterm95018 commented on #106
I recreated a WebBlocks install to see if I could determine at which step the process fails.
At the rake step, it appears that grunt is installed at
/WebBlocks/package/jquery/node_modules/grunt
but the
/WebBlocks/package/jquery/dist directory is empty.

per @loganfranken, I've changed git:// to https:// at
/WebBlocks\package\jquery.gitmodules.
The file, WebBlocks.git\modules\package\jquery\config

[2012-09-28 16:35] ebollens commented on #106
Could it be that Grunt isn't getting called? That's where the `dist` directory is built from.

The call that WebBlocks tries to use by default:

[code]

Does this call work when you're in the `package/jquery` directory?

[2012-09-28 16:45] loganfranken commented on #44
Ahh, thanks for the explanation @ebollens: I think I'm starting to wrap my head around it. Does the most recent commit match with what you envisioned?

[2012-09-28 16:52] ebollens commented on #44
Exactly.

[2012-09-28 16:55] loganfranken commented on #44
Awesome; I'm closing this issue down.

[2012-09-28 16:55] #44 closed, assigned to loganfranken

[2012-09-28 17:46] ebollens commented on #96
This has been merged to master in a2906c6 and is now complete.

[2012-09-28 17:46] #96 closed, assigned to ebollens

[2012-09-28 17:54] ebollens commented on #98
For minimizing the amount of CSS required, I've used the `.table` selector rather than the `table.table` selector. This is to avoid the extra five bytes that come with specifying the element itself. However, by our prototype, we've defined the semantics, and unless we use `.table` is some context besides with the `table` element, this choice should be just fine.

Also, as a note, check out that co

[2012-09-28 18:01] ebollens commented on #98
This is now done.

[2012-09-28 18:01] #98 closed, assigned to ebollens

[2012-09-28 18:08] ebollens opened #107 "Build Script Process Files before Directories"
In the include stack, files should always be processed before directories. This means that we go from the vastest namespace to the tightest one, rather than the other way around. While generally the SCSS files with underscores go before directories, this isn't really filesystem ensured and the use of no underscore precludes this ordering. @nateemerson pointed this out when asking if we were buildi

[2012-09-28 18:11] #94 closed, assigned to ebollens

[2012-09-28 18:21] ebollens commented on #90
With the new build architecture, this sort of already happens:
- If you define a SASS file in the SASS sources folder, it will be compiled with Compass
- When the builder assembles the CSS files, it will append the compiled files to the `blocks[-ie].css` file(s)

However, while this is useful in some cases, it isn't the same thing as what we're looking for here. The idea here is that you could thr

[2012-09-28 18:31] #90 closed, assigned to ebollens

[2012-09-28 18:32] ebollens commented on #90
A new `src/sass/blocks` directory exists from which WebBlocks will suck all of the SASS files there into the WebBlocks import. It can be configured with a new config directive `WebBlocks.config[:src][:sass][:includes][:dir]`.

[2012-09-28 18:46] #99 closed, assigned to ebollens

[2012-09-28 18:55] ebollens commented on #95
Tried to implement it but found it not possible because of the way SASS works: the short answer is that the semantics of `@import` have been defined as different for `.scss` files than for `.css` files, but because SASS is a superset of CSS, they cannot change the semantics of `@import` for `.css` files. The full discussion is here: https://github.com/nex3/sass/issues/193

That said, the best I ca

[2012-09-28 19:32] #95 closed, assigned to ebollens

[2012-09-28 19:35] ebollens commented on #95
I decided to provide support for appended CSS sources, but _not_ to support appending CSS from adapters.

From the high level, there is a logical discrepancy in that adapters are supposed to define mixins and variables, and CSS isn't this. At the low level, there is also a problem with the load stack if we wanted to do this in that CSS is appended after the Compass compiler runs, and thus you'd ha

[2012-09-28 19:37] ebollens commented on #107
A demonstration of this problem can be seen in the log if you create a file like `z.scss`:

[code]

The order should put `z.scss` first in a BFS approach.

[2012-09-28 19:43] #107 closed, assigned to ebollens

[2012-09-28 19:44] ebollens commented on #107
Commit 1124f1a solves this so that now this test `z.scss` file occurs before subdirectories:

[code]

This allows us to build dependencies with the rule that inner can depend on outer.

[2012-09-28 19:44] ebollens commented on #105
More than just getting rid of a Node.js requirement, this also allows us to do minification without shell calls, reducing configurability requirements.

[2012-09-28 20:23] ebollens commented on #62
Decided the best way to get a jump on this issue, since we're going to need these docs long term, is to actually put the Markdown file in the repo, so I'm transferring it and modifying it simultaneously.

[2012-09-28 22:10] ebollens opened #108 "SASS Includes Directory Bug"
If the SASS includes directory is underneath the SASS source directory (as it is by default), the files in the SASS includes directory currently get loaded twice, once as an `@import` rule in the generated `_WebBlocks.scss` file and a second time as as an append, as Compass will compile them (in the event that they aren't prefixed with an underscore).

To resolve this, let's do a post-compile step

[2012-09-28 22:11] #108 closed, assigned to ebollens

[2012-09-28 22:43] ebollens commented on #62
This is now done and I've updated the wiki to point at the new files.

[2012-09-28 22:43] #62 closed, assigned to ebollens

[2012-09-28 22:48] ebollens opened #109 "Color Branding & Moods Strategy Implementation"
This is the implementation of the color strategy as discussed in #33 and defined here:
https://github.com/ucla/WebBlocks/wiki/Color-Strategy

[2012-09-28 22:49] ebollens commented on #33
I'm going to close this as complete. An implementation ticket #109 has been created and assigned to me with milestone of 0.1.01 (due in two weeks). My target is to complete it sooner than that.

[2012-09-28 22:49] #33 closed, assigned to ebollens

[2012-09-28 22:49] ebollens commented on #37
Please assign a milestone to this based on when you expect to have it complete.

[2012-09-28 22:50] ebollens commented on #32
Please assign a milestone to this based on when you expect to have it complete.

[2012-09-28 22:50] ebollens commented on #19
Please assign a milestone to this based on when you expect to have it complete.

[2012-09-28 22:50] ebollens commented on #18
Please assign a milestone to this based on when you expect to have it complete.

[2012-09-28 22:51] ebollens commented on #12
Closing this as a lingering ticket as it's already on to implementation by @loganfranken in #30.

[2012-09-28 22:52] ebollens commented on #105
I'm reassigning this to 0.1.05 milestone as it should be done before we launch but isn't critical to development.

[2012-09-28 22:56] ebollens commented on #103
Personally, I think we should only support responsive. Otherwise, we're going to end up having to implement a bunch more trickery as we're already developing a lot of elements with responsive in mind.

`.container` does work just fine for me on this. Personally, I think the default width should be auto with a fixed padding, but these should be made configurable.

[2012-09-28 22:57] ebollens commented on #100
Reassigning this one from @loganfranken to myself because I'm going to use it as a test case for color strategy.

[2012-09-28 23:11] ebollens commented on #56
Here's a good article on some of the optimizers and their effectiveness:
http://www.bloggingpro.com/archives/2006/08/17/css-optimization

The big question here is what are the conditions that cause them to fail and might we end up with any of these conditions in our CSS?

Almost as big a question is whether or not these will choke on our CSS such as IE-specific hacks that use an asterisk?

[2012-09-28 23:24] ccheung commented on #37
Sure - I think this implementation is close to completion (but correct me if I'm mistaken).  I think the only thing left is a discussion on which icons from Bootstrap we'd like to support.  The ones I've put into the implementation are listed above.

[2012-09-29 02:00] loganfranken commented on #103
@ebollens Alright, I'm with you on only supporting responsive. Depending on how media queries are applied to each entity, a fixed width implementation may not be that difficult as it would just be elements filling a fixed container (rather than a responsive container). But we can think about it once we're a little further down the line with the other entities.

Are you saying that the width would

[2012-09-29 07:07] ebollens commented on #56
None of these were sufficient as far as I could tell. Most of them were buggy and failed on CSS 3 properties. That said, I started trying to program my own optimizer. So far, I'm doing the following:
- Removes definitions that are overwritten by later definitions
- Consolidate selectors containing the same set of definitions

Moving forward, I'm also seeking a couple more goals:
- Create additiona

[2012-09-29 07:34] ebollens commented on #103
I much prefer width constrained by the container and not the row - however, I'd say that it's really up to the adapter to decide how exactly it is implemented, so long as the semantics hold.

[2012-09-29 15:16] peterm95018 commented on #106
cd `package/jquery`

[code]

aborts with error:

[code]

re-ran with `--force`
`dist/jquery.min.js` has now arrived.

wiped out WebBlocks, rinse, lather, repeat. same result

[2012-09-29 17:04] alicetseng commented on #32
I'm pretty close to finish on this one -- as we discussed in pure css (staying as true to Bootstrap) as possible (leaving the final SASS mixins to be written).

Only issues outstanding are the ones with Bootstrap using wrapper divs for their basic/core grid layout constructions and in some cases as a legitimate cross-browser fix. See this outstanding question on #31. Let me know how you guys want

[2012-09-29 17:07] alicetseng commented on #103
so Bootstrap's latest version has .container-fluid with .row-fluid : http://twitter.github.com/bootstrap/scaffolding.html#fluidGridSystem . This is what I've been protoing on.

[2012-09-29 17:09] ebollens commented on #106
@peterm95018 looks like I may have tracked down what could be causing this... Lemme put together a commit.

[2012-09-29 17:35] ebollens commented on #106
@peterm95018 please update to 5d2f11c and let me know if that resolves the problem.

[2012-09-29 21:51] ebollens commented on #103
I think we should seek a prototype like this:

[code]

And then if we wanted the container to be a fixed size rather than fluid:

[code]

The reason I say this is basically that I think our rows should always be `.row-fluid`, a la using percents instead of pixels to define widths. If we want a fixed feel, we can achieve it simply by fixing the width of the container. The reason I say we don't want

[2012-09-29 23:08] ebollens commented on #56
For the goal of "Create additional selector sets to minimize duplication of a definition", I started with this premise:
- A set of rules are movable if they are longer than the name of the selector.

As a test, I wrote a version that simply found possible moves and counted them and I came up with a total of 674 possible places where relocation of rule(s) is advantageous (out of 1005). While some o

[2012-09-30 02:20] ebollens commented on #56
The strategy I listed in the previous approach brought 116 kb down to 113 kb, but it did so with some risk because it doesn't currently handle the star rules problem. It doesn't seem to break anything in the WebBlocks compile, but that doesn't mean it's actually harmless.

Some time metrics running my approach against WebBlocks:
- Remove Skipped Rules 1274 (1.2 sec)
- Merge Duplicate Rules 162 (0.

[2012-09-30 17:59] alicetseng commented on #103
So I do think that we should keep the name .row.

This is the reason. If you look at the css declarations in the class — it's not simply floating and width setting, but also contains important code to clearfix cross-browser and off-set padding/margin that needs to happen in order for children elements to be rendered consistently (only needed when you try to use float technique for positioning).

A

[2012-09-30 19:47] ebollens commented on #103
Hmmm okay that makes sense @atsengucla

What are your thoughts on `.container` class?

[2012-10-01 03:19] alicetseng commented on #32
Proposing we re-scope the prototype for masthead.

In the original, the masthead wraps nav main and nav top. In implementing this --  this creates issues due to the nesting orders that Bootstrap is setting - with .navbar often wrapping logo and the bar top and bar main needing to span the full width of the page.

There's a strong pattern across many websites that a nav top and primary nav sits out

[2012-10-01 06:33] alicetseng commented on #103
hi @ebollens. I think .container is a logical name for a wrapping container.

However, I think the distinction between .float-container and .container could get confusing if we're not careful with our distinctions.

If we are using the class .float-container than we need to be careful when we're talking about a Grid system that uses all floats as its primary layout mechanism.

If I saw .float-cont

[2012-10-01 16:04] ebollens commented on #103
@atsengucla the reality of it is that `.row` and the Base/Entity `.float-container` class are basically the same thing in that they both are essentially an `overflow: auto` container for a set of floated elements. Maybe we just drop `.float-container` altogether, at what it does essentially describe is a row - although I will point out that the `.row` that Bootstrap provides, like the `.float-cont

[2012-10-01 16:06] ebollens commented on #103
Also, what do you think of something like `.four.columns` instead of `.span4`. I will say I think `.span4` is definitely _not the right way_ to do this. A span already has a meaning in HTML, and the class has nothing to do with its HTML meaning. To tell you the truth, I'm not quite a fan of either, but I don't really have many good ideas on this one.

[2012-10-01 16:12] modernrockstar commented on #103
Is the convention in other frameworks to use .spanX?

Is there a limitation to using a new convention of spelling out column number names?

From: Eric Bollens <notifications@github.com<mailto:notifications@github.com>>
Reply-To: ucla/WebBlocks <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, October 1, 2012 9:06 AM
To: ucla/WebBlocks <WebBlocks@noreply.github.com<mailto:WebBlo

[2012-10-01 16:34] ebollens commented on #103
@modernrockstar there's no "convention" around using `spanX`. It's just what Bootstrap uses, and given its recent popularity, it's the one on everyone's mind. However, I really don't think it's semantically accurate.

Here's a breakdown of what each framework I listed above uses:

Gridpack:
- `.col.span_X`

Semantic Grid System:
- Provides SASS mixins that generate spanning in actual elements inst

[2012-10-01 16:34] alicetseng commented on #103
I'd have to spend more time looking at the other frameworks – but I agree that spanX is an odder naming convention.
Columns makes more ready sense to me, when you're talking about layout.

Personally, I feel that Foundation's grid is much more elegant – especially when dealing with % based grids, but again — I think it would be good to review at least 5 popular systems to see what conventions are

[2012-10-01 16:55] loganfranken commented on #32
Hey @atsengucla, I hope this was alright. I wanted to tack your e-mail to this issue so we could have it all in one place (if it's not alright, please feel free to delete my comment):

[2012-10-01 17:10] alicetseng commented on #32
thanks @loganfranken!
Also, just thought of these other alternate possibilities:
A. Letting .masthead support both header | li - as in the second case I mentioned above - it would be more semantic for it to be a li if wrapped by a nav > ul
B. Dropping the second case and saying -- the scope of masthead really only applies to the header element and in the second case what we really have is a plain

[2012-10-01 18:44] loganfranken commented on #103
I'm changing the title of this issue as we've veered slightly off topic into the broader grid discussion (which is a good thing). I'm not sure if we have enough research here to make a decision about the base container or if we have decided that the base container and grid system are too tightly coupled to implement separately?

At least as far as the base container discussion, I think a responsiv

[2012-10-01 18:46] ebollens commented on #32
@atsengucla I'm fine with the proposed rescope here:

[code]

However, I don't understand this prototype:

[code]

In this example, is the only element inside the `header.masthead` the `h1`? If so, whi isn't this just the main nav bar's title element and masthead is dropped altogether? I'm also unsure of the semantics here. Looks like you're simply providing a header to the nav bar, not a header t

[2012-10-01 18:49] ebollens commented on #103
@loganfranken as far as I see it, you could implement `.row` with or without a base container (so they're not tightly coupled). If a base container is implemented, then `.row` would go to fill it in or else it would fill in whatever the width of its containing element is. So yes, then we need to come up with a maximum width that feels good for the base container, and then `.row` can adapt to it.

[2012-10-01 19:07] alicetseng commented on #32
You're totally right on the second point re the semantics.

I was feeling that the second one seemed forced in trying to make this masthead entity apply to all cases. That really, when we're talking about a minimal navbar, the most semantic would be the following:

[code]

This is how they do it for both foundation and bootstrap.

Incidentally, when I scraped through Bootstrap's own homepage they

[2012-10-01 20:58] alicetseng commented on #103
Wiki page created here for Grid Strategy: https://github.com/ucla/WebBlocks/wiki/Grid-Strategy

[2012-10-01 21:00] alicetseng commented on #3
Assigning masthead prototype to me, following agreement to re-scope masthead. Refs Ticket #32.

[2012-10-01 22:39] alicetseng commented on #3
@ebollens @loganfranken this prototype and README has been updated; please vet and I'll close it and move on to finish the implementation.

[2012-10-01 22:47] alicetseng commented on #31
Notes: From meeting today 10/01 it was decided that the issue (above-- IE gradient/ filter + float bug) would be addressed with javascript to write the wrapper div class specifically for IE+ rather than introduce a wrapper div (navbar-inner). It was also agreed upon to open a separate implementation ticket to track this.

[2012-10-01 23:46] loganfranken opened #110 "Base Layout Class"
This is the implementation issue for the base layout class (discussed in #103).

Need to create a `.container` class with a fixed maximum width. Maximum width should be configurable and should be listed as such in `/src/sass/_variables.scss`. Actual implementation should exist in `src/core/definitions/base/structure/_container.scss`.

We may want to discuss common breakpoints in the future (in whi

[2012-10-02 16:28] loganfranken commented on #3
Hey @atsengucla, this looks good to go although there are just a couple minor formatting errors with the README.md

[2012-10-02 21:30] loganfranken commented on #67
This is pretty much finished (barring review), but there are a couple issues I need to tackle:

### Right Alignment

I need to integrate Bootstrap's right-aligned blockquote. Bootstrap floats the blockquote to the right (as well as right-aligns the text), but I don't know if that is entirely necessary. Right-aligning the text should be sufficient (and wouldn't bring along float side effects).

Sho

[2012-10-02 21:50] ebollens commented on #67
If you're just trying to provide a left-aligned block quote, is there any reason you can't just use the `.text-right` class that's already in WebBlocks? If that's fine, then simply skip this completely.

I think callout is a broader theme than just blockquote, so we should probably tackle it separately. The point you raise about responsive gets right at that fact. Let's hit it separately.

[2012-10-04 17:36] loganfranken commented on #67
@ebollens That all sounds good to me!

Updated the prototype/template to reference `.text-right` since I want to explicitly show how we handle Bootstrap's use cases. Closing this and moving the remaining callout discussion into a new issue

[2012-10-04 17:36] #67 closed, assigned to loganfranken

[2012-10-04 17:45] loganfranken opened #111 "Callout Elements"
While working on blockquote (#67), I needed to create a "callout"-style blockquote that would be floated either to the left or the right and have a smaller width.

An example can be seen here:
https://github.com/ucla/WebBlocks/blob/master/template/entity/blockquote/-ex-img-callout.png

It's likely that other elements will have similar needs. There are two basic issues to address here:
1. How do we

[2012-10-04 18:01] loganfranken commented on #110
Until we have a broader universal breakpoint discussion, I'm setting this at the popular 960px.

[2012-10-04 18:01] #110 closed, assigned to loganfranken

[2012-10-04 18:03] loganfranken commented on #103
Any objections to closing this issue and creating a (1) grid system issue and a (2) default breakpoint issue?

[2012-10-04 18:21] loganfranken opened #112 "Alternative List Style Type Shortcuts"
Foundation provides some shortcuts for triggering some of the alternative `list-style-type` values for lists (http://foundation.zurb.com/docs/typography.php).

I'm not really a fan of the list types they chose, but I _do_ like the idea of maybe providing a shortcut for activating the `upper-roman` and `lower-roman` types:
http://jsfiddle.net/ksfpg/

Here's the full list of types:
https://developer

[2012-10-08 16:54] loganfranken commented on #60
The most straightforward option to choose would be the **Phark** method:

[code]

There was some concern that this has performance problems on iPad 1 (http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/), but the actual significance of those issues are questionable (https://github.com/h5bp/html5-boilerplate/issues/1005).

Nicholas Gallagher proposed a **font-squishin

[2012-10-08 17:51] loganfranken commented on #65
This has been implemented. I wasn't sure if the adapter mixins should explicitly declare the class they are hooking into? For example:

[code]

There wasn't any technical need for this (Bootstrap uses the same CSS classes in this case, so all of the styles come along for the ride without doing anything), so I left it out:

[code]

Unless there are any objections, I'm going to go ahead and close th

[2012-10-08 17:53] loganfranken opened #113 "Grid System"
Web Blocks will need a grid system.

The discussion was started in #103

Wiki article here:
https://github.com/ucla/WebBlocks/wiki/Grid-Strategy

[2012-10-08 18:29] loganfranken opened #114 "Default Breakpoints"
(Discussed in #103)

Although it is generally considered best practice for responsive layouts to adapt to _any_ viewport, it can sometimes be easier (from the standpoint of creating a generic framework) to establish a few standard breakpoints.

Examples from other frameworks:
- Bootstrap: http://twitter.github.com/bootstrap/scaffolding.html#responsive
- Skeleton: http://www.getskeleton.com/#mediaQ

[2012-10-08 18:31] loganfranken commented on #103
I want to keep moving forward, so I created both the issues. I'm closing this issue now; feel free to close/delete/open/eat/hug any of the issues if you disagree.

[2012-10-08 18:31] #103 closed, assigned to loganfranken

[2012-10-08 18:41] ebollens commented on #103
Sounds good!

On Oct 8, 2012, at 11:33 AM, "Logan Franken" <notifications@github.com<mailto:notifications@github.com>> wrote:

I want to keep moving forward, so I created both the issues. I'm closing this issue now; feel free to close/delete/open/eat/hug any of the issues if you disagree.

—
Reply to this email directly or view it on GitHubhttps://github.com/ucla/WebBlocks/issues/103#issuecomment-

[2012-10-08 18:48] loganfranken commented on #112
I implemented this to include `lower-roman`, `upper-roman`, `upper-alpha`, and `lower-alpha`. I'm still debating this with myself, but I feel that whether or not a list is using alpha or roman for the item markers is actually a semantic consideration (or at least _very close_ to one) that would be appropriate referenced in the markup.

`disc`, `circle`, and `square` would gross me out as shortcuts

[2012-10-08 19:30] ebollens commented on #112
I like the Roman and Alpha.

However, another thing we might want to consider is handling `ul` and `ol` outlines where different levels of `ul` and `ol` actually receive different treatments concerning which one they use so you have like I. 1. A. i. or something like that for multiple layers of cascade. Dunno, just an idea.

[2012-10-08 19:45] ebollens commented on #114
I think my thoughts align with yours:
- For some elements, it makes sense to respond when necessary (like the nav bar should turn to a drop down when it overflows, not at some arbitrary size like it does in Bootstrap). There's some pretty simple overflow code that can detect this sort of thing.
- There are still some general use cases where breakpoints do make sense, such as with grids themselves.

[2012-10-08 20:31] alicetseng commented on #114
I'm in favor of both a default set of breakpoints for the grid and for utility hiding classes. The point of a grid framework is to get users 80% of the way there -- with the standard expectation that they should be adding their own customizations to taylor fit to their specific content needs.

I think we're on the same page ... just one point:
I think that for the library to do this elegantly, the

[2012-10-08 20:34] ebollens commented on #114
We also should try to keep the number of breakpoints small. I personally think two breakpoints (like the ones I established) are plenty. Any more and it starts getting confusing. That's a peeve of mine with Bootstrap, although I don't think we can normalize it :(

[2012-10-08 21:19] ebollens commented on #109
Boy this implementation is trickier than it looked at first...

[2012-10-08 21:23] loganfranken opened #115 "No Entity Class Name Extension"
I'm not sure if this is too early for this, but I'm working on a project using Web Blocks where I'm starting fresh and I would like to use the entities without the explicit class name (from #98).

There was talk of an extension that would allow for this; I feel like this is something we definitely want in the first release (since someone integrating Web Blocks into an existing project would probab

[2012-10-09 23:45] ebollens commented on #109
Mood-based backgrounds are now pretty much implemented.

[2012-10-09 23:48] ebollens commented on #100
Mood-based backgrounds on buttons are now pretty much implemented with the exception that the Bootstrap adapter does not let you change the border color of the buttons given a CSS ordering issue. If we added an !important flag, we could overcome this, but that's not proper CSS convention, so I'll have to look more at this later. Creating a different issue for this.

[2012-10-09 23:48] ebollens opened #116 "Bootstrap Adapter Border Color Control on Buttons"
Buttons cannot currently have a different border color in the Bootstrap adapter implementation (see #100 for original context).

[2012-10-10 01:11] ebollens commented on #109
The changes I made to tables killed performance unreasonably, raising the total size from 135 KB to 190 KB - which is crazy! As such, I'm removed them in favor of a strategy that requires you to you to state `td.background.warning` instead of `td.warning`.

[2012-10-11 19:27] ebollens commented on #115
I'm +1 on this and will implement it now for the entities that we've got thus far. Assigning to myself.

[2012-10-11 19:43] alicetseng commented on #114
thoughts on this -- is there a way to define breakpoints as vars that a SASS user can change to their specs?

[2012-10-11 20:21] ebollens commented on #114
Yes, there is. I've already done exactly this for our responsive visibility classes...

Here's the code definition itself:
https://github.com/ucla/WebBlocks/blob/master/src/core/definitions/base/visibility/responsive/_hide.scss

[code]

You will note that there isn't actually anything responsive here. However, I wanted to show it for context. This is a core definition, for exactly this reason, bec

[2012-10-12 00:00] ebollens opened #117 "Polyfill for button[type=submit]"
In working on color, it has dawned on me that if you want to put a mood on a button and a different mood on the text of the button, you have to use the `a` or `button` tags and not the `input` tag because you cannot put a tag legally inside of the value attribute and expect it to render. As such, we should make sure to support `button[type=submit]` (and also `button[type=reset]`) where they are no

[2012-10-12 01:26] ebollens commented on #109
As an aside, the code changes in here have increased the total size to 170 KB from approximately 130 KB. HOWEVER, using https://github.com/ebollens/CSSOptimizer, that size is reduced to 135 KB by removing redundant rules and joining duplicate selector sets with the same rules in them that don't have the `class*=` selector problem - which I guess is a majorly good reason for us to include such an o

[2012-10-12 01:28] ebollens commented on #109
I've moved this to milestone 1.0.02 since there are a lot of things still to be done that won't get finished in a day. Turned out to be quite a beast of a task.

[2012-10-12 14:37] jeffpignataro commented on #111
The example you have there is about 30% the width of the outer container. That seems like a pretty good way to define it. Of course we can use pixel width instead of a percentage, but if we always assume that it's going to be 30% of it's parent then I think that would work pretty well.

As you get to the small viewport sizes, I imagine these element would not be displayed? Or at least would end up

[2012-10-12 15:42] alicetseng commented on #111
Hi @loganfranken.
Can we just leverage the nested grid span class to handled the width? I think that's a more robust approach rather than setting a width directly on the blockquote element. So you can have something like:

[code]

Not every user wants a blockquote set at 30% -- some may want it set at 60% hence

[code]

Yet, 30% is a safe default. If we handle the default width and the responsive

[2012-10-12 15:48] jeffpignataro commented on #111
That's an excellent idea. I think this dovetails with the grid system discussion in [#113](https://github.com/ucla/WebBlocks/issues/113). But, I think this would be the most appropriate and flexible system to allow the user to determine the size of the element and manage the responsive layout of the element.

[2012-10-12 16:08] alicetseng commented on #111
I agree we need to finish up the grid system  #113 . I have blocked time in my calendar this weekend to start posting some ideas. I do believe that having the responsive defaults and grid elements set up would really simplify the development of a lot of these entities -- as usually, placement/layout is the biggest challenge from the css perspective.

[2012-10-12 16:21] alicetseng commented on #111
Sorry it's in email form- but I don't know how to attach a zip file as a Git comment.

Here's my very rough example in code {note the names are not semantic} as this is just a demo proto I've been working
on for our team (code is still somewhat hacky too). But, this should serve as enough to illustrate the idea of leveraging the grid for default widths and
responsive behaviors and how the end user

[2012-10-12 17:24] loganfranken commented on #114
I'll swing back to implement this, but I wanted to do a little research while I think about the best default values for the breakpoints:

### Bootstrap

(Source: http://twitter.github.com/bootstrap/scaffolding.html#responsive)
- 1200px
- 980px
- 768px
- 480px

### Skeleton

(Source: https://github.com/dhgamache/Skeleton/blob/master/stylesheets/layout.css)
- 960px
- 768px
- 480px

### CSS Horus

(S

[2012-10-12 18:33] ebollens commented on #114
I think we should seek out three breakpoint values:
- `$breakpoint-small` - below this, we assume handheld-style devices
- `$breakpoint-medium` - from the small breakpoint to this one, we assume tablet-like devices
- `$breakpoint-large` - above this, we assume super wide displays where we might need to make things even more columnal (although this is kind of the unknown frontier)

Maybe I picked t

[2012-10-14 04:27] loganfranken opened #118 "Outline List Style"
As suggested by @ebollens in #112, we should investigate whether or not it would be helpful to create support for outline-style lists (i.e., change the list style type based on inner list depth). For example:

[code]

This would be straightforward to implement: it might be easiest to create a separate `.outline` class to trigger this sort of styling rather than applying it automatically.

[2012-10-14 04:28] #112 closed, assigned to loganfranken

[2012-10-14 04:38] #65 closed, assigned to loganfranken

[2012-10-14 06:54] loganfranken commented on #60
I implemented this using the Phark method (with enhancements from HTML5 Boilerplate).

I played around with the alternative method proposed by Gallagher above. As far as I could tell, you had to provide either a `display: block` or a `display: inline-block` in the CSS declaration for each element using image replacement. With the Phark method, `display: block` is part of the main declaration, so y

[2012-10-14 06:54] #60 closed, assigned to loganfranken

[2012-10-14 07:08] alicetseng commented on #113
Just posted proposal after reviewing 7 Grid Systems. Proposal and Notes located here: https://github.com/ucla/WebBlocks/wiki/Grid-Strategy

[2012-10-15 02:56] ebollens commented on #113
@atsengucla took some time to read through all of this. My thought is to slate this as a major item for tomorrow's meeting.

[2012-10-15 03:15] ebollens commented on #106
@peterm95018 please clarify if this solved the problem.

[2012-10-15 16:38] ebollens opened #119 "Add build_css Compiler Options"
Right now, we do a ton of packaging every time. When you're developing CSS, sometimes you'd only have an interest in rebuilding the CSS. Therefore, let's add a build_css option that just rebuilds the SASS.

[2012-10-15 16:48] loganfranken commented on #119
I realize this isn't constructive, but: oh man, yes, please add this; this would be awesome.

[2012-10-15 17:10] ebollens commented on #119
Actually @loganfranken, it gives me inspiration to do this sooner rather than later ;)

[2012-10-15 17:50] ebollens commented on #109
I have completed the branding and moods color implementation.

To use one of these as a background, simply cast it directly on an element such as `td.primary` or `button.success`. To instead only style the color on text, use it instead as `span.required.text`. I also provided some default values, but of course we'll want to redefine these later as a WebBlocks pallet (and each university will almos

[2012-10-15 17:50] #109 closed, assigned to ebollens

[2012-10-15 18:03] #119 closed, assigned to ebollens

[2012-10-15 18:05] ebollens commented on #119
@loganfranken I've added a `rake _build_css` task. I do not think we'll leave this in for the production release, but rather might refactor one to make more sense. I've prefixed it with an underscore for this reason. However, for the time being, feel free to use it to speed up your SASS coding. It might actually come in useful too for later implementing watch-like functionality (see #80).

[2012-10-15 18:11] ebollens opened #120 "Entity/Form Prototype"
We should develop a form strategy. Bootstrap's does not necessarily make sense, so I will start by researching other options.

[2012-10-15 18:14] ebollens opened #121 "Entity/Button/Group Prototype"
We need to support button groups, a common pattern in user interfaces.

Here's Bootstrap's version:

[code]

I'm not sold on this, but maybe this is actually part of a larger "group" pattern. The question is, are there other things that also need groups? If so, then maybe we support them that way. I'm going to look at other options out there and will then propose a strategy.

[2012-10-15 18:15] ebollens opened #122 "Labels and Badges"
Bootstrap provides labels and badges:

[code]

I'm unsure from a usability perspective really what the difference is - because I could use either of these to accomplish either functionality. Is there a common name that is covered for both? This is something I'll go look at some other frameworks on and then propose a strategy.

As a note, these will automatically support all of the color controls t

[2012-10-15 18:17] ebollens opened #123 "Entity/Message Prototype"
I don't particularly like the Bootstrap `alert` approach, since it's not so much of an alert as just a message. Will look at some other strategies and then propose a solution. Of course, these will support the color strategy in #109 with all of our color options.

[2012-10-15 18:18] ebollens commented on #123
Also, close box should be considered as something that is automatically laid in. This will be a Javascript or CSS `:first-child:before` component probably.

[2012-10-16 02:44] ebollens commented on #113
I have committed a version of the fluid grid.

A few mechanics to consider...

There are three control variables:

[code]

Generally, I would recommend only modifying `$structure-panels` and `$structure-panel-gutter`, as the last one is derived as a division of the panels being considered while excluding the sum total of the gutter widths.

Based on this, we then get the following:
- `.row` a cont

[2012-10-16 17:05] daryl-williams commented on #106
While building a clean install of WebBlocks I got this error today, Tue. Oct.16. I have verified that the rake/build/package/jquery.rb file has the 5d2f11c patch.

[2012-10-16 17:43] ebollens commented on #106
Hmmm, it appears that this is being caused by the following error:

[code]

I tried updating to a later version of jQuery, hoping they had solved the problem, but unfortunately it looks like it persists as late as jQuery 1.8.2, the latest release version. That said, jQuery pretty much isn't building nicely with its own build tools, so we are going to need to look at using the `--force` flag by def

[2012-10-16 17:45] ebollens commented on #100
Buttons are working for mood and branding colors, so closing this issue.

[2012-10-16 17:50] ebollens opened #124 "Color Palette for WebBlocks Core"
@atsengucla would you be willing to take up the task of defining the hex values for the WebBlocks color palette?

We will almost certainly have to define them a bit differently for UCLA, but it would be nice to have a default set for when people initially download WebBlocks - right now, I'm mostly using the Bootstrap values, but where there weren't any, I either winged something or just duplicated

[2012-10-16 17:52] daryl-williams commented on #106
I just did another pull of the repository and am still getting the same problem. The pull reported:

From github.com:ucla/WebBlocks
- branch            master     -> FETCH_HEAD
  Updating 7fdf7b2..c798796
  Fast-forward
  doc/Configuration.md |    2 +-
  rake/config.rb       |    2 +-
  2 files changed, 2 insertions(+), 2 deletions(-)

and the rake:

[Rakefile] init
[Rakefile] build
  [Builder] Se

[2012-10-16 18:21] alicetseng commented on #124
Sure. I have time scheduled this week for WebBlocks. I can get to this task this Friday- does that work for you?

[2012-10-16 18:25] ebollens commented on #124
Yeah, that definitely works. It's no rush on this - not a critical thing like getting masthead CSS stuff defined - but rather just something we need at some point before launch. Figure it's probably more fun though than coding a ton of CSS ;)

[2012-10-16 19:12] #113 closed, assigned to ebollens

[2012-10-16 19:13] ebollens commented on #113
My latest commit b109f52 adds grid supports to WebBlocks core, although both mixins are overwritten by the Bootstrap adapter in Bootstrap's case - and will probably be overridden in most other adapters as well.

[2012-10-16 19:21] ebollens opened #125 "Move Documentation to Codebase"
We've accrued a good amount documentation in the wiki, a lot of prototyping, some discussion and then also some actual definitions. However, the reality of the matter is that we also need user-friendly documentation that rides along with the code base itself. Might be able to draw this out of the prototypes folder in some cases, but going to try to cannonize it in the `/docs` folder in a user-frie

[2012-10-16 19:37] ebollens commented on #46
@loganfranken just so you know, I'm going with `extend` as the name of the namespace for these sorts of advanced features.

[2012-10-16 21:28] ebollens commented on #125
As with 12c3704, currently working on doing some revisions to the base docs now that I've moved them over. I symlined the README.md files to their new location in the `/doc` folder.

[2012-10-16 23:39] ebollens commented on #113
I've updated the documentation for the Grid system based on this.

[2012-10-16 23:40] ebollens commented on #125
_sigh_ doc writing is tedious.

[2012-10-17 00:17] ebollens commented on #86
As a note, I've put `Gallery` inside of `Entity`. However, we may want to break this out at some point so that it's actually two components, `Entity/Gallery` and `Extend/Entity/Gallery` where the latter is the fancy JS stuff.

[2012-10-17 00:17] ebollens commented on #85
As a note, I've put `Billboard` inside of `Entity`. However, we may want to break this out at some point so that it's actually two components, `Entity/Billboard` and `Extend/Entity/Billboard` where the latter is the fancy JS stuff.

(this is the same message as I just put in the Gallery issue as well)

[2012-10-17 18:21] ebollens opened #126 "No-Media-Query Class"
Need a tag like this kind of like a no script tag for no media queries.

[2012-10-19 00:14] alicetseng commented on #31
@ebollens and @loganfranken - please see uploaded navbarCSS in template/entity/nav/bar/navbarCSS. There's quite a bunch of children and dependencies that will be affected by our change of names and nesting logic. So much that I needed to add a spread sheet to manage it. So -- we might want to think this one through a bit. It's doable as the demo shows  -- but we'll need to find a way to manage all

[2012-10-19 00:16] alicetseng commented on #31
to access download the whole navbarCSS file and open html page in browser (works in Chrome & FF) - will not in IE since we broke the navbar-inner wrapper for their IE hack.

[2012-10-19 00:22] alicetseng opened #127 "JS implementation to write extra markup structure for IE only"
Refs #31
Twitter Bootstrap uses a navbar-inner wrapper div as a work-around to prevent IE from breaking when gradients+overflow are clashing on the same entity. This is a known/documented work-around. WebBlocks has chosen to take a JS + IE Only stylesheet to address this. Will need this implementation, otherwise navbar will break in all IE.

[2012-10-19 02:40] ebollens commented on #127
@atsengucla please provide the prototype without this, and then just in this ticket give me the markup that I need to add and the IE CSS needed. This will be easy enough to add in via Javascript to fix IE.

[2012-10-19 02:43] ebollens commented on #31
@atsengucla completely understandable that we skip `@extend` on this one - I was pretty much already expecting this.

@loganfranken want me to take this one since I already volunteered to write the responsive switcher?

@atsengucla as I mentioned in the other issue #127, please let me know what I need to go to polyfill for IE.

[2012-10-19 16:23] alicetseng commented on #31
@ebollens and @loganfranken - yep. I can work on the IE stylesheet - but before we proceed -- can we clarify the naming conventions so I can check that I'm on the right track?

I added an explicit .-nav and also an explicit .-linklist which both I feel are beneficial to supporting the full use-cases for navigation and (list of links) use-cases (see my notes in demo code). Are these good by your re

[2012-10-19 16:34] alicetseng commented on #127
sure. will upload it to the same template (navbar) in an IE sub-directory.

[2012-10-19 23:49] alicetseng opened #128 "Rake with Debug Configs trigger error"
Hi @ebollens can you confirm this isn't user error on my part? It may very well be as I'm unfamiliar with all this syntax.

Previously, with the old version of WebBlocks I was able to insert and save a config line in Rakefile-config.rb to produce an unminified css file for WebBlocks.

Here's the snippet: WebBlocks.config[:build][:debug][:enabled] = true

Following upgrade to the new version of Web

[2012-10-20 00:02] ebollens commented on #128
@atsengucla can you please provide your config file?

[2012-10-20 01:02] alicetseng commented on #128
sure here's what was in the config file:

[code]

[2012-10-20 02:44] ebollens commented on #128
Oh, I see the problem. It should be this:

[code]

I announced this change when I updated the build architecture a few weeks back.

You can find a full list of configuration options here:
https://github.com/ucla/WebBlocks/blob/master/doc/Configuration.md

[2012-10-21 02:03] alicetseng commented on #128
hmmmm. OK so the error stream is gone and I can run rake -- but I'm unable to locate the un-minified css files. Am I missing something? I get the minified versions out-putted but can't find the other set. Before these file would get outputted to the build directory -- was it just changed to another directory?

Just wanted to view the color entities in full CSS context (not SASS) so I could work on

[2012-10-21 04:59] ebollens commented on #128
Oh the new builder just puts the unminified version in the place where the minified version would usually go. Is it not there?

[2012-10-22 01:50] alicetseng commented on #128
Hi. nope. I'm not sure if I'm doing this wrong. Add script in config file. save. rerun rake. check build directory -- just have minified versions of css.

[2012-10-22 16:55] ebollens commented on #128
@atsengucla, here's my config file:

[code]

After I call `rake`, I end up with the file `build/css/blocks.css` uncompressed such that it reads like this:

[code]

[2012-10-22 22:32] alicetseng commented on #128
hmmm. I can't reproduce what you're getting. I've double-checked my line in the config file. It's exactly like what you listed and when I run rake I get a different output for for build/css/blocks.css.

WebBlocks.config[:build][:debug] = true

What am I doing that's different? To double-check -- is it the Rakefile-config.rb file that I'm adding the line to?

Is there anything else that I can do to

[2012-10-23 16:34] ebollens commented on #128
There should not be a cache to clear, but please issue the following:

[code]

Then go ahead and make sure the config is set as described and try again.

If that still doesn't resolve the issue, going to ask that you send me a zip of your repo.

[2012-10-23 17:33] alicetseng commented on #128
hi @ebollens so just did the above and got the jquery dist missing file error (this is normal -- happens every time), manually create a dist directory and put jquery.min.js in the directory (error message asks for dist/jquery.js) but that's the only one I get when I download jquery (dev or production doesn't matter) -- somehow I only have the jquery.min.js file to grab. But, this was also normal t

[2012-10-23 18:23] ebollens commented on #128
Looks to me like there was something strange in the way the repo was behaving. However, once I did a reset, a fresh pull, rolled back some changes (as the one you sent me had submodules in a weird state), reran bundle, and then ran the builder again, everything seems to have worked correctly. I am going to send you the working build back.

[2012-10-24 06:10] alicetseng commented on #127
@ebollens OK. IE only code has been uploaded to the template folder. Basically, there needs to be an extra child div (which I named chrome - since it just contains the gradient and outline effects of the bar). Tested fine on IE and things are looking OK. IE 8 will break in the element with the footer but that's due to IE 8 not understanding the html5 entity footer. so won't be shimmed here since i

[2012-10-24 19:14] alicetseng commented on #124
@ebollens -- quick check in on this task. digging through the file to wrap my head around the logic but I'm a little fuzzy on what the overall scheme is. Can you clarify for me? For example what is the function of the foreground and background settings for text colors? Is this an information hierarchy thing? When I see background/foreground my first instinct is to think foreground values for text

[2012-10-24 19:15] alicetseng commented on #128
Thanks for sending the fresh directory. Got the css file I needed. Not sure what when wrong with the build but I appreciate the help.

[2012-10-24 19:15] #128 closed, assigned to ebollens

[2012-10-24 19:27] alicetseng commented on #31
quick checkin. @ebollens and @loganfranken -- can you let me know if this is on the right track? I want to move on to finish off masthead's css files and scratch that off the to-do for this milestone 10/27. Just want to confirm that the this is a sane approach. The dependencies are cross-referenced from .-masthead and .-nav .-bar. Also, is .-nav and .-linklist a go? As .-linklist will be a child o

[2012-10-24 22:33] ebollens commented on #31
@atsengucla you are definitely one the right track with this characterization:

I've taken a look at the bits you've implemented at it looks solid. I've been horribly bogged down with other work, but I'll shift over to this tomorrow and get it transferred into SASS and I'll let you know if I run into any problems along the way. I should have more concrete feedback then.

After I do the transfer in

[2012-10-24 22:43] ebollens commented on #124
@atsengucla a good way to get a feel for it is actually just change a set for one and see what happens in `/demo/base/color.html`. However, the naming scheme I used follows this convention:
- Background is considered the default application of color
- `.text` says to instead color the font and leave the background alone

This decision was made for performance reasons (see the initial ticket on imp

[2012-10-25 00:42] alicetseng commented on #31
cool. no worries -- can completely understand being bogged down. Just wanted to make sure before I did the same logic to masthead to get a sanity check. alright-- I'll move on and do the same with the masthead -- implement css applying the same logic and leave you a spreadsheet with SASS bits if I see anything re-usable. Then I'll tackle the color ticket.

[2012-10-25 17:55] ebollens commented on #31
@atsengucla so far what you've worked up with the CSS file seems to be really helpful! I've got the basic `nav.bar` class implemented, along with `nav.bar.top`, `nav.bar.bottom` and a special float right support extension for the title. Everything seems to be working well, and as an added bonus, you can actually style the `nav.bar` with ANY of the mood or branding colors, which I think is a pretty

[2012-10-25 18:00] ebollens commented on #31
Oh, also, I went ahead and added a couple lines of Javascript that solves the body padding problem when using `nav.bar.top` or `nav.bar.bottom` so that you don't have to set special styles on your body to get the top or bottom of your content to not placed under the fixed bars.

[2012-10-25 21:00] ebollens commented on #31
Wahoooo! Commit is now in that handles the dropdown.

Took way longer than I expected because Javascript was hitting a race condition because it runs in a separate thread from CSS reflow, but everything should be working correctly now. As it stands at the moment, I use some Bootstrap variables, but there is very little in there that of Bootstrap that is actually extended. This is because (1) you c

[2012-10-25 21:19] ebollens commented on #31
Okay, from what I understand, here are two problems:

So the second problem isn't a problem for us. Even if it were, you can actually see what `overflow: visible` is not actually needed (simply extract it from your CSS and look at what happens). This is because we don't let an overflow happen.

The first problem, however, might be one if we were generally looking to provide border-radius. As such,

[2012-10-25 22:15] ebollens commented on #31
Okay, I think I've got a solution to the problem that timmy willison describes for IE9.

You can find the implementation in `core/adapter/base/ie/fix_radius_gradient.js`...

[code]

This hack is registered for the `nav.bar` element in `src/adapter/bootstrap/entity/nav/bar-ie.js`:

[code]

What this does is the following:
- Run only on IE browsers version 9 and less
- If a `nav.bar` has a border ra

[2012-10-25 22:15] #31 closed, assigned to ebollens

[2012-10-25 22:15] ebollens commented on #31
I've closed this as functionality is complete, although @atsengucla or someone else may want to improve the styling of some of the features a bit.

[2012-10-25 22:21] alicetseng commented on #31
sweet work @ebollens . Let me catch up on the masthead CSS and next color definitions. Since we're working in bits (and it's a bit more abstracted than I'm used to) -- I just need to finish these pieces and repull Rake to see how all the CSS comes together so I can wrap my head around it.

I can take a second pass at styling once we have all Nav Family the parts/children defined (buttons,search,et

[2012-10-25 22:23] alicetseng opened #129 "CSS Polishing"
Once fundamental Entities (& dependencies/children entities) have been implemented -- attach to this ticket for visual refinement and cross-browser testing.

[2012-10-25 22:24] alicetseng commented on #31
OK CSS Polishing Ticket opened -- ref #129

[2012-10-25 22:25] ebollens commented on #31
@atsengucla as na FYI, don't worry too much about what extends what from Bootstrap and stuff like that when doing the CSS-side mock. The spreadsheet you worked up was cool, but I couldn't take advantage of it quite as much as one would have thought - ultimately it was the example that was most valuable, so if you can work up those CSS examples, I can run from there directly :-)

[2012-10-25 22:27] alicetseng commented on #31
@ebollens cool. that was super tedious to do. glad to chuck it. OK. straight in-browser mocks from now on.

[2012-10-26 00:03] #126 closed, assigned to ebollens

[2012-10-26 00:03] ebollens commented on #126
To keep continuity, this class is `.hide-media-query` kind of like we have `.hide-small`. It will not show the classed element in the event that media query is enabled.

[2012-10-26 00:19] ebollens commented on #100
Reopening this as I missed the size controls. There's also a disabled control, but I'm going to leave that one alone for the moment.

[2012-10-26 00:21] #100 closed, assigned to ebollens

[2012-10-26 00:42] ebollens commented on #125
The move is complete, although there are revisions to do still. Closing this.

[2012-10-26 00:42] #125 closed, assigned to ebollens

[2012-10-26 00:53] ebollens commented on #31
As a note on this one, I did not attach rounded corners as a default. However, if rounded corners are attached, it will automatically create a containing div that solves the IE9 problem. To test this, just create a `<nav class="bar" style="border-radius:10px">` and let me know if it does indeed work on IE - as I don't have that readily available.

[2012-10-26 01:09] #115 closed, assigned to ebollens

[2012-10-26 01:10] ebollens commented on #115
I've added the bindings to this in a new `implicit-html` extension.

[2012-10-26 01:20] ebollens commented on #35
The layout of this is done, as well as a few of the demos.

[2012-10-26 01:20] #35 closed, assigned to ebollens

[2012-10-26 01:24] ebollens commented on #122
I'm inclined to go with only:

[code]

The reason for this is because `.label` is the same name as an HTML element (`label`) but packs a different meaning. Anyone have an issue with this? @loganfranken @atsengucla @ccheung

[2012-10-26 01:26] ebollens commented on #121
I have decided to implement this as a meta-pattern so that the following would be possible:

[code]

[code]

[code]

I think our semantics would still say you can only use the same type of entity within a group, rather than mixing them, but there might be some clever mixes that would work later (inputs and buttons are similar and badges might like pop out or over the others - but let's ignore that

[2012-10-26 16:44] alicetseng commented on #32
CSS proto has been uploaded to template>entity>header>masthead>mastheadCSS. Ready for SASS. Cross-dependencies w .-nav .-bar so navbar proto is included to help w debugging.

[2012-10-26 16:47] alicetseng commented on #124
Update milestone for color. Have other projects but have scheduled time in 2 weeks to finish this off. Moved to 1.03.

[2012-10-26 17:20] ebollens commented on #120
When it comes to general form markup, we seem to have two general approaches:
1. A pseudo-semantic approach like Bootstrap with `control-group`, `control-label`, `controls`, etc.
2. A set of size classes (or an application of the grid) to style the form layout

I'm certainly in favor of approach (1) instead of approach (2) because it is more semantic. This is the approach that Bootstrap takes, as

[2012-10-26 18:00] ebollens commented on #120
From a semantics point of view, you can style a form control and label in two ways:

However, this article assets that the `for`/`id` method is preferable because of browser support:
http://www.paciellogroup.com/blog/2011/07/html5-accessibility-chops-form-control-labeling/

The article however kind of disagrees with the latest version of the text cases:
http://www.html5accessibility.com/tests/form

[2012-10-26 18:26] ebollens commented on #120
Another interesting, although a bit unconventional approach, creates a list for each fieldset:
http://24ways.org/2009/have-a-field-day-with-html5-forms

I actually like this approach because it creates a structure for the form that isn't just `div` - when you're filling out a form, in a way what you are doing is filling out a list of information, so this could be another approach to defining the i

[2012-10-26 18:31] alicetseng commented on #120
hmmmm. @ebollens I feel this is one issue we should get feedback from @chris4ucla on. Forms are critical to accessibility and if there are no issues with access I'm inclined for the list approach. From the monolithic CMS product perspective lists are great -- any type of structure that has a predictable pattern we can work with better -- as there's something we can use for predictable hooks and fo

[2012-10-26 19:02] #121 closed, assigned to ebollens

[2012-10-26 19:03] ebollens commented on #121
This is now complete. It should be noted that the `.group` class sets `font-size:0` to avoid white space issues between items. This means that you should not put random text inside of `.group` but instead this pattern must be used "properly" as intended by our semantics.

[2012-10-27 18:27] #12 closed, assigned to modernrockstar

[2012-10-28 05:11] loganfranken commented on #118
I thought there might be some differences in standards out there (e.g., MLA vs APA), but all of the resources I found seemed to come to the following consensus:

[code]

I couldn't find a lot, but here are a few resources:
https://owl.english.purdue.edu/owl/resource/544/03/
https://owl.english.purdue.edu/media/pdf/20081113013048_544.pdf
http://www.ehow.com/list_6404155_types-outlines-writing-paper

[2012-10-28 06:14] loganfranken commented on #118
Sorry for being out of the loop for so long! This has been implemented.

[2012-10-28 06:14] #118 closed, assigned to loganfranken

[2012-10-28 07:14] loganfranken commented on #114
This was pretty straightforward to implement since I was just building on @ebollens's work. I'm not sure if I love `exlarge`, but I couldn't think of anything more appropriate in a pinch (maybe `wide`?).

[2012-10-28 07:14] #114 closed, assigned to loganfranken

[2012-10-28 07:50] loganfranken commented on #111
I thought @atsengucla made a good argument for why this should just plug into the grid system. I thought of potentially mixing in one of the grid widths into the `.callout` to specify a grid-based width, but it seemed like there were too many moving pieces in that scenario (how do we know that there's room for that many panels? what if it the designer wants a smaller or larger callout width? etc.)

[2012-10-28 07:50] #111 closed, assigned to loganfranken

[2012-10-28 10:07] loganfranken commented on #64
I completed the basic implementation of this entity. I updated the prototype to (1) remove the `span` element as an option for a list header (as I don't quite remember why I thought that was necessary) and (2) allow for headers placed outside list items (which I would argue is the most semantic option).

I'll move onto implementing the "accordion" and "flyout" features. I ran out of time for this

[2012-10-28 10:36] loganfranken commented on #122
I agree with you that the use of the term "label" is somewhat confusing/inappropriate since it has nothing to do with the identically-named `label` element. However, it looks like Foundation also uses this name (http://foundation.zurb.com/docs/elements.php), so we may be fighting against a convention.

As for the usability difference between the two, I would argue there's a difference (at least in

[2012-10-29 18:55] spiritcapsule commented on #120
We tested the technique of wrapping an input in a label without explicit for/id attributes some time ago. And our results were that it did NOT work, at least not all the time or consistently. It's likely were were using JAWS 12, which is still very common in use. The html5accessibility page only indicates testing with JAWS 13. So I believe we need to actually use the for/id attributes.

The fields

[2012-11-09 07:28] loganfranken commented on #46
After finally getting a chance to explore this, I think we might actually want to drop it (at least for now).

There are a number of solutions to this problem:
- http://www.imaputz.com/cssStuff/bigFourVersion.html
- http://www.farinspace.com/jquery-scrollable-table-plugin/
- http://www.cssbakery.com/2010/12/css-scrolling-tables-with-fixed.html
- http://www.cssplay.co.uk/menu/tablescroll

All of th

[2012-11-09 07:28] #46 closed, assigned to loganfranken

[2012-11-09 18:02] ebollens commented on #123
Need to bind these states to the Bootstrap variables.

[2012-11-09 18:08] #123 closed, assigned to ebollens

[2012-11-09 18:09] ebollens commented on #123
This is now done. There's the basic `message` class, along with its color styles (using the `.light` variant), and support for a `closeable` class as well that can be added to the `message` element to make a close button appear (either a default if not specified directly, or otherwise uses the `close` sub-element if one is specified explicitly. This `closeable` class currently requires Bootstrap a

[2012-11-09 18:10] ebollens commented on #56
The old repo has been chucked in favor of a complete rewrite here:

So far, I've just got the redundancy removal strategy implemented in it but will add others later.

This will be pulled into the build process.

[2012-11-10 17:49] ebollens opened #130 "Restructure Compiler"
The compiler is in a much better state than it used to be, but there are still some issues:
- Packages are forced to run in a particular step of execution (first). This is bad because it prevents a package (like the one in https://github.com/ebollens/OptiCSS that I'm to add in #56) from being able to run later during execution. To get around this, we should provide a hooking interface.
- The objec

[2012-11-10 17:50] ebollens commented on #56
This requires changes listed in #130, so I'm moving it back to 1.0.04 milestone.

[2012-11-10 17:51] ebollens commented on #122
@loganfranken any interest in working on this while I refactor the builder in #130? I'm moving this back to 1.0.04 since it's slipped this one (given that I was at Educause all of this week).

[2012-11-10 17:51] ebollens commented on #120
@chris4ucla any update on accessibility considerations?

I'm also sliding this back to 1.0.04 as it slipped from my dev in this milestone given that I was at Educause all week this week.

[2012-11-10 19:39] loganfranken commented on #122
@ebollens Sounds good. Reassigning to me.

[2012-11-12 04:17] loganfranken commented on #71
Created a wiki page for this research:
https://github.com/ucla/WebBlocks/wiki/Research:-Responsive-Tables

[2012-11-12 06:16] ebollens commented on #127
This should have been closed already, as it was implemented in #31.

[2012-11-12 06:16] #127 closed, assigned to ebollens

[2012-11-12 06:17] ebollens commented on #71
Nice summary! My thoughts are now in the wiki.

[2012-11-12 09:25] loganfranken commented on #71
Whoops, sorry @ebollens, I should have marked that it was a work-in-progress. I think the list is finished now (although it's more or less just [Chris Coyier's awesome round-up](http://css-tricks.com/responsive-data-table-roundup/) with some extra examples and implementation details). Your suggestions still hold true, though; notable additions you might want to check out are the second "Pinned Col

[2012-11-13 03:04] ebollens opened #131 "Support for build_[css|img|js] Full-Featured"
Right now, we support a `rake _build_css` task as a sort of custom hack to speed up workflow for the time being. However, we want to make this more intrinsic to the way the build stack works. This task will be accomplished as part of #130 to provide tasks for `build_css`, `build_img` and `build_js`.

[2012-11-13 05:32] ebollens opened #132 "Bootstrap Adapter Bug with .gradient.light"
For .gradient.light (at least on a `td`) with the Bootstrap adapter, there's a `:hover` that isn't really expected leading to a bad result.

[2012-11-13 05:32] ebollens commented on #124
This has been moved to milestone 0.1.04.

[2012-11-13 05:33] ebollens commented on #32
This has been moved to milestone 0.1.06.

[2012-11-13 05:33] ebollens commented on #37
This has been moved to milestone 0.1.04.