[2012-11-13 05:33] ebollens commented on #85
This has been moved to milestone 0.1.04.

[2012-11-13 05:33] ebollens commented on #86
This has been moved to milestone 0.1.04.

[2012-11-13 06:40] ebollens opened #135 "Display Bugs in Bootstrap Buttons"
It appears that tweaks in messages screwed up presentation of some button elements. This is visible by looking at the Button demo. Most notably messed up for `button[type='??'].button.??` and the default button without a mood/branding class.

[2012-11-13 06:58] ebollens commented on #130
I believe the code in https://github.com/ebollens/WebBlocks/tree/architecture/builder is now ready to be merged. The compile in my environment produces the same visible outputs as the old builder. @loganfranken @atsengucla @ccheung can you clone the `ebollens/WebBlocks` repo, check out the `architecture/builder` branch and confirm that it indeed compiles in your environment by calling Rake?

While

[2012-11-13 17:32] ebollens commented on #135
Pull request for this is #136.

[2012-11-13 17:38] ebollens commented on #132
This problem comes from the use of the `buttonBackground` mixin:

[code]

We should instead be using the following:

[code]

Will likely need to port over the button-specific components to the button definition as well.

[2012-11-13 18:20] ebollens commented on #132
The removal of `buttonBackground` creates some problems elsewhere in the stack (namely button hovers). This needs to be resolved.

[2012-11-13 18:22] #132 closed, assigned to ebollens

[2012-11-13 18:22] #135 closed, assigned to ebollens

[2012-11-14 00:02] ebollens commented on #56
I've created a new branch in `ebollens/WebBlocks:experimental/OptiCSS`. This branch adds the new package I've started putting together based on the prototype I discussed earlier in this ticket. Unfortunately, as it stands now, there are still some bugs in the optimizer, so it's not ready to move over. It also relies on the new build architecture as discussed in #130 (so that it can hook in at the

[2012-11-14 01:09] ebollens opened #137 "Add Core Adapter Styles"
In our meetings, we've agreed that the core adapter should have some base stylings. This would allow someone to compile WebBlocks with just the core adapter and not the Bootstrap adapter and thus take advantage of a core set of styles without having to load in all of (for instance) Bootstrap.

Many of these styles will be drawn initially from Bootstrap, but we might want to tweak on them later as

[2012-11-14 07:39] loganfranken commented on #130
Hey @ebollens, everything seemed to compile correctly except that I ran into the tricky #106 issue. After putting a distribution of jQuery in the appropriate directory, everything ran smoothly. I'll try and dig a little deeper and see if I can figure out why `grunt` didn't run (I even ran it myself and it didn't seem to do anything, which was a little strange).

[2012-11-14 07:46] ebollens commented on #106
Reopening this as it was mentioned in #130 as a regression failure.

[2012-11-14 17:45] ebollens commented on #130
@brendanmurphy is also reporting the jQuery build issue. I'm going to throw some more cycles at this today.

[2012-11-14 22:07] ebollens commented on #120
For the moment, I've settled on this variant:

[code]

Basically, I'm going for a high level of flexibility:
- `div.control` is a direct parent for the form controls. By naming it, we can place it anywhere within a broader set of markup, such as within a panel. This is something that an `ol` or `ul` based approach cannot achieve.
- `form.form.horizontal` is a class that lays out elements with labe

[2012-11-14 22:18] ebollens commented on #120
Going to need a box-sizing polyfill as well...

[2012-11-14 22:19] spiritcapsule commented on #120
Patrick is out at a conference this week. We had been testing a few options, but I still want to confirm a few things with him. With regard to the <p> for help text. That's not ideal. If the help text is not within the label element, it will not be picked up as a screen reader user goes from input to input. It will be skipped. The only way they would notice it is if they read through the content o

[2012-11-14 23:29] ebollens commented on #120
@chris4ucla suppose I have the following:

[code]

A label is said to be a caption for a form control. A caption is an element that provides a descriptive name for the targeted element. Therefore, the label is clearly "Phone Number" and not "You are allowed to enter phone numbers of the format...", as the latter is a constrain on the type of input allowed, not a description of what exactly the ele

[2012-11-14 23:44] spiritcapsule commented on #120
The problems with forms and accessibility usually has to do with screen readers. Specifically not being able to match up the content on the page with the appropriate fields. That's why the label element is used. While the aria attribute should better expose the help note to the screen reader user, I'm not sure that it would allow them to know that the help note specifically refers to that input. T

[2012-11-14 23:49] spiritcapsule commented on #120
oh, wait. now i see the explicit link. I think this might work. I still want to get Patrick's feedback.

[2012-11-14 23:55] ebollens commented on #120
I'd like to avoid placing the next in the label for two reasons:
1. It is not always reasonable to use a `label` attribute (see Techniques for WCAG 2.0: H65) but we might still want to embed help text even if a `label` is not used.
2. It overloads (violates) the semantic meaning of the `label` attribute.

So yeah, if this explicit use of `aria-describedby` works in Patrick's testing, then we shoul

[2012-11-15 00:34] ebollens commented on #130
@brendanmurphy and @loganfranken what operating system are you running? I'm guessing this is maybe something like what happened with the other Node-related stuff.

[2012-11-15 00:41] ebollens commented on #106
As reference, the command this is using is:

[code]

@loganfranken @brendanmurphy if you delete your `dist` directory and then invoke that command from within the `package/jquery` directory, does it work?

[2012-11-15 01:31] #97 closed, assigned to ebollens

[2012-11-15 01:31] #130 closed, assigned to ebollens

[2012-11-15 01:31] #131 closed, assigned to ebollens

[2012-11-15 01:38] ebollens commented on #104
For the moment, I'm closing this as it's overarchitecture as it currently stands - if we run into a situation where we start having dependencies upon dependencies that NPM and Bundler can't resolve, then I'll reopen it.

[2012-11-15 01:38] #104 closed, assigned to ebollens

[2012-11-15 16:12] ebollens opened #139 "PIE Polyfill"
PIE is a nice polyfill that might be useful in some cases:
http://css3pie.com/

[2012-11-15 18:31] ebollens opened #140 "SASS Dependency Management"
Need a way to specify SASS-level dependencies.

For example, right now, try compiling with the following flag:

[code]

This will crash because it loads `entity/button/` files but not `entity/_button.scss`. Even if it were to load `entity/_button.scss` (which can be tweaked fairly easily), it should be possible for it to require other things since you might have a file inside a subdirectory of `en

[2012-11-15 18:41] ebollens commented on #139
After implementing this, I've decided that PIE does not quite fit our use case in that it uses the `-pie-background` definition rather than the `background` definition directly, which means it can't seamlessly work with other CSS definitions. Therefore, going to disregard this package, although it did yield at least one new piece of functionality that's needed, namely a method in the WebBlocks Bui

[2012-11-15 18:41] #139 closed, assigned to ebollens

[2012-11-16 01:28] ebollens commented on #140
The commit e8df5e3 resolves a discontinuity between the old builder and the new one where a file by the name of the module (not just the directory) is included as well if it exists. This does not, however, resolve the larger issue of other dependencies that might accrue. Still working on doing this. I'm thinking a precompiler flag of some sort that is sniffed out during the linker stage to link in

[2012-11-16 03:20] ebollens commented on #140
The commit ed0ed2c adds a way to specify dependencies within a file. My thought process below...

Suppose we have the following:

[code]

The real answer to the dependency problem is to introduce a new primitive like this:

[code]

Unfortunately, this would require modifying Compass/SASS to handle these primitives correctly, or else we'd be introducing illegal CSS into the sheet. This is a bad app

[2012-11-16 03:53] #140 closed, assigned to ebollens

[2012-11-16 03:56] ebollens opened #144 "Add //!requires Directives to Existing SASS Files"
Pull request #143 added a precompiler primitive `//!requires MODULE` to allow one to specify dependencies between modules. We need to add these to all existing SASS files.

[2012-11-16 04:29] #144 closed, assigned to ebollens

[2012-11-16 20:02] ebollens opened #145 "Change exlarge classes to xlarge"
The `exlarge` visibility classes should be changed to `xlarge`. This was discussed in the last WebBlocks meeting a few weeks ago.

[2012-11-16 20:13] ebollens opened #146 "Separate Button Classes"
Right now, the `.button.mini`, `.button.small`, and `.button.large` classes are part of the `-entity-button` mixin. Same is true with the color bindings. They should all be their own mixins.

[2012-11-16 20:19] #145 closed, assigned to ebollens

[2012-11-16 20:22] ebollens commented on #137
The following are still TODO on this:
- Button
- Unstyled List
- Styled Lists
- Outline Lists
- Lists inside of Lists
- Navbar
- Navlist
- Table

[2012-11-16 20:30] #146 closed, assigned to ebollens

[2012-11-16 20:49] ebollens opened #148 "Color -text Suffix"
While we've tried to keep our markup super simple so you can write something like `class="danger text"`, this is creating huge inefficiencies in the CSS generation. We can drastically reduce the compiled size and complexity of the definitions by making text coloring properties a `-text` suffix rather than a `text` class. In this case, I think the tradeoff is worth it.

[2012-11-16 21:28] ebollens commented on #148
This has reduced about 5 KB, which is a big enough win to make it worth it.

[2012-11-16 21:29] #148 closed, assigned to ebollens

[2012-11-16 21:31] ebollens opened #150 "Optimize Definitions Layout"
The issue in #148 showed that there are some choices we might make that can create major problems in terms of optimized compiles (small as can be). At some point, need to go through and try to track down these non-optimal definition structures and resolve them. Examples are things where there are a whole bunch of `:not` statements, such as exists for the default styling of the button, which create

[2012-11-16 22:42] brendanmurphy opened #151 "collapsible content widget"
I. Collapsible Content
Provide a model pattern for how to allow content-authors to add and designate areas of the Plone CMS the functionality of Collapsible Content.

The recommended solutions should:
·      Leverage existing frameworks
·      Meet current web best-practice
·      Consider the desktop and mobile context in responsive design
·      Meet AA Standards for Accessibility (progressive e

[2012-11-17 00:17] ebollens commented on #151
While Twitter Bootstrap and jQuery have both done a good job with some of these plugins to date, they are designed in a one-off state where the syntax can vary heavily between two UI effects: the accordion is defined very differently than the modal, where in reality they're actually very similar.

It was this thought that initially drove MWF towards the target-trigger approach. In the variant impl

[2012-11-17 07:52] ebollens commented on #151
What did I do with my Friday night? Wrote a new engine:
https://github.com/ebollens/efx

Take a look at the readme and let me know your thoughts. The engine and its unit tests are pretty much complete, and either over the weekend or early into next week, I'll see about putting together some actual drivers. I think it provides a consistent way to characterize many of the interactions such as expand

[2012-11-17 18:47] loganfranken commented on #106
Hey @ebollens, sorry for the wait. I'm running Windows 7 and I had to do two things to get this up and running:
1. Execute `npm install` from the `package/jquery` directory
2. Execute the `node` command you pasted above from that directory as well

Running `rake` after step 1 still gave the same error.

[2012-11-17 19:11] loganfranken commented on #151
Nice work @ebollens!

Looks good to me; I think Web Blocks will be a good use case for it and it's going to be a lot neater than a bunch of scattered `data-*`-driven JavaScript logic.

Only possible concern (let me know if this should be posted in the efx repo instead) would be that events appear to be bound directly to the `target` elements. This would be optimal in the majority of cases, but it

[2012-11-17 19:35] ebollens commented on #151
@loganfranken general concept issues are fine here. Post in the Efx tracker if there's a specific problem related to implementation.

The actual way events are bound...
1. Drivers are registered as an (effect, event) tuple.
2. Listeners are attached to triggers, not targets.
3. An event occurs on a trigger that it has a listener for.
4. The trigger finds all of its targets.
5. For each target, it

[2012-11-17 23:55] ebollens commented on #151
As a heads up, I've added a first example driver and a demo for it. It's just a simple toggle, plus a couple state modifiers for starting the element visible and using a slide effect rather than just an appear/disappear.

[2012-11-18 01:35] ebollens commented on #151
I've added an accordion driver as well.

If you pull the latest version of the repo, you'll see something interesting in the accordion driver (see the second demo in `demo/accordion.html`): if you take the triggers out of the accordion container, the accordion becomes tabs! I need to think about what the meta-pattern is here to rename it, but I suspect that accordion is actually a subset name of t

[2012-11-19 01:02] ebollens commented on #56
Unfortunately, I've run into another snag with this optimizer: the gem I was using for the underlying parser does not support multiple values on the same property. This is used heavily with vendor prefixes in things such as the `background-image` property, and thus need to come up with an alternative parser. Yet again another reason for this to slide back.

[2012-11-19 16:50] ebollens commented on #106
I'm confused, because `rake` runs that command...

[2012-11-19 17:49] ebollens commented on #106
It just dawned on me that the problem might be that it's not doing an init/update on the submodules within the submodule.

[2012-11-19 21:07] loganfranken commented on #64
Just leaving myself a note to consider integrating the https://github.com/ebollens/efx engine into the implementation of the effects for the entity/nav/list instead of using straight jQuery.

[2012-11-20 00:30] ebollens commented on #151
I've decided to leave accordion and tabs separate, mostly because their default behavior is different. In accordion, the thing that makes the most sense is to slide content, whereas in tabs, it makes sense to either fade it or just hide/show it. Besides that, though, the implementations are mostly the same. I've gone ahead and committed a `tabs` driver into the `efx` repo.

I will work on merging

[2012-11-20 02:24] #151 closed, assigned to ebollens

[2012-11-20 02:25] ebollens commented on #151
I have added the Efx repo to the WebBlocks repository, right now with the following drivers:
- Toggle
- Tabs
- Accordion

It's only 4 KB in size, so I've made it a default package (at least for the time being).

While Efx has documentation in its README, I figure we'll add some WebBlocks documentation for it as well that just explains the most clear and succinct ways to use it (since it's pretty f

[2012-11-20 02:26] ebollens commented on #106
I realize that right now, we don't make an npm call within the jQuery repo. This might be part of the problem. I'll tinker with this tomorrow.

[2012-11-20 17:40] ebollens opened #153 "Error Text?"
Right now, our color strategy (https://github.com/ucla/WebBlocks/wiki/Color-Strategy) seems to be missing one key feature: _error_. The problem, as I see it, is that we already have two moods that are similar: important and danger. However, error is a bit different in context than either of these two. Should we add another mood?

@loganfranken @atsengucla @ccheung

[2012-11-20 19:19] alicetseng commented on #153
hey @ebollens is danger a common use-case? I'd think error would be a decent replacement for danger. Maybe rather than adding a new one, just subbing?

[2012-11-20 19:23] ebollens commented on #153
@atsengucla the `danger` use case fits for things like a delete button.

[2012-11-20 20:07] #120 closed, assigned to ebollens

[2012-11-20 20:09] ebollens commented on #120
@chris4ucla et al., I have committed an initial version of the form implementation. Please see the `demo/entity/form.html` document to review the prototype layout as it stands currently. Open a new issue if any problems are encountered.

[2012-11-20 20:13] ebollens opened #155 ".group Meta-pattern"
In the same way that we have an `Entity/Button/Group`, we should also provide an `Entity/Input/Group` and `Entity/Badge/Group`. In Twitter Bootstrap, they use the `.input-prepend` and `.input-append` but those seem pretty jank.

[2012-11-20 21:47] ebollens commented on #116
This actually circumvents the good work that the Bootstrap framework does with these borders, so I'm going to close this as WONT FIX.

[2012-11-20 21:47] #116 closed, assigned to ebollens

[2012-11-21 00:13] ebollens commented on #106
Just filed another commit that might have solved this problem.

[2012-11-22 04:58] ebollens opened #158 "WebBlocks::Build::Module Unit Tests"
#157 added partial unit tests for `WebBlocks::Build::Module`, namely all SASS-related methods but not the JS or image ones. Moving forward, we will need to add these.

[2012-11-22 04:59] ebollens opened #159 "Package, Adapter and Core Handler Unit Tests"
#157 added a good number of unit tests, but we still need unit tests for coverage of the package, adapter and core handlers.

[2012-11-22 05:00] ebollens commented on #150
This is moving back to the 0.1.05 milestone.

[2012-11-22 05:00] ebollens commented on #137
This is moving back to the 0.1.05 milestone.

[2012-11-25 04:46] loganfranken commented on #153
Using `.error` as a CSS class has been a very common pattern in my web development experience and I think `.important` and `.danger` stand on their own, so I would support adding it.

[2012-11-25 09:06] loganfranken commented on #30
Before digging into implementation, I wanted to get a better understanding of the requirements for this entity. I've put my current research in the wiki:
https://github.com/ucla/WebBlocks/wiki/Entity-Nav-Main

@ebollens @atsengucla @ccheung Is this what you were thinking for this entity?

Also, it looks like there's going to be a lot of opportunity for borrowing from currently existing entities, t

[2012-11-25 21:34] loganfranken commented on #30
Moving this to 0.1.05. Maybe we could discuss the requirements tomorrow?

[2012-11-25 22:48] loganfranken commented on #122
Spent some quality time with a thesaurus to try and drum up alternative names for labels and badges. Here's the list:
https://github.com/ucla/WebBlocks/wiki/Entity-Labels-and-Badges

I'm leaning towards "notice" for "label" and "indicator" for "badge" (it's a less hip, but more descriptive name IMO).

Thoughts?

@ebollens @atsengucla @ccheung

Moving to 0.1.05 pending a discussion about this (tomo

[2012-11-26 05:38] loganfranken commented on #71
Added some additional thoughts on the wiki:
https://github.com/ucla/WebBlocks/wiki/Research:-Responsive-Tables

@ebollens @atsengucla @ccheung

Maybe we could settle on an implementation approach during tomorrow's discussion?

[2012-11-26 05:38] loganfranken commented on #71
Moving to 0.1.05

[2012-11-26 05:39] loganfranken commented on #64
Ran out of time, moving this to 0.1.105

[2012-11-26 05:55] ebollens commented on #71
Agreed on settling on an implementation approach during tomorrow's meeting.

[2012-11-26 05:59] ebollens commented on #122
I think notice is too close to message, confusing the use cases. I don't like overloading `label` with two meanings (one for class and one for element), but what would you think about using badge for both types and then descriptive qualifiers to separate what label and badge presentationally? Honestly, even if the display is different, the semantic meaning feels very much the same in my book.

[2012-11-26 17:32] ebollens opened #160 "Unit Test test_resolve_sass_dependencies Fails on RHEL6"
The `test_resolve_sass_dependencies` test fails on RHEL6 but not Darwin:

[code]

[2012-11-26 17:32] ebollens opened #161 "Unit Test test_link_sass_libs_for Fails on RHEL6"
The `test_link_sass_lib_for` test fails on RHEL6 but not Darwin:

[code]

[2012-11-26 17:32] ebollens opened #162 "Unit Test test_link_sass_lib Fails on RHEL6"
The `test_link_sass_lib` test fails on RHEL6 but not Darwin:

[code]

[2012-11-26 21:48] loganfranken commented on #71
Based on today's meeting, we will implement this entity as follows:
- Build with standard table markup
- Provide Linearized Table option as extension
- Provide Scrollable Table option (w/ option for pinning table header) as extension

Hiding Columns option (w/ menu for re-enabling hidden columns) will be tabled ( _har har_ ) for now. This was a research ticket, so I'm going to close it and open ti

[2012-11-26 21:48] #71 closed, assigned to loganfranken

[2012-11-26 21:52] loganfranken commented on #122
Based on today's meeting, I'm going to start developing badge (using the name, "badge").

[2012-11-26 21:55] loganfranken opened #163 "Entity/Table"
Implementation ticket for Entity/Table

Research for this entity was started in #71

By default, the table will not have an alternative responsive form (beyond `width: auto;`). This is up for discussion, of course.

[2012-11-26 21:59] loganfranken commented on #163
Yeesh, despite the fact that I worked on this, I somehow forgot that this is already implemented. In my defense: it's the Monday after a holiday. Closing.

[2012-11-26 21:59] #163 closed, assigned to loganfranken

[2012-11-26 22:00] loganfranken opened #164 "Responsive Table: Linearized Table"
Implementation ticket for the extension for Entity/Table that would provide for a Linearized Table on smaller viewports.

Research for this extension started in #71

[2012-11-26 22:01] loganfranken opened #165 "Responsive Table: Pinned Scrollable"
Implementation ticket for the extension for Entity/Table that would provide for a Scrollable Table on smaller viewports.

An option should be provided for pinning the header columns to the left of the table.

Research for this extension started in #71

[2012-11-26 22:03] loganfranken opened #166 "Entity/Badge"
Implementation ticket for Entity/Badge

Discussion about this entity (and its name) started in #122

[2012-11-26 23:11] ebollens commented on #162
This seems to be resolved now - curtesy of #160.

[2012-11-26 23:11] #162 closed, assigned to ebollens

[2012-11-26 23:11] ebollens commented on #161
This seems to be resolved now - curtesy of #160.

[2012-11-26 23:11] #161 closed, assigned to ebollens

[2012-11-26 23:11] #160 closed, assigned to ebollens

[2012-11-27 01:17] ebollens opened #167 "Fix package.json Bug"
There's a mismatch in dependencies for uglifyjs.

Should update `package.json` as follows:

[code]

[2012-11-27 03:10] #167 closed, assigned to ebollens

[2012-11-28 17:34] ebollens opened #168 "Remove Weight from Repo before Release"
One of the problems currently is that WebBlocks is a 23 MB clone right now. This means it takes way too long to pull down.

We can see why here:

[code]

Excluding the `/.git` folder, which will be large if the repo is large, the `/template` folder is 90% of the total size. Therefore, before we go to release, we'll want to pull out all of the large binaries that reside in the template folder (mayb

[2012-11-28 17:54] ebollens opened #169 "Integration Docs Update"
A few changes for the integration doc `Rakefile` call-forward:
1. Use `git rev-parse` to determine repo root in case Rakefile is not at the root
2. Add the `build_css`, `build_img` and `build_js` calls
3. Fix the `reset` call

The file sourced should probably be as follows:

[code]

[2012-11-28 17:58] ebollens opened #170 "README.md Update"
The `README.md` file currently has a few problems:
1. Tasks are not listed for `build_css`, `build_img` and `build_js`
2. No information on running tests is provided
3. We no longer support the tasks `check`, `environment`, `paths`, `packages` and `includes`
4. The Efx package should be mentioned as an external package

[2012-11-28 18:35] ebollens opened #171 "Change -text Suffix to text- Prefix"
Text coloring should be `text-[MOOD|BRANDING]` as opposed to `[MOOD|BRANDING]-text`. This will keep continuity with `text-[ALIGN]`.

[2012-11-28 18:54] #171 closed, assigned to ebollens

[2012-11-28 20:54] ebollens opened #172 "Markup Examples in for Breadcrumb Doc"
Right now, `doc/module/entity/Nav-Breadcrumb` does not have any markup examples in it. Examples should be added.

[2012-11-28 22:48] ebollens opened #173 "Header Element Spacing"
Headers have a top margin.

However, this can lead to a strange effect when they're the first element.

A fix might be viable with something like this:

[code]

Undecided if this is worth it though, as it doesn't solve all cases. Another solution might be to avoid setting a top margin ever.

[2012-11-29 06:47] ebollens opened #174 "Row Collapse at Different Breakpoints"
Consider the following code:

[code]

As it currently stands, these will appear as three concurrent blocks above `$breakpoint-small`:

[code]

Below `$breakpoint-small`, these become full-width elements oriented vertically down the page:

[code]

This works in some cases, but doesn't always make sense.

Suppose, for example, we have an arrangement like this:

[code]

This would be like a featured

[2012-11-29 07:09] ebollens opened #175 "Additional Structural Semantics"
Suppose we have three news items, one that's a highlighted story that spans the full width of the containing element and then two others that are half width and have reduced size.

A full-size mock of this might be something like this:

[code]

With a bit of complimenting CSS:

[code]

However, what happens when this collapses? We get a featured item that has a larger font size than the other two

[2012-11-29 17:21] ebollens commented on #173
Turns out that in the core adapter, we already do this:

(see `/src/core/adapter/base/type/_font.scss`)

[code]

The problem with Bootstrap is that it doesn't set this case in `package/sass-twitter-bootstrap/lib/_type.scss`.

It can be resolved by adding the same definition to `@mixin -base-type-font` for the Bootstrap adapter:

[code]

The caveat to this sort of approach is that it doesn't solve

[2012-11-29 17:54] ebollens opened #178 "Fix Definition for Grid"
A few problems with the definition for grid currently:
- Semantics are being established in the adapter rather than the definition.
- Not particularly extensible since the entirety of panel styling is from a single mixin.

[2012-11-29 19:13] ebollens commented on #174
As it currently stands, we're adding 4 KB of bulk just to support `.no-collapse` (and `.small-collapse`), primarily because the panel loop has to be scoped more tightly, meaning that instead of just `panel-1`, `panel-2`, etc., we end up with `selector-set-1 panel-1`, `selector-set-2 panel-1`, `selector-set-1 panel-2`, `selector-set-2 panel-2`, etc. Wondering if I can come up with a better inherita

[2012-11-29 19:37] ebollens commented on #174
The ebollens/WebBlocks:base/structure-row-collapse branch now has `.no-collapse`, `.small-collapse`, `.medium-collapse`, and `.large-collapse` support. Playing around with this in the demo (sliding the window around), it strikes me that we need to provide a `.medium-small-collapse` and a `.medium-large-collapse` using two additional breakpoints that lie between the existing ones.

I'm still also o

[2012-11-29 19:40] ebollens opened #180 "Fix Breakpoint Use in Media Queries"
Right now, the point of change for a breakpoint is actually one less than the breakpoint. This is a bit confusing of behavior, as breakpoints should be the exact pixel width at which the display changes, not the minimal size at which the above breakpoint holds.

As a note, this also affects the branch being developed on for #174 and so that ticket needs to make this same change.

[2012-11-29 23:21] #169 closed, assigned to ebollens

[2012-11-29 23:21] #170 closed, assigned to ebollens

[2012-11-30 04:07] #178 closed, assigned to ebollens

[2012-11-30 04:08] #173 closed, assigned to ebollens

[2012-11-30 04:54] ebollens opened #182 "Bootstrap .container Uses Fixed Collapse Size"
Currently, the Bootstrap adapter `.container` is defined as :

[code]

Should not be using explicit widths.

[2012-11-30 05:11] #180 closed, assigned to ebollens

[2012-11-30 05:32] ebollens commented on #174
Cautionary note: #180 and #181 have fixed the way breakpoints work so that `max-width: breakpoint` or `min-width: breakpoint + 1`, so this will need to be applied in the context of this feature as well.

[2012-11-30 05:37] ebollens commented on #180
Just as an FYI, the following should be used:
- `min-width: $breakpoint-X+1`
- `max-width: $breakpoint`

Formerly, we were using subtraction on the `max-width` and the raw breakpoint value on the `min-width` but this has the wrong affect, namely making the breakpoint the smallest portion of the next grade up rather than the top end portion of the grade down. This is a "scale down" approach rather

[2012-11-30 05:40] ebollens commented on #174
The commit da999e9 resolved the cautionary note above.

@loganfranken @lnicks @chris4ucla @jeff1evesque @edsakabu @ccheung @atsengucla or others: any issues with the implementation as it stands or the semantics I've described?

[2012-11-30 05:54] ebollens opened #183 "Viewport in Demos"
Demos should include viewport so they render right on a phone.

[2012-11-30 06:08] #183 closed, assigned to ebollens

[2012-12-03 17:40] ebollens opened #185 "Adaptive Images Integration"
NOTE: The goal of this ticket has been updated per https://github.com/ucla/WebBlocks/issues/185#issuecomment-24555986

~

While max-width prevents the presentation of images from looking bad on small screens, it doesn't solve the resolution issue. Instead, this needs to be accomplished through some form of compression. The [Mobile Web Framework](http://mwf.ucla.edu) includes an image compressor, b

[2012-12-03 17:41] ebollens opened #186 "img[srcset] Polyfill"
In some cases, a user simply wants to size up image themselves into several common sizes and then define these paths and let the browser pick the best one based on device dimensions. To this end, there are two standards bouncing around the image community: `img[set]` (just entered into the HTML 5 ED) and `picture` (proposed by RICG). A good article can be found on A List Apart: [Responsive Images

[2012-12-03 17:47] ebollens opened #187 "Polyfills for Missing Image Support"
Older versions of Internet Explorer do not support max-width. While we've said we're not explicitly going to support old versions of IE, there are two fixes to this that are trivial:
- Use AlphaImageLoader directly in sheets (only works for framework files or when users actually define it)
- Method using Javascript to do it dynamically: http://unstoppablerobotninja.com/entry/fluid-images/ (remake

[2012-12-03 17:51] ebollens opened #188 "Responsive Video iFrame"
While the `video` tag supports `max-width` scaling, use of an `iframe` such as YouTube and Vimeo embeds does not. However, a Javascript-based solution does exist:
- http://fitvidsjs.com/

This is based on the following technique from A List Apart:
- http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/

[2012-12-03 17:56] ebollens opened #189 "Lettering.js"
Lettering.js provides powerful typographical controls for easy kerning. Ideally, maybe we provide a way to automatically attach Lettering.js without having to invoke Javascript (and then all a designer needs to do is specify the CSS that pertains to that element).

[2012-12-03 17:58] ebollens opened #190 "Text Fitting"
There is sometimes a desire to have flexible font sizing for fluid layouts. A couple libraries exist to this extent:
- FitText http://fittextjs.com/
- Slabtype algorithm http://erikloyer.com/index.php/blog/the_slabtype_algorithm_part_1_background/

[2012-12-03 22:49] ebollens opened #192 "Fix JS Namespace Definition"
In the core adapter, we have:

[code]

Should be

[code]

[2012-12-03 22:51] ebollens opened #193 "Warn on JS Usage without Package"
Should be possible to drop a warning that says a package is needed but not included in compile for Javascript functionality. This could be bypassed with the argument that it's included from elsewhere (like a standalone script), but it would still provide a good warning for packages being used without being included in the build.

[2012-12-03 23:41] ebollens commented on #193
An example of this is the `Extend/Base/Type/Split` module, which requires the `lettering` package.

Unfortunately, because of the way the execution stack works, it's actually impossible for the module to require a package (although its easy for a package to require a module). Therefore, one should generally either use `WebBlocks.config[:build][:packages] << :lettering` or else the best we can do i

[2012-12-04 00:39] ebollens commented on #137
As I was working on the blockquote styling, I noticed that `float-right` class doesn't play well with `panel-`. As such, I've tweaked the definition in the base/structure-row-collapse branch.

[2012-12-04 02:15] ebollens opened #196 "Bootstrap Adapter Variables Binding"
We should not use `!default` on the binding of WebBlocks variables to Bootstrap variables.

[2012-12-04 03:06] ebollens opened #198 "Core Adapter Nav/List & Nav/Breadcrumb Styling"
@loganfranken I have implemented a complete core adapter in #137 with the exception of the `Entity/Nav/List` and `Entity/Nav/Breadcrumb` styles. The purpose of having a core adapter that is fully styled is to make it possible, if you're not using Bootstrap, to just leverage WebBlocks semantics without having to compile all of that extra CSS.

You can either (a) mooch straight from Bootstrap like I

[2012-12-04 03:07] #137 closed, assigned to ebollens

[2012-12-04 03:08] #174 closed, assigned to ebollens

[2012-12-04 03:09] #189 closed, assigned to ebollens

[2012-12-04 03:26] ebollens commented on #196
This was resolved in 8c795ab

[2012-12-04 03:26] #196 closed, assigned to ebollens

[2012-12-04 03:27] ebollens commented on #150
Going further than just optimizing, this should also be used to provide greater variable-based control over attributes of the compile, so in any place that a pixel value is used.

[2012-12-04 03:27] ebollens commented on #175
@loganfranken @lnicks @chris4ucla @jeff1evesque @edsakabu @ccheung @atsengucla any opinions here?

[2012-12-10 07:25] loganfranken opened #200 "Ruby 1.9.* rake Errors"
While executing the `rake` command with Ruby 1.9.2 or 1.9.3 (most recent distributions from RubyInstaller for Windows), I ran into a few issues (works just fine with 1.8.7):
#### Error 1

**Error:** `cannot load such file -- lib/Rake`
**Solution:** Change `require 'lib/Rake'` to `require './lib/Rake'`
#### Error 2

**Error:** `uninitialized constant VERSION`
**Solution:** Change `VERSION` to `RUBY

[2012-12-10 07:39] loganfranken commented on #174
Sorry for never getting back to you @ebollens: I think this is fantastic, though!

[2012-12-10 17:03] loganfranken commented on #186
I just wanted to leave links to the Responsive Images Community Group, a group that's been doing some wonderful work in developing and tracking the progress of this issue:

http://www.w3.org/community/respimg/
http://responsiveimages.org/

[2012-12-10 17:08] loganfranken commented on #185
Hey @ebollens, this is great stuff (nice work!). Where's the "Image Substitution" section that's referenced?

[2012-12-10 17:12] loganfranken commented on #187
Are we planning on establishing a baseline of browser support across the board or on a feature-by-feature basis? In other words, "Everything works in IE8 and above" vs. "Responsive images do not work in IE8, but everything else does." I'm leaning towards the former for simplicity, although I could see the value in the latter given the wide featureset of Web Blocks.

[2012-12-10 17:22] loganfranken commented on #198
Moving to next milestone

[2012-12-10 17:22] loganfranken commented on #172
Moving to next milestone

[2012-12-10 17:23] loganfranken commented on #166
Moving to next milestone

[2012-12-10 17:23] loganfranken commented on #165
Moving to next milestone

[2012-12-10 17:24] loganfranken commented on #164
Moving to next milestone

[2012-12-10 17:25] loganfranken commented on #122
Leaving this open until both Badge and Label (or equivalent entities) have been implemented. Moving to next milestone

[2012-12-10 17:25] loganfranken commented on #64
Moving to next milestone

[2012-12-10 17:26] loganfranken commented on #30
Moving to next milestone

[2012-12-10 17:44] #192 closed, assigned to loganfranken

[2012-12-10 17:55] loganfranken commented on #175
Hey @ebollens: sorry for the wait on a response!

I'm a little confused by the first example. If I'm understanding this correctly, we would have the following:

[code]

And then, on a smaller viewport, we have:

[code]

Right?

I actually don't see a problem here: it would make sense for the top item to still have a larger font size since it is still a featured item at the top of the list.

Howeve

[2012-12-10 18:08] ebollens commented on #175
Yeah, let's discuss more at today's meeting. Moving this back to next milestone for completion.

[2012-12-10 18:09] ebollens commented on #32
This has been moved to milestone 0.1.06.

[2012-12-10 18:09] ebollens commented on #37
This has been moved to milestone 0.1.06.

[2012-12-10 18:10] ebollens commented on #86
This has been moved to milestone 0.1.06.

[2012-12-10 18:10] ebollens commented on #85
This has been moved to milestone 0.1.06.

[2012-12-10 18:10] ebollens commented on #124
This has been moved to milestone 0.1.06.

[2012-12-10 18:11] ebollens commented on #153
This has been moved to milestone 0.1.06, and I've assigned it to myself for implementation.

[2012-12-10 18:15] ebollens commented on #187
I'd like to shoot for as much of "Everything works in IE8 and above" as possible, but I will reneg in some cases if implementation isn't friendly. So far, we haven't done much on the lines of IE testing. I'm happy to say IE 8 and above. The blocks-ie.css file is to be loaded for IE < 9.

[2012-12-10 18:17] ebollens commented on #200
Assigning this to myself to resolve. I'm sure there are more issues with WebBlocks builder at Ruby 1.9.x that will only show up when running the unit tests (like the use of `String.respond_to? :each`).

[2012-12-10 18:33] ebollens commented on #185
Looks like I missed that in the creation of these tickets.

[2012-12-11 01:44] ebollens opened #201 "Lettering Bug"
Right now, if lettering is not included in the build, then the JS will fail as:

[code]

Should fix within the implementation by simply returning quietly if Lettering is not included.

[2012-12-11 16:55] ebollens opened #202 "Form Controls Max Width"
In working with the `select` element, it appears that it is willing to overflow the content area. Need to add a `max-width:100%`. Should check for inputs and other controls as well.

[2012-12-11 17:23] ebollens opened #203 "Panel Min-Height"
Right now, if you use a panel but put nothing in it, then it doesn't actually get counted in the float. Need to come up with a way to handle this. An easy one is `min-height: 1px;` but it may not be fully portable.

[2012-12-12 22:57] lnicks opened #204 "Unit Tests Failing in Windows 7"
[code]

/FROM @ebollens

[2012-12-12 23:34] lnicks commented on #204
The fix for error (3) has to do with whitespace issues:

[code]

/FROM @ebollens

[2012-12-12 23:43] lnicks commented on #204
The fix for the other three is this:

[code]

Luckily, none of these are actually WebBlocks compiler bugs but rather problems in the unit tests themselves.

/FROM @ebollens

[2012-12-15 05:48] loganfranken commented on #71
Added information about a relatively new responsive table concept ("FooTable"): https://github.com/ucla/WebBlocks/wiki/Research:-Responsive-Tables Probably not something we'll consider first-pass, but it's an interesting concept nonetheless

[2012-12-25 08:32] #172 closed, assigned to loganfranken

[2013-01-02 18:46] ebollens commented on #203
From http://www.dustindiaz.com/min-height-fast-hack/ ...

[code]

From http://wellstyled.com/css-underscore-hack.html ...

[code]

I prefer the latter because it does not use `!important`, which has broader implications for the way that properties are set than just local to that one ruleset.

[2013-01-02 18:53] ebollens opened #206 "Bug in .row without [class*="-collapse"]"
Consider the following set of selectors (from outer to inner):
- `.row`
- `.panel-X`
- `.row .Y-collapse`
- `.panel-Z`

There's an issue with ordering sensitivity here - depending on the order in which definitions compile, the collapse may or may not work correctly. This should be resolved by tightening specificity.

The easiest way to get around this is:
- `.row .W-collapse`
- `.panel-X`
- `.row

[2013-01-02 19:01] ebollens commented on #203
Since `min-height` is only incompatible with IE6 and below (http://www.quirksmode.org/css/contents.html), which is less than our least common denominator for support here, I've simply neglected compatibility fix.

[2013-01-02 19:49] ebollens commented on #193
I've added a new compiler directive `//!requires_package`.

This allows lettering package to be required in `src/core/dapter/extend/base/type/split.js` as:

[code]

This functionality is available for JS files _only_, although if a use case is shown for SASS to have the same need, then we can add it there as well.

It is also worth note that this directive actually only throws a _warning_ if the p

[2013-01-02 19:49] ebollens commented on #175
Any more feedback on this?

[2013-01-02 19:54] #202 closed, assigned to ebollens

[2013-01-02 19:54] #201 closed, assigned to ebollens

[2013-01-02 19:54] #193 closed, assigned to ebollens

[2013-01-02 19:54] #203 closed, assigned to ebollens

[2013-01-03 16:34] ebollens commented on #168
This one is proving incredibly troublesome, since to accomplish it is to "rewrite history".

This is the command I'm using:

[code]

Of course, need to replace `FILENAME` with the file you're deleting and `REVSTART` with the revision where the file was introduced. Once this is done, then it's a matter of forcing an update on push since the revision IDs won't match:

[code]

I'm doing this on my fo

[2013-01-03 16:45] ebollens commented on #168
Well, something went wrong here to the point that I actually broke my fork.

I'm going to reclone and then give it one more shot. If that doesn't work, then we may just be stuck with this history, although I'll still remove the current copies of those files so that the download links don't include them.

[2013-01-03 17:30] ebollens commented on #168
I've settled on just doing a `git rm` for now. May try another pass at this later, but so far, it's just not going smoothly at all. For example, I ended up creating multiple sets of Git objects, for example, rather than removing them. So for now I'll keep it simple.

[2013-01-03 17:52] ebollens opened #212 "Superfluous Code in Button Core Adapter Implementation"
Currently, a number of rules like:

[code]

The `:not(.text)` definition is no longer needed, as the text classes were turned to a prefixing scheme.

[2013-01-03 17:58] ebollens commented on #106
Guess what's broken? This one again.

[2013-01-03 18:02] ebollens commented on #106
Here's the stack trace:

[code]

[2013-01-03 18:04] ebollens commented on #106
Here's the error log:

[code]

[2013-01-03 18:21] ebollens commented on #106
Compatibility problem was being caused by too old a version of NPM.

I've resolved this by using https://github.com/visionmedia/n to change the version of Node to a more recent one.

However, now I'm getting a problem with installing `grunt-compare-size`:

[code]

[2013-01-03 19:09] ebollens commented on #106
Actually building jQuery live is proving such a nightmare, my workaround is going to be to download a copy of jQuery as distributed from jquery.com rather than actually run the compiler. This is a workaround for the time being, although eventually we want to move back to a compile process for jquery.

[2013-01-03 19:14] lnicks commented on #175
Apologies if I'm a bit fuzzy here, first day back...but here are my thoughts from a CMS point of view:

It's difficult (not impossible, but not fun) to modify semantics on an individual record within a set of content.  First-child and other pseudo selectors are our options, anything else would require us to program for individual cases.  We have a lot of control over the container itself, and we c

[2013-01-03 19:42] #153 closed, assigned to ebollens

[2013-01-03 19:42] #106 closed, assigned to ebollens

[2013-01-03 21:14] ebollens commented on #206
I've settled on using a documentation strategy here rather than heavily increasing the complexity of the definitions, which is what would otherwise be required (talk about a lot of time burnt trying to get the definitions approach working right).

As it now stands per my latest commit (that I'll pull request in a few), if you use any explicit collapse controls, all parent rows must also use explic

[2013-01-03 21:41] #206 closed, assigned to ebollens

[2013-01-03 21:41] #212 closed, assigned to ebollens

[2013-01-03 21:43] ebollens commented on #175
@lnicks the goal of this goes beyond the CMS case, although if you're writing HTML markup into something in the CMS, this could be useful. However, as this is talk about introducing a whole new slew of semantics, I am going to remove it from milestone 0.1.06 - slated instead for more long-term discussion.

[2013-01-04 20:39] alicetseng commented on #124
Quick Update: started working on this yesterday and have blocked time out this weekend to finish up. won't make the milestone (tomorrow) but will finish a first pass before Monday's checkin.

Some quick observations -- as the color demo is currently set-up this is not an approach to color that designers will find very useful. The branding colors are rarely used in their pure straight hex values --

[2013-01-07 07:29] alicetseng commented on #124
This is finished! only issue is there is something hosed with my local instance and Github won't allow me to commit the files since its complaining about a conflict with my jQuery package ... might be related to some directories being out of sync ... anyways -- if I can't figure it out I'll just back up the files and rebuild.

[2013-01-08 20:19] ebollens commented on #200
I'm currently working on trying to get RVM set up on OS X. Unfortunately, because XCode has gotten rid of GCC and Ruby 1.8 requires GCC to compile, it's a tremendous mess.

[2013-01-08 20:43] ebollens opened #217 "Fix Packages"
A commit c10125ce2f940497b50249ba27446a4855921dbb by @atsengucla removed a bunch of Git submodules. This broke master. This commit needs to be pruned out of master.

[2013-01-08 20:47] ebollens commented on #217
I've pruned this out as follows:

[code]

This is another reason we need to move to a pull request model rather than all contribute directly to `ucla/WebBlocks:master`.

[2013-01-08 20:47] #217 closed, assigned to ebollens

[2013-01-08 21:30] ebollens commented on #200
The problems described at the start of this issue have been solved.

However, these are not the only issues with Ruby 1.9.3 versus 1.8.7. Instead, once resolving these, others are becoming apparent. Will post issues encountered and resolutions as they occur.

[code]

[2013-01-08 21:40] ebollens commented on #200
On this branch, `rake` now successfully completes with Ruby 1.8.7 and Ruby 1.9.3. The unit tests all still pass in Ruby 1.8.7 as well, but there are 5 failures and 1 error occurring for the unit tests in Ruby 1.9.3.

The unit tests failing currently for Ruby 1.9.3:

[code]

[2013-01-08 23:20] ebollens commented on #200
The error (1) is caused by the fact that Ruby 1.9 does not provide an `.each` method for `String`.

This is solved by forcing to array as:

[code]

While the compile I ran `rake` with didn't have this sort of a modules configuration, this is definitely something that would have bit us - hence the benefit of unit tests.

[2013-01-08 23:31] ebollens commented on #200
The other bug appears to be caused by the fact that `assert_method_exists` is not provided in 1.9.3. It is merely a bug with the unit tests, therefore, than with the actual compiler. However, need to fix this for a good weather report on 1.9.3.

[2013-01-09 00:19] ebollens commented on #200
All unit and integration tests now pass for both Ruby 1.8.7 and Ruby 1.9.3, so this is ready for pull request merge.

[2013-01-09 00:22] #200 closed, assigned to ebollens

[2013-01-09 00:37] ebollens opened #219 "Button Group is Broken"
In `demo/entity/button.html` it is clear that the button group is broken.

[2013-01-09 01:27] jwatkin opened #220 "Incorrect Page Titles in .md doc Files"
Several .md doc files have incorrect page titles.

Module.md - the interior title is pluralized which is inconsistent with the file name.

It looks like these files have copy-and-paste typos for titles:
base/Type.md
base/Visibility.md
entity/Message.md

In the entity page titles, a slash is used where a hyphen is used in the file name. Should the interior title match the file name?

The base page

[2013-01-09 01:47] #219 closed, assigned to ebollens

[2013-01-09 02:02] #204 closed, assigned to ebollens

[2013-01-09 02:04] ebollens commented on #220
@jwatkin thanks for the continuity catches. Assigning to myself to fix for 0.1.06 milestone.

[2013-01-09 02:06] ebollens commented on #3
This issue should be closed as we're in implementation.

[2013-01-09 02:06] #3 closed, assigned to alicetseng

[2013-01-09 22:38] ebollens commented on #32
My understanding is that implementation of this has been reassigned to me.

[2013-01-09 22:39] ebollens commented on #86
I am removing this from the 0.1.06 milestone. It is still a near-term development focus, but to facilitate a public beta release, this should not be a blocker.

[2013-01-09 22:39] ebollens commented on #85
I am removing this from the 0.1.06 milestone. It is still a near-term development focus, but to facilitate a public beta release, this should not be a blocker.

[2013-01-09 22:41] ebollens commented on #30
@atsengucla mentioned at the last meeting that she could work up style sheets and template for this to make implementation simpler. Assigning to @atsengucla. Please assign back once these are committed.

Goal should be to design what the main navigation looks like at each of the different viewports where it changes (don't have to worry about media queries or that stuff but simply provide different

[2013-01-10 00:34] ebollens opened #223 "Add Right Floating Row Collapse Control"
This allows things to collapse from right or from left.

[2013-01-10 16:56] jrosczyk opened #224 "submodule modernizr failed on build"
Got this error on build:
[Submodule: modernizr] Initialization failed for submodule modernizr rake aborted!

[2013-01-10 21:28] ebollens commented on #224
@jrosczyk any further indication of what is happening? This is the first package that the compiler tries to pull down (default behavior at least). If there aren't any further errors being output, could you provide information on your environment (OS, Ruby version, etc.)? Also, did it used to work, and if so, which commit broke it?

[2013-01-14 06:12] alicetseng commented on #30
started working on this; reviewing patterns and bootstrap existing library. will have some time Tuesday evening to get some html/css mockups going.

[2013-01-14 20:38] ebollens commented on #30
@atsengucla sounds good. @lnicks needs this soon for a project he's working on with Drupal, so I'll turn around and implement as soon as you pass the CSS of my way.

[2013-01-16 05:35] loganfranken commented on #64
Just a note that I explored implementing the accordion effect using `efx` and I don't think it will work here (although it could in the future): we would be trading a small bit of jQuery code for several `data-*` and `id` attributes that would increase the workload for the WebBlocks Developer.

I really like the concept behind `efx`, though, and I think it would be wonderful if we could standardiz

[2013-01-16 08:56] alicetseng commented on #30
Wow. This one is hairy. Will keep working on this. I have some time tomorrow night after work. It's gonna take a few more passes, tho. I could use some help clarifying the relationships ...

Here are my questions ( @loganfranken and @ebollens ) - trying to understand how nav.bar fits with nav.main  - as well as 2 JS related classes --  .dropdown and .list (for the new responsive submenu) that were

[2013-01-16 18:02] ebollens commented on #30
@atsengucla I'm going to break this down topic by topic...

I think the concept of `nav.main` is more that of a mega-menu than _necessarily_ the main menu, although the two often serve the same purpose. As such, using `nav.main` might actually be the wrong route and we should be using something like `nav.mega`.

Eventually, I intend to add two-tier support for `nav.bar`, but that's different than

[2013-01-16 18:07] ebollens commented on #64
Well, initialization of effects on particular elements can all go into the WebBlocks entity's module subdirectory within `src`. For that matter, you can actually even add additional drivers this way if they're not already in Efx - since Efx is adapter-driven and just delegates responsibility for an effect to a driver that has registered with it.

On the note of the accordion, does the one in Efx a

[2013-01-16 19:00] alicetseng commented on #30
@ebollens - ok thanks this helps clarify things a little better.

I think the concept of nav.main is more that of a mega-menu than necessarily the main menu, although the two often serve the same purpose. As such, using nav.main might actually be the wrong route and we should be using something like nav.mega.
- I think nav.mega is a clearer name to its purpose than nav.main - saying it this way he

[2013-01-16 19:12] ebollens commented on #30
Okay, then unless @loganfranken objects, I propose we change Entity/Nav/Main to Entity/Nav/Mega.

[2013-01-16 19:16] lnicks commented on #30
@atsengucla's suggestion makes sense to me. The .main portion conveys to me a location on the page, in relation to the content which may not always be the case.  ex. We use the mega menu concept in footers as well.

[2013-01-17 17:51] jrosczyk commented on #224
I'm starting a new project, so I grabbed a fresh build. My environment uses OSX 10.8.2 and Ruby 1.9.3.

[code]

[2013-01-17 19:45] ebollens commented on #224
What happens if you just type `git submodule init` and then `git submodule update` from within the WebBlocks repository root?

[2013-01-17 21:23] jrosczyk commented on #224
That works. Using it as a submodule is probably better anyways. Thanks.

[2013-01-17 22:27] lnicks opened #225 "Container not adhering to max width"
[code]

Here's what I have in the _variables.scss file.

Unsure if my syntax is wrong or not.

Branch `[app/dentistry]` updated for example.

/cc @ebollens @chris4ucla

[2013-01-17 23:15] lnicks opened #226 "Panels not collapsing"
I have a 4/8 panel split like so:

[code]

The `[dentGift]` div has a width set to 260px.  As I collapse, the panel-8 section does not respect the width and overlaps the panel-4 div.

Unsure if this is a syntax issue on my end, or possibly a bug.  May also be related to [#225] re: container max width.

/cc @ebollens @chris4ucla

![image](https://f.cloud.github.com/assets/2048842/76679/671d0388-60f

[2013-01-17 23:21] ebollens commented on #226
Looks to me like you're using an uncontained float...

[2013-01-17 23:23] lnicks commented on #226
no floats at all, using text align / fixed width on the second `<p>` tag.

This is all of the css I have generated:

[code]

[2013-01-17 23:25] ebollens commented on #226
Will need to see web inspector output. Is this live somewhere?

[2013-01-17 23:26] lnicks commented on #226
Sure is: http://dentistrydev.oit.ucla.edu/

Also, I should add, it _does_ collapse at the smallest breakpoint, like expected. That screencap is a mid-range breakpoint.

[2013-01-17 23:29] ebollens commented on #226
I'm not seeing any issues in Safari. What browser and version are you using?

[2013-01-17 23:31] lnicks commented on #226
Chrome Version 24.0.1312.52 m, win7

[2013-01-17 23:32] lnicks commented on #226
Safari 5.1.7 (7534.57.2), win7 behaves like Chrome.

[2013-01-17 23:38] ebollens commented on #226
Browser cache bit me. There we go, now seeing the issue.

The problem you've got (you can see this if you use the web inspector) is that you've explicitly defined a width on an internal element `#dentGift` that is _larger_ than the computed width being derived by the outer element `panel-4`, since it is computed proportionally. Basically, you're breaking the fluid grid in the same way it will brea

[2013-01-17 23:45] lnicks commented on #226
Is it computed proportionally on the fly?

In a 3/2 Split, the 4 panels, on a 960px should be 320px.  That doesn't account for gutters, not sure how they apply here 9 (but they're set to 3%, so I can't imagine that being the issue).

The element in question is 260px with no margins.

Not particularly sure how to deal with this for a static element such as a logo, as very few of them are ever going

[2013-01-18 00:32] ebollens commented on #226
It's computed based on percentages. Your `.panel-4`, according to web inspector, is `31.62393%`.

The outer row `.dentFrontPage` has set to `.small-collapse`. That means that it won't collapse until you hit the small breakpoint which, by default, is `600px`. That means that, at `601px`, which means your usable space will be just under `200px` before it cascades. Try changing `.small-collapse` to s

[2013-01-18 01:55] lnicks commented on #226
Got it working, thank you much @ebollens

[2013-01-18 01:55] #226 closed, assigned to nobody

[2013-01-18 17:09] alicetseng commented on #30
@ebollens and @lnicks - sorry for the delay - I've been swamped with other work - anyways since you're waiting for this I'm giving you a first pass to get started and if I'm on the right track after the basic SASS mixins have been created I can come back this weekend to help set color vars and additional styling extensions. I have some time Saturday.

I'm still having issues with the git GUI - and

[2013-01-18 17:15] alicetseng commented on #30
@ebollens and @lnicks :

Here's the css/html prototype for entity/nav/mega. Hopefully I'm on the right track — since our last convo it seemed like there was no need to follow Bootstrap on this so I just extended what seemed to make sense and rewrote styles to work visually with what we already have.

Colors are set to boostrap defaults but meant to accept WebBlocks color Vars when this gets implem

[2013-01-22 21:29] lnicks opened #227 "DIV / UL Row, not inline"
I have a row, with a 6-6 panel split, one is a UL, one is a DIV.  Taken from example provided earlier this is the basic markup.

Right now, both elements are stacked, as if there is a clear being applied to the div.

I am unsure if this is the wrong syntax, or if there's a complication with UL / DIV on a row.  I have no floats nor clears applied to any elements within the footer.

[code]

[2013-01-23 02:05] lnicks commented on #227
Strangely enough, in reverse it appears to be working fine.  That is, if the div comes first, instead of the UL, it works.

http://dentistrydev.oit.ucla.edu

You can see an example here: The header is a div/ul panel-6 split.  The footer is a ul/Div panel-6 split.

/cc @ebollens @chris4ucla

[2013-01-23 02:21] lnicks commented on #227
my `[app/dentistry]` branch is up to date with my most current settings if you need them.

[2013-01-25 01:54] lnicks opened #228 "Windows 7 Compile Compatibility Problems"
Having problems with the compiler on Windows 7. I haven't updated any of the versions of the software since @ebollens got it working on my computer.

I'm forced to use `[bundle exec rake]`, and it seems to run to completion, but it's not generating any assets.  I have emptied and deleted blocks.css and nothing changes about it.  I've given the command line administrative access (though I'm unsure

[2013-01-25 23:32] loganfranken opened #229 "Add Entity/Form and Entity/Badge Documentation"
This is probably already on a TODO list somewhere, but I didn't see an issue out there for it: we'll want to create some documentation for Entity/Form and Entity/Badge.

[2013-01-25 23:40] loganfranken opened #230 "Support List Element Within Entity/Form"
In my experience, structuring forms with `form>ul>li` is a common, semantic practice:

[code]

I was hoping we could extend the Entity/Form element to allow `.control` to be applied to inner `li` elements as well?

[2013-01-25 23:59] ebollens commented on #230
Sounds like a completely reasonable idea. I like the idea of making a form a list (except for the whole multiple fieldsets bump, in which case each fieldset becomes its own list).

[2013-01-28 19:33] ebollens opened #231 ".float-container use overflow:hidden rather than overflow:auto"
Using overflow:auto can create scrollbars, when hiding is probably preferable. At least two uses cases have shown this thus far.

[2013-01-28 21:00] #231 closed, assigned to ebollens

[2013-01-28 21:10] jeff1evesque commented on #228
When trying to compile using 'rake' commands, I get the following errors:

[code]

[2013-01-28 22:24] #223 closed, assigned to ebollens

[2013-01-28 22:39] ebollens opened #234 "Remove jQuery from .gitmodules"
jQuery submodule is superfluous since we download jQuery instead.

[2013-01-28 22:45] ebollens opened #235 "Fix Hide/Show Breakpoints"
Right now, we have just small/medium/large hide and show controls. Unfortunately, with all the new breakpoints, this is now a little more complex. I'm thinking that show controls should show an element ABOVE a breakpoint, while hide controls should hide an element AT OR BELLOW a breakpoint. The problem is that, what if you want to hide in some midpoint breakpoints but show in small and large? Prec

[2013-01-28 22:47] ebollens commented on #228
@lnicks could you post the complete output of the error you're getting?

[2013-01-28 22:48] lnicks commented on #228
That's actually all I get from the bash window.  I am not getting any errors.  It says it runs fine, but the actual file doesn't change.

[2013-01-28 22:51] ebollens commented on #220
The reason for the filenames having hyphens in them even though the titles have slashes is that I'm trying to just do a two-tier file structure, not bury everything layers deep - but by module name (if you're building WebBlocks with configuration options) there's slashes.

Besides that, the other fixes are now in.

[2013-01-28 22:51] #220 closed, assigned to ebollens

[2013-01-28 22:53] ebollens commented on #228
@lnicks I mean when you run this without `bundle exec` to execute it. Just when calling `rake` straight, you get no error messages?

[2013-01-28 22:54] lnicks commented on #228
[code]

[2013-01-28 22:57] ebollens commented on #224
I think I'm going to add some instructions to the documentation that ask you to call `git submodule init` and `git submodule update` before running WebBlocks. It's not as elegant as just having the user run `rake` and have it do all the checkouts itself, but better than nothing.

[2013-01-28 23:02] ebollens commented on #228
If you call `bundle` or `bundle install` first, it should activate the right version of Rake to run.

[2013-01-28 23:03] lnicks commented on #228
[code]

[2013-01-28 23:11] ebollens commented on #227
The problem accrues here because the `ul` element, under most browser default sheets, includes a `margin-left` attribute (you can see this with the Web Inspector, for instance). While we could put in a hack that thwarts this, it's going against browser conventions. As such, my recommendation is this:

[code]

I will add mention to this in the documentation that some elements, such as `ul` are not

[2013-01-29 00:31] ebollens opened #236 ".container Should Not Be on BODY Element"
Demos have placed `.container` class on `body` element. This is invalid.

[2013-01-29 00:33] ebollens commented on #235
The `hide-` breakpoint classes now hide at and below the breakpoint in question.

This makes the `show-` breakpoint classes superfluous, and for the time being at least, I've removed them.

[2013-01-29 00:55] #236 closed, assigned to ebollens

[2013-01-29 00:55] #227 closed, assigned to ebollens

[2013-01-29 00:55] #224 closed, assigned to ebollens

[2013-01-29 00:55] #234 closed, assigned to ebollens

[2013-01-29 00:57] #235 closed, assigned to ebollens

[2013-01-29 06:13] loganfranken commented on #30
I'm responding way late here, but I support the switch to `Entity/Nav/Mega`.

Also, on the topic of the divider: I personally prefer using `:after`. I opted not to use it (in entities like the breadcrumb) because the explicit `span` lets Users define the divider glyph easier. I wonder if we could support both options somehow?

[2013-01-29 17:28] ebollens commented on #225
Please provide some sample markup to replicate.

[2013-01-29 18:23] lnicks commented on #225
This was posted before we realized the compiler is broken.  I'm not sure the initial problem is related to the container, if our settings weren't being added.

[2013-01-29 23:43] spiritcapsule opened #243 "Add Support for Rugby Stripe type themes"
in a rugby stripe theme, there is usually a max-width on the page container (960px for example) and the background colors of the page sections (banner/masthead, nav, content, footer) extend to the left and right beyond the boundaries of the sections and containers, usually to the window's edge

right now, this requires a hack with webblocks

[2013-01-30 16:45] ebollens commented on #37
I am assigning this to myself to close out.

[2013-01-30 16:46] ebollens commented on #64
What's the status on this at this point?

[2013-01-30 16:46] ebollens commented on #166
What's the status of this?

[2013-01-30 16:47] ebollens commented on #185
This has been moved back to milestone 0.1.07.

[2013-01-30 16:47] ebollens commented on #186
This has been moved back to milestone 0.1.07.

[2013-01-30 16:47] ebollens commented on #187
This has been moved back to milestone 0.1.07.

[2013-01-30 16:47] ebollens commented on #188
This has been moved back to milestone 0.1.07.

[2013-01-30 16:47] ebollens commented on #165
This has been moved back to milestone 0.1.07.

[2013-01-30 16:47] ebollens commented on #164
This has been moved back to milestone 0.1.07.

[2013-01-30 16:47] ebollens commented on #159
This has been moved back to milestone 0.1.07.

[2013-01-30 16:47] ebollens commented on #158
This has been moved back to milestone 0.1.07.

[2013-01-30 16:47] ebollens commented on #155
This has been moved back to milestone 0.1.07.

[2013-01-30 16:47] ebollens commented on #32
This has been moved back to milestone 0.1.07.

[2013-01-30 16:48] ebollens commented on #30
This has been moved back to milestone 0.1.07.

I agree that `:after` is preferable in many regards.

[2013-01-30 16:50] ebollens commented on #230
This has been moved back to milestone 0.1.07 as it is a non-critical feature add-on.

[2013-01-30 16:58] ebollens commented on #225
I am closing this as I cannot replicate the issue you're reporting regarding `.container`.

[2013-01-30 16:58] #225 closed, assigned to ebollens

[2013-01-30 17:18] ebollens commented on #124
I have moved the UCLA colors to a UCLA extension.

To enable the extension, build with the following set in `Rakefile-config.rb`:

[code]

I'm going to now go in and try to mirror the sort of shadow/accent approach used for the UCLA extension back into the main set of colors. Will likely tweak on a few of these colors as well since right now, `.important`, `.error` and `.danger` all have the same

[2013-01-30 21:58] ebollens commented on #228
Turns out this is an issue with the Drupal theme `Gemfile.lock` file, given an update to WebBlocks that changed dependencies. See this pull request for more details:
https://github.com/ucla/drupal-WebBlocks/pull/98

[2013-01-30 21:58] #228 closed, assigned to ebollens

[2013-01-30 21:59] ebollens opened #244 "jQuery Submodule Bug"
When attempting to run `git submodule init`, the following error returns:

[code]

[2013-01-30 23:35] StillSlippery opened #248 "Need a "Hide Above""

[2013-01-31 18:21] #244 closed, assigned to ebollens

[2013-01-31 18:21] #182 closed, assigned to ebollens

[2013-01-31 22:17] loganfranken commented on #243
Hey @chris4ucla, would you happen to have an example of this?

I'm working on a project right now with Web Blocks, and I just use an element to contain a `.container` element when I want background colors to extend beyond the reach of the responsive container:

[code]

Not sure if you're referring to something else, though?

[2013-01-31 22:29] loganfranken commented on #64
Sending myself a note to post an update on the status of this tonight. It's sitting, partially implemented on my home computer.

[2013-01-31 22:30] loganfranken commented on #166
I haven't started work on this. I'm getting slammed at work; if we want this for 0.1.06 I would suggest taking the task from me (sorry!).

[2013-02-01 19:16] spiritcapsule commented on #243
On another project @ebollens and I were working on, we were trying to center a horizontal nav menu. Eric had to modify a little more than he seemed to want to. He called his solution hacky... So we're just talking about making this a little cleaner to implement.

[code]

[2013-02-01 19:23] ebollens commented on #243
@loganfranken the problem specifically relates to the navbar.

[2013-02-04 09:35] loganfranken commented on #64
So I've completed the "flyout" effect for the `entity/nav/list`. Honestly, the effect itself is a little messy and we may want to consider removing it unless we can harden the implementation. Since we need fixed widths for the absolutely positioned child lists, the code dynamically bases the width on the root list element.

To round off this entity, we need to do a couple things:
- Harden implemen

[2013-02-04 16:31] ebollens opened #250 "Remove jQuery Compile Components from Gemfile/package.json"

[2013-02-05 17:42] #248 closed, assigned to ebollens

[2013-02-05 17:43] ebollens commented on #248
I have now added a set of classes `hide-above-X` that allow you to hide content above a certain breakpoint. Basically, if you use `.hide-small`, content will only be visible above `$breakpoint-small`, whereas if you use `.hide-above-small`, then content will only be visible at and below `$breakpoint-small`.

/CC @lnicks @chris4ucla @jeff1evesque @loganfranken

[2013-02-05 19:43] lnicks commented on #248
Using `.hide-above-small` is not working for me on http://dentistrydev.oit.ucla.edu.  Unsure if I have had a problem updating with git or if it's not working.  Not sure how to check.

[2013-02-05 19:58] lnicks commented on #248
Also, can this functionality be used as such:

`[panel-8][panel-4 hide-above-small][panel-4 hide-small]`

Edit: hide-small

[2013-02-05 20:08] ebollens commented on #248
See my email. It failed to push the update until now.

On Feb 5, 2013, at 11:44 AM, "lnicks" <notifications@github.com<mailto:notifications@github.com>> wrote:

Using .hide-above-small is not working for me on http://dentistrydev.oit.ucla.edu. Unsure if I have had a problem updating with git or if it's not working. Not sure how to check.

—
Reply to this email directly or view it on GitHubhttps://

[2013-02-05 20:08] ebollens commented on #248
Not with guarantees effect. But how is it diff from putting two divs inside the panel-4?

On Feb 5, 2013, at 12:00 PM, "lnicks" <notifications@github.com<mailto:notifications@github.com>> wrote:

Also, can this functionality be used as such:

[panel-8][panel-4 hide-above-small][panel-4 hide-below-small]

—
Reply to this email directly or view it on GitHubhttps://github.com/ucla/WebBlocks/issues/24

[2013-02-05 20:12] lnicks commented on #248
I may have butchered that.

I mean using it like a conditional, and there are two panel-4s and only one is active at a time, even though the amount in the DOM adds up above 12 (in this case, 12 are active, 16 total).

Essentially conditional content based on screen size.

[2013-02-05 20:15] ebollens commented on #248
No, I understood what you meant. Use a single panel with two divs inside with the visibility controls on those. This is because panels themselves use nth child selectors, so their existence in the DOM will lead them to be styled potentially differently, even if only one shows at a time.

[2013-02-05 20:18] lnicks commented on #248
So if I'm understanding this correctly, this is extremely useful.

/CC @chris4ucla @ssantaana @jeff1evesque

[2013-02-05 20:29] lnicks commented on #248
Still not having any luck with `.hide-above-small`.

[2013-02-05 20:38] lnicks commented on #248
Nevermind!

[2013-02-05 21:13] lnicks opened #251 "Compiling CSS only"
I know there's a way to compile only the css, but after looking through the documentation and I couldn't find it.

/CC @chris4ucla @ssantaana @jeff1evesque @ebollens

[2013-02-05 21:18] ebollens commented on #251
To quote directly from `README.md`:

[2013-02-05 21:20] lnicks commented on #251
Yeah so I only looked through the doc folder.  Thanks!

[2013-02-05 21:20] #251 closed, assigned to nobody

[2013-02-06 00:34] #250 closed, assigned to ebollens

[2013-02-06 07:28] spiritcapsule opened #252 "remove maximum-scale from viewport"
I noticed that in the demo pages, we have:

[code]

From what I've read, maximum-scale=1 prevents the user from zooming on their device. That introduces an accessibility problem.

Having it on the demo pages sets a bad precedence as people are likely to copy the code from these pages.

I recommend we remove maximum-scale from the viewport meta tags.

[2013-02-06 17:55] ebollens opened #253 "Flawed Variables Linking Order"
Currently, variables are linked to be compiled as a queue.

This is not exactly correct. Instead, each handler (any level incuding definitions, adapters, extensions, src.) should be loaded in stack order, although if it has multiple variables files, those variables files should be loaded in queue order within the stack order of handlers.

Using this style requires that all extensions, adapters and

[2013-02-06 18:08] ebollens commented on #253
Actually, a new change in the way that this order will work:
- src
- extensions
- core definitions
- core adapter
- third-party adapters

Why? Because adapters are supposed to build on the variables defined in the core. This means that, in many cases, they do assignments to other variables, such as Bootstrap's compile variables, trying to reference variables that WebBlocks defines. This fails mise

[2013-02-06 18:18] ebollens commented on #253
The test case to make this pass:
- Value set in src `_variables.scss` overrides all others
- Value set in extension `_variables.scss` with `!default` overrides all core and adapter definitions but not src
- Value set in core with `!default` can be overridden by extension or src

[2013-02-06 18:20] ebollens opened #254 "Unit Test for Variables Load Order"
The issue #253 changed the order in which variables files load. All unit tests passed before, and all unit tests pass after, meaning that we changed something that doesn't have coverage. This should be corrected.

[2013-02-06 18:22] ebollens commented on #253
Disregarding unit tests (or really the lack of coverage in tests), the above commit resolves this issue. Unit tests have been split off into #254.

[2013-02-06 19:07] ebollens commented on #124
The commit 97f8501 modified the implementation of the core adapters branding color `_variables.scss` file so that you can hook in at various points in order to define a color scheme, at it will generate the rest. When coupled with the commit 4e8ab37, that modified the load order of variables, what we end up with is the ability to do something like this within an extension:

[code]

Unfortunately,

[2013-02-06 22:21] ebollens opened #255 "Improve $color- Computations for Light Variant"
The core adapter takes the `$color-` variables and computes out a number of shades, such as those used for the light variant. Unfortunately, because of the percentage-based calculation, a definition like `$color-branding-primary: #FFAAAA;` causes the light variant to just show up white. Need to use the color value to set the hue, not the lightness.

This pertains to the changes made in #124.

[2013-02-07 17:42] ebollens commented on #255
The commit 46a88e1 tweaks light color implementation to use `hsv` whereby the hue and saturation are extracted from the base color but the value comes from a lightness percentage. Benefit to use of `hsv` value attribute over computing some percentage of assigned values in `rgb` is that `hsv` is a cylindrical coordinate representation of color while `rgb` is a cubic coordinate representation, meani

[2013-02-07 19:01] #124 closed, assigned to ebollens

[2013-02-07 19:01] #255 closed, assigned to ebollens

[2013-02-07 19:03] ebollens commented on #253
This was fixed by pull request #256

[2013-02-07 19:03] #253 closed, assigned to ebollens

[2013-02-07 19:32] #122 closed, assigned to ebollens

[2013-02-07 19:32] #166 closed, assigned to ebollens

[2013-02-07 19:37] ebollens commented on #229
Added Entity/Badge documentation to this issue as well.

[2013-02-07 19:39] ebollens opened #258 "Construct Unified Documentation/Demo App"
Right now, we have a set of `/demo` HTML files that contain a brief showcase of what each element does, and we have a set of `/doc` markdown files that explain what various elements do. However, this is not necessarily a reasonable structure.

We should provide a shared interface that includes documentation and demos, using a built copy of WebBlocks to style the documentation. Javascript should be

[2013-02-07 19:42] ebollens opened #259 "Browser Testing for WebBlocks"
Need to test WebBlocks in a variety of different browsers - Gecko (Firefox), WebKit (Safari, Chrome), and Presto (Opera) should be trivial to test, but Trident varieties including 4.0, 5.0, and 6.0 (IE 8+).

[2013-02-07 22:07] ebollens opened #260 "Darken Text Shades"
Use the same darkening technique as #255 for text colors.

[2013-02-07 22:13] jrosczyk commented on #185
After using both the Adaptive-Images and Responsive Images techniques mentioned above, I am leaning toward the idea of letting the mobile carriers handle compression.
http://boagworld.com/dev/how-should-we-handle-responsive-images/

[2013-02-07 22:39] ebollens opened #261 "Remove Incomplete Modules"
Several modules are not implemented:
- Entity/Nav/Main
- Entity/Header/Masthead

These should be removed from `master` until they're implemented.

[2013-02-07 22:58] ebollens opened #262 "Add package/jquery to .gitignore"
#241 removed `package/jquery` in favor of a `wget` that fetches the jQuery dist file. As such, it should be added to `.gitignore`.

[2013-02-07 23:13] ebollens commented on #258
I've implemented a general skeleton and EJS-based framework for the documentation - namely all documentation "pages" are organized into views and rendered out when the corresponding anchor is clicked.

Documentation will be organized into the following sections:
- Home - Introduction to WebBlocks
- API - Information about modules such as base and entities
- Configure - Information about how to con

[2013-02-07 23:17] #262 closed, assigned to ebollens

[2013-02-07 23:20] #261 closed, assigned to ebollens

[2013-02-08 00:08] #260 closed, assigned to ebollens

[2013-02-08 00:39] ebollens commented on #185
This is some interesting stuff. Unfortunately, it doesn't look like it's generically offered, so it may not be enough. But what I'm thinking is that we can (a) run an optimizer on the images in the build `img` directory and (b) provide some compression that people can use optionally. There's no harm in providing these extra features, I don't think. What were your results like with Adaptive-Images

[2013-02-08 04:56] jrosczyk commented on #185
I liked how Adaptive-Images doesn't require any html changes, it finds the images and makes the changes server-side. Unfortunately, it places a cookie and caches the images. I was able to modify the code to get around needing a cookie, but the image caching is something I'd like to avoid (although resizing server-side on the fly slows the performance down too much). This could be a decent techniqu

[2013-02-12 04:04] ebollens opened #263 ".panel-X only as direct child of .row"
I've discovered a bug in implementation of `Y-collapse`: if nesting rows three layers deep, then gutter bugs may manifest. To generate this, try:

[code]

This will pad incorrectly.

As such, I propose a modification to the semantics: `.panel-X` definitions use direct child selector.

This would prevent you from doing the following:

[code]

I don't see a reason why this would be useful anyways.

[2013-02-12 06:20] ebollens opened #265 "Add .X-expand classes to .float-left and .float-right"
Consider this statement from the float documentation:

We should provide an easy way to say when a float should go to 100% width. We already have a pattern for this with the `.X-collapse` classes used by `.row`, except in this case it's `.X-expand` instead since the float will be expanding.

[2013-02-12 06:30] ebollens opened #266 "Prevent Bootstrap Overriding Base/Type/Font"

[2013-02-12 07:04] ebollens opened #267 "Fix Bugs with Small Header Text"
The `small` tag within header tags such as `h1` is defined by variables such as `$type-font-size-h1-small`. These sizes are set in `em` values, meaning they'll inherit based on the size of their parent. However, right now, they're set to be `> 1em`, meaning they make `small` larger than the parent, which is a buggy outcome. This should be rectified.

[2013-02-12 07:05] ebollens commented on #198
Any update on this?

[2013-02-12 07:07] ebollens commented on #267
These values seem good:

[code]

[2013-02-12 07:39] lnicks commented on #263
I have not had a need to nest that deep yet, don't think I will either.

I don't see what the problem is with requiring the relationship, I haven't run into any situations where that would be advantageous.

[2013-02-12 17:55] ebollens opened #268 "Accessible Invisible Text"
Labels and other sorts of HTML content are often necessary for accessibility, although they don't necessarily fit the page flow well. We should provide a class that leaves a piece of content visible to accessibility tools but hides it from general user browser view.

/CC @chris4ucla

[2013-02-12 18:27] spiritcapsule commented on #268
when that text can be a focus target (a link for example), it should become clearly visible when it gains focus -- this is for the use case of a sighted keyboard-only user

[2013-02-12 18:27] spiritcapsule commented on #268
skip links are the most common example of this

[2013-02-13 03:40] ebollens opened #269 "Closable Message should not be Bootstrap-bound"
The `.closeable` class can be appended to a Bootstrap message. However, with EFX, this should be implementable in a generic way. Also, "closeable" isn't really a word, so we should find a better class name for this - and it should be in the core definitions, which it isn't currently.

[2013-02-13 05:12] #267 closed, assigned to ebollens

[2013-02-13 06:12] ebollens commented on #37
This one is sliding back to 0.1.07 because it does not currently work without the Bootstrap adapter.

[2013-02-13 06:35] ebollens opened #271 "nav.bar Collapse Styling"

[2013-02-13 21:02] lnicks opened #273 "Request: Offline-only directive for Webblocks Compiler"
An option that would only compile the CSS would be helpful in our cases where we use a development server.  I don't expect people to stop using that method with webblocks, and the current implementation takes a while to wait for a compile, for even the smallest changes.

Would be a super time saver.

/cc @ebollens @chris4ucla @rrocchio

[2013-02-13 22:19] loganfranken opened #274 "Custom CSS Build Directories Not Working"
I could be setting this up wrong, but I wanted Web Blocks to drop the CSS and JS files directly into the file structure of my existing project, so I added the following setting to the configuration file:

`WebBlocks.config[:build][:dir] = "D:/Projects/WebsiteUsingWeblocks"`
`WebBlocks.config[:build][:css][:dir] = "style"`

Actually, just to make sure it's clear what's happening, let's set it to th

[2013-02-13 23:00] loganfranken commented on #230
Went ahead and fixed this as I need it for a project.

Hrm, sorry about the large diffs: I'm not exactly sure why my editor keeps arguing with GitHub diff over the line-endings. I'm using Visual Studio with the encoding set to UTF-8 w/o signature because I thought that would be as plain Jane as I could get encoding-wise.

[2013-02-13 23:37] loganfranken opened #276 "Builder Exception on Missing Paths"
Would it be at all possible to get the Builder to check if specified paths exist and then throw an exception if they don't?

For example, I was accidentally using the following config setting (note the underscore instead of the dash):

`WebBlocks.config[:src][:extensions] = ["implicit_html"]`

The Builder would link it but not complain:

`[Core: Extensions] Linking extension implicit_html`

On top

[2013-02-13 23:59] loganfranken commented on #230
The list implementation has different padding than the regular implementation.

[2013-02-14 00:26] #230 closed, assigned to loganfranken

[2013-02-14 00:45] ebollens commented on #258
A couple changes in talking with Ed:
- Should have a troubleshooting section that is readily available
- Move Modules List to an Advanced section in the API
- Caveat better that this is written in WebBlocks so resize it while you're using it to see the results!
- Button sizes aren't working
- Buttons have multiple different internal texts
- Two "Blockquote with Attribution" headers - make second s

[2013-02-14 02:11] ebollens commented on #274
@loganfranken what happens if you set it this way:

[code]

I know this is not ideal, but is it a viable workaround?

[2013-02-14 02:50] ebollens opened #278 "Button Sizes in Core Adapter"
Core adapter button sizes are not currently working.

[2013-02-14 03:24] loganfranken commented on #198
No update on this; I'll do my best to try and get to it but I can't guarantee it, unfortunately.

[2013-02-14 08:30] ebollens commented on #258
As a status update, the following are complete:
- Start
- API/Classes
- API/Modules
- API/Variables
- API/Base/Structure
- API/Base/Block
- API/Base/Type
- API/Base/Block
- API/Entity/Button
- API/Entity/Form
- API/Entity/Message
- API/Entity/Badge
- API/Entity/Blockquote
- API/Entity/List
- API/Entity/Table
- API/Entity/Icons
- Configuration/Compiler/Common
- Development/Architecture/Terminology

[2013-02-14 17:21] ebollens commented on #274
It also dawned on me that Ruby might not be treating these as absolute paths, although I have no idea.

[2013-02-14 17:43] ebollens commented on #274
It appears that part of the problem here is that WebBlocks attempts to use the directory name from the configuration setting as what it generates in `.build-tmp`. The top of a log from @uncleerniebs where he specified a path for the CSS directory and it's trying to create that as the temporary directory:

[code]

[2013-02-14 17:44] loganfranken commented on #274
Hey @ebollens, thanks for the suggestion, but strangely enough, that actually causes the Builder to copy the file over onto itself:

`Copying D:/Projects/WebsiteUsingWebBlocks/style/blocks.css to D:/Projects/WebsiteUsingWebBlocks/style/blocks.css`

This isn't holding me up at all: I just directed the output to a different directory for right now.

[2013-02-14 17:47] ebollens commented on #274
Okay, well it's an issue that conflicts with the documentation, so we'll need to resolve it.

[2013-02-14 18:11] loganfranken opened #279 "Fixed Widths on Small/Mini Buttons in Forms"
I noticed that, when I was applying size modifier classes to inputs within forms (`.small`, `.mini`, and `.large`), it was applying a fixed width to those buttons on the largest viewport size. I wasn't sure if there was a reason for this? It would seem to make more sense/be more consistent to have those be `width: auto` so that they don't cut off text.

[2013-02-14 18:14] ebollens commented on #279
This is unintentional.

Is this in the core adapter, Bootstrap adapter, or both?

I'm marking as a bug to resolve in 0.1.07.

[2013-02-14 18:26] loganfranken commented on #279
I personally saw this in the Bootstrap Adapter.

[2013-02-14 21:17] loganfranken commented on #273
Just in case I'm missing something: would this be different than the `build_css` option that only compiles the CSS?

[2013-02-14 22:26] lnicks opened #280 "Handling borders and the box model"
I'm trying to add a border to an element that spans the entire width of the page. I am unsure how this is handled in webblocks.

Right now, the I've got the width set to 960px in variables.css, but the box ends up being 962px, thus the right border isn't showing.

This may be way easier than I am making it, but I don't know what the best method for handling this is.  Didn't see anything in the doc

[2013-02-14 22:38] loganfranken commented on #280
Not sure if this fits your needs, but on a project that I'm working on at the moment I solved this by putting the element with borders into a wrapping `div` with one of Web Block's structural elements. So, instead of:

`<div class="component panel-4"></div>`

(Where `component` has borders) I switch it to:

[code]

The extra `div` is a little undesirable but I feel like it's one of those "framewor

[2013-02-14 22:40] lnicks commented on #280
This is a good idea.  I keep forgetting we can wrap things.

I'm using it in a list right now, so the `UL` itself is the max width object, but since the `UL` is in a `LI` from the previous list , I might be able to put a `div` around it.

Will give it a shot, thank you!

[2013-02-15 00:03] ebollens commented on #280
The alternative is to use the `box-sizing:border-box`. More details are here:
https://developer.mozilla.org/en-US/docs/CSS/box-sizing

However, we've chosen not to use this because there's no transparent hack that can solve the issue of support for earlier versions of IE; while IE7 isn't completely supported, relying on this would completely break the IE7 gridding, so I elected to ignore it. It ma

[2013-02-15 00:08] ebollens commented on #273
Yes, the `build_css` task still does the `git submodule` stuff. What @lnicks is asking for is basically something that bypasses this step altogether. To make it generic across `build` and all the `build_` tasks, this would be an option in the invocation of rake kind of like `--config`.

[2013-02-15 00:09] ebollens commented on #273
Sorry, this comes from a discussion in another location, which is why I know he's shooting for this in particular.

[2013-02-15 00:10] lnicks commented on #273
Yeah, apologies for not being clearer.  It's just for rapid prototyping where only a line or two of css gets changed and that's it.

[2013-02-15 01:55] ebollens commented on #258
Following up on my previous update, these are now complete:
- Start
- API/Classes
- API/Modules
- API/Variables
- API/Base/Structure
- API/Base/Block
- API/Base/Type
- API/Base/Block
- API/Entity/Button
- API/Entity/Message
- API/Entity/Badge
- API/Entity/Blockquote
- API/Entity/List
- API/Entity/Table
- API/Entity/Icons
- Configuration
- Configuration/Environment
- Configuration/Compiler
- Config

[2013-02-15 01:56] ebollens commented on #258
I'm going to pull request this into `master` as soon as I get the remaining API stuff done. That will leave just recipes and development to do.

[2013-02-15 06:36] lnicks opened #281 "Request: Compiler Timestamp"
Would it be possible to get a time stamp at the end of the compiler report?

[2013-02-15 07:20] ebollens opened #282 "Allow Override of Special Mood Colors"
Right now, a few mood colors have "special" default assignments:

[code]

We need a mechanism for making sure that these are only set if the user hasn't redefined their base.

A mixin like this one might help:

[code]

This comes from here:
http://stackoverflow.com/questions/8512802/checking-if-a-variable-is-defined-in-sass

[2013-02-15 08:05] ebollens commented on #281
Sounds like a completely reasonable request. In fact, we should not just provide timestamps but also actual timing evaluations to let you know, minimally, how long each phase took.

[2013-02-15 08:06] lnicks commented on #281
Yes, I would be curious how long this takes (we can race?)

[2013-02-15 16:03] ebollens opened #283 "Add hX.divider to nav.list"
Right now, you can only put a divider on a list in `nav/list`. However, in some cases, you want to header each section.

[2013-02-15 18:31] ebollens opened #284 "Link Colors on Background Colors"
Link colors on a background are currently unreadable. This occurs, for example, if you use an `a` tag as the `.toggle` for the menu when it's colored.

[2013-02-15 18:37] ebollens opened #285 ".button.light Hover Bug"
When hovering over a light button, the effect is not a single color like when hovering over the standard `.button`. Instead, it's a two-tone with a harsh line in the middle.

[2013-02-15 19:28] ebollens opened #286 "form.form div.control spacing"
Right now, spacing on the `form.form div.control` is not ideal unless the form is `form.form.horizontal`. Elements get unnecessarily clumped together.

[2013-02-18 08:26] ebollens commented on #198
This has moved to 0.1.07 and we'll just compile with Bootstrap adapter for the moment.

[2013-02-18 08:26] ebollens commented on #64
This has moved to 0.1.07 and we'll just compile with Bootstrap adapter for the moment.

[2013-02-18 08:27] ebollens commented on #229
This was done as part of #258 .

[2013-02-18 08:27] #229 closed, assigned to ebollens

[2013-02-18 08:32] ebollens commented on #258
Been whittling away at this all weekend.

The following are now done:

Following up on my previous update, these are now complete:
- Start
- API
- API/Planned
- API/Classes
- API/Modules
- API/Variables
- API/Base/Color
- API/Base/Structure
- API/Base/Block
- API/Base/Type
- API/Base/Block
- API/Entity/Button
- API/Entity/Message
- API/Entity/Badge
- API/Entity/Blockquote
- API/Entity/Form
- API/E

[2013-02-19 02:37] ebollens opened #289 "Create Missing "Core" Documentation Pages"
Issue #258 was about creating all the requisite documentation that one would need to develop using WebBlocks. This issue is about creating the remainder of the documentation, things that are useful for core development but not quite as pertinent for general users.
- Core/Architecture/Module
- Core/Architecture/Package
- Core/Architecture/Adapter
- Core/Contribute/Model
- Core/Contribute/Submit
- C

[2013-02-19 02:39] #258 closed, assigned to ebollens

[2013-02-21 01:31] ebollens opened #291 "Fix Doc HEAD Style/Script Tags"
Right now, we've got tags in the wrong place, thanks to a comment.

[2013-02-21 01:34] ebollens commented on #279
Can you please explain this better. I've now taken a look and then seem to be behaving as intended.

[2013-02-21 19:37] ebollens opened #295 "Getting Started Guide"
@zkhalapyan pointed out to me that there isn't an obvious "Getting Started" article. The recipes are kind of intended to meet this need, but they're not necessarily simple enough, and they're chopped up into numerous articles.

[2013-02-21 19:40] spiritcapsule commented on #295
Github issues could use some kind of voting or "liking" feature.
This comment is just to say i like @zkhalapyan's suggestion. A Starting Point would be helpful for newbies. :smile:

[2013-02-21 19:44] ebollens commented on #295
Don't worry, it will go in.

Customary for GitHub if you want to "upvote" something is just through a comment that reads:

Another option is to use the thumbs up emoticon as `:+1:` which shows as:

Either way, getting feedback like this is helpful so we know what are the most important things to end users.

[2013-02-21 19:46] ebollens commented on #285
Seems there are two different issues:
- Hover with no adapter leads to a dark blue background, which is way ugly.
- With Bootstrap adapter, hover leads to half and half on background and weird looking border.

[2013-02-21 22:34] ebollens opened #296 "Configure Bootstrap Build"
Need to be able to include only some parts of the Bootstrap build rather than the full build.

[2013-02-21 23:07] ebollens opened #297 "Error Button in Demo is Unstyled?"
http://ucla.github.com/WebBlocks/doc/#API/Entity/Button

[2013-02-21 23:20] loganfranken opened #298 "Entity/Nav/Tabs"
Ran into a project today where I needed in-page, tabbed subnavigation:
http://twitter.github.com/bootstrap/components.html#navs

Not sure if we had plans to fold this into another navigation entity, but thought I would plop it down here.

[2013-02-22 00:20] alroman opened #299 "rake clean task removes entire target directory instead of individual files"
There could be non WebBlocks created files that need to survive this task.  It would be better if this task only deleted WebBlocks created files.

[2013-02-22 00:30] alroman opened #300 "Error with 'rake build' -- undefined local variable 'rootdir'"
Using WebBlocks as submodule as directed in the docs (http://ucla.github.com/WebBlocks/doc/#Recipe/Integration/Submodule) with example Rakefile.  With ruby version: ruby 1.9.3p362 (2012-12-25 revision 38607) [x86_64-linux]

When running `rake build` I see the following error after the `_init` task:

[code]

I am able to resolve this issue by redeclaring `rootdir` in WebBlocks' rake method:

[code]

[2013-02-22 02:28] ebollens commented on #300
Does this work if you set the following:

[code]

The reason I ask is that I'd like to make it more generic than absolute path.

[2013-02-22 05:16] loganfranken commented on #299
:+1:

Also: if you specify custom build directories, does it clear out those directories as well? I could have sworn it did in one of my projects, but I haven't had a chance to go back and verify.

[2013-02-22 16:22] alroman commented on #300
Yes that works for me.

[2013-02-22 16:56] ebollens commented on #300
Easy fix in docs then :-)

On Feb 22, 2013, at 8:23 AM, "Alfonso Roman" <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes that works for me.

—
Reply to this email directly or view it on GitHubhttps://github.com/ucla/WebBlocks/issues/300#issuecomment-13952650.

[2013-02-22 19:04] alroman commented on #299
If I specify a custom build directory for images, it wipes out all images that previously existed in the directory.  It looks like custom directories for css & js don't have this behavior.

[2013-02-22 19:46] alroman opened #301 "Defining custom build directory for CSS outputs blank CSS file"
When defining a custom build directory for CSS, the output `blocks.css` and `blocks-ie.css` files are blank.  Defining custom directory like so:

[code]

Note that this is not the case if I rename the custom build directory to the default 'css'

[code]

[2013-02-22 20:01] ebollens commented on #301
This is a duplicate of #274

[2013-02-22 20:03] ebollens commented on #168
Unfortunately, the side of the repo is still a debilitating factor, and one we should resolve now before we get too far down this path, as it has been explained that `filter-branch` essentially requires recloning - essentially a new repository.

[2013-02-22 20:24] #263 closed, assigned to ebollens

[2013-02-22 20:34] #168 closed, assigned to ebollens

[2013-02-22 22:31] rlorenzo opened #302 "Typo in "Alternate Blockquote with Attribution" example"
Currently says:

[code]

Should be:

[code]

Notice the trailing "figure" tag. Will be submitting a pull request shortly.

[2013-02-22 23:42] loganfranken opened #304 "Modify Instructions for Creating Entity Prototypes"
To avoid bloating the size of the repo again, should we modify our approach (and the corresponding instructions) for creating new entity prototypes?

https://github.com/ucla/WebBlocks/wiki/Creating-an-Entity-Prototype

[2013-02-23 00:45] #302 closed, assigned to nobody

[2013-02-23 00:47] ebollens commented on #304
Yes, we should.

I'm inclined to support the following:
- Create an issue
- Describe a prototype
- Upload images (GitHub just added support for attaching images to comments)
- When all is finalized, the final comment that closes it should sum up everything decided
- Documentation kind of replaces what we were doing in `/templates` earlier

[2013-02-23 01:16] #297 closed, assigned to ebollens

[2013-02-23 01:16] #300 closed, assigned to ebollens

[2013-02-23 01:17] ebollens commented on #291
This is done.

[2013-02-23 01:17] #291 closed, assigned to ebollens

[2013-02-23 04:24] #273 closed, assigned to ebollens

[2013-02-23 04:57] ebollens commented on #281
I'm extending this to do the following:
- `--silent` no output from compiler
- `--details` shows the currently level of output
- `--timing` shows data about how long each execute call took

By default, it will no longer show verbose output but rather just stuff like this:

[code]

Meanwhile, here's what it will look like with`--timing`:

[code]

And finally, here it is with `--timing` and `--detai

[2013-02-23 05:00] #281 closed, assigned to ebollens

[2013-02-23 05:01] ebollens opened #309 "Documentation for Builder Directives"
#281 added some new directives for `rake`. These need to be added to the documentation.

[2013-02-23 05:15] #276 closed, assigned to ebollens

[2013-02-24 02:52] loganfranken commented on #304
Sounds good @ebollens

I updated the wiki article with that information:
https://github.com/ucla/WebBlocks/wiki/Creating-an-Entity

I also modified the wiki article to cover all stages of creating an entity (from prototyping to implementation). Related to that, the article now instructs developers to only create one GitHub issue to cover all stages, rather than one for prototyping and another for

[2013-02-24 02:52] #304 closed, assigned to loganfranken

[2013-02-24 03:26] loganfranken commented on #279
This could be the intended behavior; it occurs whenever the button is within a `.control` element:

[code]

(The buttons with size modifier classes within the form will have cut-off text)

[2013-02-27 00:18] lnicks opened #311 "Webblocks default styles"
So Webblocks adds things like `font-weight:bold` to `header` elements.

Is there a reason for doing this?

A way to turn that off or split that, so we get a better reset might be helpful for anyone not using standard fonts (just about every designer on the planet).

There's also some other cases too.  I thought webblocks provided a user-agent reset, but it's unclear what is there and what isn't.

[2013-02-27 00:44] ebollens commented on #311
The reason it is explicitly making them all bold is that the normlize.css reset provided in `src/core/adapter/base/_reset.scss` has an oversight: browsers differ in their implementation of header elements per their user agent style sheet.

Here's a list of some user agent style sheets:
http://meiert.com/en/blog/20070922/user-agent-style-sheets

If you look at that link, you can see that many apply

[2013-02-27 01:05] lnicks commented on #311
The issue is less to do with the actual config and more to do with the consistency, normalization vs reset.

I'm surprised to hear that no one uses complete resets.  I much prefer starting at a baseline, but that's my preference.  I don't mind a normalization, I just wasn't sure where it was coming from, and in this case why.  I have never built a site that didn't change the header font, so it was

[2013-02-27 01:58] ebollens commented on #311
What it changes is completely dependent on the adapter you're using.

If, for example, you're not using an adapter, then you get the following:
- `src/core/adapter/base/_reset.scss`
- `src/core/adapter/base/type/_font.scss`

However, if you're using the Bootstrap adapter, you additionally get all their normalization stuff, which is its own slew of things - many of which do the same things as we do

[2013-02-27 01:58] #311 closed, assigned to ebollens

[2013-02-27 22:13] ebollens commented on #299
Currently, the `rake clean` task operates by deleting the whole WebBlocks directory:

[code]

The problem is that, if you have placed something in `/img` or `/js/script`, but then removed in subsequently, there's no good way to chase it down. Consequently, you either end up deleting too much or too little. It's probably better to obliterate too little rather than too much, though, so I'm going to

[2013-02-27 22:24] #274 closed, assigned to ebollens

[2013-02-27 22:24] #299 closed, assigned to ebollens

[2013-02-27 22:24] ebollens commented on #301
This should be resolved per #274 in the `master` branch.

[2013-02-27 22:25] #301 closed, assigned to ebollens

[2013-02-27 22:25] ebollens commented on #309
#299 resolution modified the behavior of the `clean` task. This needs to be tweaked as well.

[2013-02-27 23:22] ebollens opened #315 "Wrong Values for $type-line-height and $type-line-height-heading"
These have the wrong type in #API/Variables

[code]

[2013-02-27 23:39] ebollens opened #316 "Fix Bug in #Recipe/Layout/Page"
Last demo is incorrect in how it outputs on collapse

[2013-02-27 23:40] ebollens opened #317 "Increase $breakpoint-small"
Looking at the possibility of a 1280 phone with a pixel density of 2, we should likely increase this to `640px`. This came up when looking at @chris4ucla 's HTC Rezound.

[2013-02-27 23:48] alroman opened #318 "Variables in 'src/sass' dir do not override 'type-*' default variables"
I am able to override `$color-branding-default`, but not `$type-font-size` in my _variables.scss file.

I would also suggest having scaled values for h# elements instead of hard-coded values.  This is similar to what sass-twitter-bootstrap does:

[code]

[2013-02-28 00:00] ebollens opened #319 "Document /src/sass/includes Functionality and Place .gitignore to Persist Directory"

[2013-02-28 00:19] ebollens commented on #318
Good catch. These are missing the `!default` qualifier.

[2013-02-28 00:23] ebollens commented on #318
The values are not hardcoded. Their `em`-based. However, Bootstrap does override them currently, which is a separate issue that's covered in #266.

[2013-02-28 00:28] #318 closed, assigned to ebollens

[2013-02-28 00:30] ebollens commented on #318
Note that this issue is marked as fix because I've added the `!default` qualifiers that were missing. It is _not_ fixed where compiled with the Bootstrap adapter, as right now the adapter still hardcodes its own styles. That's a separate issue in #266.

[2013-02-28 00:46] #266 closed, assigned to ebollens

[2013-02-28 00:49] ebollens opened #322 "Unit Tests Failing after Rake Clean Change"
After making the change to `rake clean`, unit tests are now failing:

[code]

[2013-02-28 01:22] #322 closed, assigned to ebollens

[2013-02-28 01:24] ebollens opened #325 "Incompatibility with _after Task in Ruby 1.8.7"
Jenkins found that, for 1.8.7, the `_after` task fails as:

[code]

I have been able to locate this following the report from CI.

[2013-02-28 01:28] ebollens commented on #325
The problem itself comes from the fact that Ruby 1.8.7 does not support arguments to `.round` whereas Ruby 1.9 does. The fix is a hack to provide no arguments to round but instead do some multiplication, casting and division:

[code]

This only occurs regarding timing, so `--silent` can be used to compile without a failure if using a version of `master` that does not yet have this fix applied.

[2013-02-28 01:31] #325 closed, assigned to ebollens

[2013-02-28 01:38] #316 closed, assigned to ebollens

[2013-02-28 01:38] #315 closed, assigned to ebollens

[2013-03-01 20:15] alroman opened #329 "Grid system nesting does not work as expected"
I searched previous issues and I didn't see this come up.

I'm working with the default grid values `structure-panels = 12` and I'm trying out nested panels.  This is an example of the structure I'm building:

[code]

I'm expecting the nested panels to create a new 12 column grid where it would be possible to have two `panel-6` columns.  What I get is the second `panel-6` column collapsing.

[2013-03-01 20:31] ebollens commented on #329
I just took the following code and laid it into a blank page powered by WebBlocks to test:

[code]

Above `$breakpoint-small`, I see the following:

[code]

Meanwhile, below `$breakpoint-small`, I see:

[code]

Are you seeing something different? If so, can you link me to the page?

[2013-03-04 07:29] alroman commented on #329
After some more testing I've traced the issue to Bootstrap's use of `box-sizing` property; let me explain.  In my brief example, I failed to mention that I was applying a another style directly to the `div` elements with `panel-n` classes.  More accurately, my example should look like this:

[code]

My `frontpage-box` class applies a border radius of 1px.  Bootstrap uses `box-sizing: border-box` u

[2013-03-04 21:13] ebollens commented on #329
We discussed this. Better to provide the support for those browsers that do allow it - but with the caveat that it's documented in the docs that border-box won't work in IE7

[2013-03-05 20:52] ebollens opened #330 "Add Documentation for Efx"
Speaking with @peterm95018 in IRC today, I realize that we don't have a documentation page for the Efx library. In the meantime, the docs are available in the README for Efx located here: https://github.com/ebollens/efx but we should look at adding them to WebBlocks doc as well.

[2013-03-05 20:54] ebollens opened #331 ".nav.bar Sub-Menus"
@peterm95018 is trying to use `nav.bar` with submenus (using a ul to designate the submenu). This is a common pattern that I've found I need as well, and we should look to implement it.

[2013-03-05 21:09] ebollens opened #332 "CSS box-sizing Attribute Polyfill"
In the same way we have a hack for border-radius + gradients in Internet Explorer, we may want to come up with an IE hack that does the same for `box-sizing:border-box` namely by creating a wrapper and re-applying the padding and border inside the internal element instead of directly upon panel. This will get around compatibility issues with `border-box` attribute.

/CC @alroman @loganfranken

[2013-03-05 21:22] ebollens opened #334 "Add IRC Channel to Documentation"

[2013-03-05 21:26] #286 closed, assigned to ebollens

[2013-03-05 23:17] #285 closed, assigned to ebollens

[2013-03-05 23:17] #317 closed, assigned to ebollens

[2013-03-05 23:18] #329 closed, assigned to ebollens

[2013-03-05 23:18] ebollens commented on #150
This is ambiguous as to its scope so closing it. Individual issues should be opened for particular problems.

[2013-03-05 23:18] #150 closed, assigned to ebollens

[2013-03-05 23:19] ebollens commented on #198
Reassigning this to myself to complete.

[2013-03-06 01:18] ebollens opened #337 "Detect Minimal Capability Set Library"
Would be ideal to be able to determine if a user is hitting WebBlocks with a browser that has full capabilities.

[2013-03-06 01:21] ebollens opened #338 "Breadcrumbs"
Missing doc and core adapter here.

[2013-03-06 01:28] #198 closed, assigned to ebollens

[2013-03-08 18:50] ebollens opened #340 "API/Entity/Badge Typo"
Last example says:

[code]

Should be:

[code]

[2013-03-09 04:14] ebollens opened #341 "Add Rakefile-config.rb Generator"
Should be possible to generate a Rakefile-config.rb on the fly. This is the first step towards creating a build server that allows you to pick what you want and then compile without having to set up an environment.

This is needed before we go from BETA to GOLDEN MASTER.

The version required here should provide the ability to set:
- Modules
- Packages
- Extensions
- Bootstrap Adapter (and it's JS

[2013-03-09 04:14] ebollens opened #342 "Build Server Integration"
With #341, we'll have a `Rakefile-config.rb` generator. However, while it will be able to generate a config file to run a build locally, it should also be able to task it off to a build server.

[2013-03-09 06:25] ebollens opened #343 "Case-Sensitivity in Module Names"
Consider the following configuration:

[code]

This produces the following linker:

[code]

This is a problem with linking because of case-sensitivity. We use lower-case everywhere, so lower-case should be used here as well on module names.

[2013-03-09 06:29] ebollens opened #344 "Misplaced //!requires in Entity/Nav/List"
Right now, `Entity/Nav/List` requires `Base/Color`. There's no reason for this and it should be removed for those configuring a custom build.

[2013-03-09 08:26] ebollens opened #346 "Add SASS Sources Generator"
Just like we're providing #341 to generate a `Rakefile-config.rb`, so too should we provide a methodology to generate SASS sources, most importantly the variables file although we should probably allow a user to specify styles for `_blocks.scss` and `_blocks-ie.scss`.

Using this, coupled with #341, we'll then push data to the #342 build server and allow it to generate a WebBlocks build for a user

[2013-03-09 08:27] ebollens commented on #342
This will also rely on #346 to let a user pass SASS variables and definitions in addition to compiler settings.

[2013-03-15 18:10] scottgruber opened #347 "Small Typo"
I found a small typo on this page of Web Blocks documentation
http://ucla.github.com/WebBlocks/doc/#API/Entity/Nav/Bar

Reside this documentation to see how
the navbars collapse on overflow.

Should say Resize.

[2013-03-18 20:43] loganfranken opened #348 "Modal"
We need to have a modal entity like Bootstrap: http://twitter.github.com/bootstrap/javascript.html#modals

[2013-03-19 23:29] alroman opened #349 ".button.small is not available without including bootstrap adapter"
The `button.small` rule is not created when setting the following config:

[code]

The rule is created when I include the default adapter as so:

[code]

In my case, I find it necessary to prevent boostrap from loading since it overrides Moodle's default styles due to class names collisions.

[2013-03-21 18:19] ebollens opened #350 "Warning on Rake"
Currently, when you run `rake` in a modern Ruby, you get:

[code]

[2013-03-21 22:47] chentarry opened #351 "Mega Menu for Gateway Template"
Here is the mega menu I brought up during the discussion earlier - it's actually the menu on the current www.ucla.edu page (it's the menu beneath the Google search bar on the top right).

http://www.ucla.edu/

It should be the white menus with the header text reading: "About", "Academics", "Admissions"...

Hope this helps your development of making MegaMenu entities. We look forward to seeing your

[2013-03-21 23:56] lnicks opened #352 "Barebones compiler issue"
Referencing Issue 137 from `drupal-WebBlocks`.

[code]

/cc @ebollens @chris4ucla

[2013-03-22 17:11] ebollens commented on #352
This has nothing to do with the error you reported in `drupal-WebBlocks`. That was about a deprecation error:

This is about a compression error, which means with uglifyjs/uglifycss.

Can you confirm that you called `npm install` and that uglifyjs and uglifycss are actually there? That's the most frequent reason to hit this error (it's documented in the "Troubleshooting" section of the documentati

[2013-03-22 17:45] #352 closed, assigned to nobody

[2013-03-22 17:49] lnicks commented on #352
Right. Posted here as an effort to document the results of the suggested test (assumed you would want to know and the right repo).  Didn't do any troubleshooting, since it didn't appear to be related.  My apologies!

You're correct, `npm install` fixed it.

/cc @chris4ucla

[2013-03-26 21:38] ebollens opened #353 "Semantic max-width Qualifier"

[2013-03-27 22:52] lnicks opened #354 "Responsive Table Research"
We've covered some of the options shown on the documentation at:

https://github.com/ucla/WebBlocks/wiki/Research:-Responsive-Tables

The results mostly come down to usability and accessibility issues.  We're pretty sure that reformatting the table isnt the best approach for us, as accessibility tools rely on DOM structure and its confusing in general.
- Linearized tables reformat the table in a w

[2013-03-27 23:16] spiritcapsule commented on #354
@jeff1evesque @ssantaana -- just checking if typing them in without autocomplete will work

[2013-03-27 23:23] lnicks commented on #354
Just took a look at the first Bushell example, and it functions well enough accessibility wise.  You still don't get the background cell info, but at least the table comes back to screen readers as fine.

Patrick has made a good point that if the table is written up correctly, and the only changes are CSS, it really shouldn't effect accessibility.  Looking at the Bushell example, I think that is t

[2013-03-28 19:09] lnicks commented on #354
tagging @pburkeucla so he can be in on the conversation.

[2013-03-29 00:17] lnicks commented on #354
IFRAMES are a no go, as they have issues with sizing and scrolling on mobile devices. We need the frame to trigger a scrollbar, and that requires a degree of overflow.  There's no way to ensure the width of the frame without setting it to be absolute, so that just doesn't work with RWD if I'm not mistaken.  Problem is very pronounced on IOS devices.

I tried using object as well, but it had simila

[2013-03-29 00:22] lnicks commented on #354
It also occurs to me that we could just provide a link to a full version and use whatever visual we want.  It's not the best, most complete solution, but I don't know if its possible to serve each case with the same solution.

[2013-04-03 18:41] alroman opened #355 "External Adapter Support"
I've been writing a custom adapter I've had have to add my own file to `lib/Build/Adapter' in order to achieve this.  It would nice to have a way to specify an adapter outside WebBlocks since I use it as a submodule.

Better yet, if it were possible to define an object in my `Rakefile-config.rb` that would specify what I need to build.

[2013-04-03 18:50] ebollens commented on #355
In talking with @alroman about this on Monday, the goal will be that, when you specify an adapter, you can do so either with a string (using the default load methodology) or an object that lets you set the path to your adapter handler and your adapter sources. This will go into milestone 0.2.00 once we get past the beta.

[2013-04-04 16:24] ebollens opened #356 "Support Inversion with .dark Variants"
Right now, all of our color implementation is very "light"-centric. We need to add a set of dark variants and better support when you want to set the background dark.

[2013-04-04 16:43] #341 closed, assigned to ebollens

[2013-04-04 16:54] ebollens commented on #353
I would like to propose that we use the class `.contained` as a `max-width:100%` utility class. Any hesitations with this naming scheme @loganfranken?

[2013-04-04 17:11] ebollens commented on #353
A few other options are `.constrained` or `.no-overflow`. I think I like `.constrained` simply because it isn't quite as similar in name to the existing `.container` class.

[2013-04-04 17:25] ebollens commented on #353
This proposed change can be reviewed in 1da469c using the `.constrained` class.

[2013-04-04 17:33] ebollens opened #359 "Bug with "All" Modules in Doc Builder"
If you check the "All" box in the builder, it generates the following:

[code]

This is not accurate. Instead, it should generate using all the "one level down" modules.

[2013-04-04 17:59] ebollens opened #364 "Ruby 2.0.0 Support"

[2013-04-04 18:05] #334 closed, assigned to ebollens

[2013-04-04 18:06] #340 closed, assigned to ebollens

[2013-04-04 18:06] #343 closed, assigned to ebollens

[2013-04-04 18:07] #344 closed, assigned to ebollens

[2013-04-04 18:08] #359 closed, assigned to ebollens

[2013-04-04 18:08] #350 closed, assigned to ebollens

[2013-04-05 00:01] albertwu opened #368 "support for Retina display resolution level images"
This is a eventual feature request: if it isn't there already, there should be support for detecting retina display (i.e. very high dpi displays) so that sites can display images optimized for retina displays.

[2013-04-05 03:02] #252 closed, assigned to ebollens

[2013-04-05 15:29] jeffpignataro commented on #368
This is actually a relatively easy javascript function which is laid out here:
http://briancray.com/posts/detect-retina-displays-with-javascript

Simply - window.devicePixelRatio > 1;

Unfortunately, this does not detect the actual DPI for the screen but only if the person has a screen that supports more than 1 device-independent pixel (dip) per physical pixel.

[2013-04-05 18:30] ebollens commented on #368
@jeffpignataro one of the problems with detecting retina displays through Javascript is that, by the time Javascript runs, most user agents will have already queued a set of assets for downloading, so substituting assets at that point creates a double load problem. To avoid this problem, the task has to be delegated to the server.

The trick we likely want to use here is something like what we did

[2013-04-05 20:15] jeffpignataro commented on #368
That seems reasonable. I'd hoped that part of webBlocks philosophy was getting away from being dependent on a given web server type as MWF was (correct me if I'm wrong). But I completely agree that it is an awkward issue.

[2013-04-06 18:30] ebollens commented on #368
We're doing our best to be server independent. The first version of WebBlocks does not include any server-side components. Unfortunately, when we hit scenarios like this, we may still be forced to. However, we will likely look at them as a separate project of sorts with its own repository so as not to appear to be implying that you need to be running on a particular platform to use the entirety of

[2013-04-15 17:22] ebollens commented on #283
This is only broken with Bootstrap adapter.

[2013-04-15 18:09] ebollens commented on #265
I've elected to go with `float-X-Y` and `float-X-above-Y`, where `X` is `left` or `right` and `Y` is one of the breakpoint sizes. This allows you to do something like `.float-left-above-small.float-right-small` to float left at one size and float right at another, whereas using `Y-expand` does not give this same level of freedom. This means that this parallels the `hide-X` and `hide-above-X` class

[2013-04-15 18:17] ebollens opened #371 "Add Responsive Text Alignment Classes"
In the same way that #265 and it's pull request #370 give us a set of `.float-X-Y` and `.float-X-above-Y` classes, we should provide a similar set of `.text-X-Y` and `.text-X-above-Y` classes. These parallel the `.hide-X` and `.hide-above-X` classes, as opposed to the `.row.X-collapse`, because you may want to mix and match multiple alignments at different breakpoints (center-align on one side of

[2013-04-15 18:18] #265 closed, assigned to ebollens

[2013-04-15 18:19] #283 closed, assigned to ebollens

[2013-04-15 18:19] #353 closed, assigned to ebollens

[2013-04-15 19:03] #371 closed, assigned to ebollens

[2013-04-16 17:59] ebollens commented on #364
I was able to successfully build and pass tests with Ruby 2.0.0:

[code]

As such, closing this issue.

@jeff1evesque I believe at one point you were having an issue with WebBlocks and Ruby 2.0.0? Please reopen if you've got more details.

[2013-04-16 17:59] #364 closed, assigned to ebollens

[2013-04-17 00:45] #309 closed, assigned to ebollens

[2013-04-17 00:45] #319 closed, assigned to ebollens

[2013-04-17 00:45] #289 closed, assigned to ebollens

[2013-04-17 00:45] #330 closed, assigned to ebollens

[2013-04-17 01:15] ebollens commented on #64
I'm closing this issue, as the effects are working correctly and I'm unsure why it is still open. If you believe this has been closed wrongly, please reopen and explain. Thanks!

[2013-04-17 01:15] #64 closed, assigned to loganfranken

[2013-04-17 01:15] ebollens commented on #30
This is new semantics, so I'm moving it to v0.2.00 milestone, as there hasn't been any more traction on it.

[2013-04-18 00:50] lnicks commented on #354
We've implemented the bushell version which flips the table on its axis.

Some discussion has been had and it was decided that if we're doing this just to make it scrollable, we should just stick with the original table.

Only issue I'm seeing right now is that to do this, the parent container of the table has to be set to `overflow-auto` and I'm not sure we want to be doing that by default on the

[2013-05-20 23:21] ebollens opened #375 "Stylesheet Splitting for IE"
Right now, the selector limit within IE is creating problems for a full compile to render in IE with the Bootstrap adapter. Need to look into this and see about adding a stylesheet splitter.

[2013-05-21 16:44] ebollens commented on #338
Thanks for all the pull requests on this one! Anything remaining on it?

[2013-05-21 17:14] loganfranken commented on #338
Thank _you_! Happy to be getting back to some work on WebBlocks.

And: nope, this is all finished, unless I need to do a special Pull Request for `gh-pages`? Let me know, but I'll close the issue for now.

[2013-05-21 17:14] #338 closed, assigned to loganfranken

[2013-06-03 16:04] ebollens commented on #259
@lnicks reports that he hasn't had many problems with WebBlocks in IE, which was our biggest concern, after he chopped the stylesheet up. This is a serious problem we need to address. Ticket #396 opened to this extent.

[2013-06-03 16:05] ebollens opened #378 "API/Base/Visibility Documentation Typo"
Example case uses `.hide` rather than `.hide-media-query`.

[2013-06-03 16:13] ebollens opened #379 "IE7 Image Scaling"
Quick and easy snippet to improve IE 7 image scaling:

[code]

We're not officially supporting IE7, but at the same time, we are doing "best effort", and the cost of this is small enough, almost certainly worth it.

[2013-06-03 16:16] ebollens opened #380 "IE9 SVG Bug"
There's an overflow bug in IE9 around SVG. Fix is trivial:

[code]

[2013-06-03 16:18] ebollens commented on #268
A good article on options:
http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

Snook's recommended approach ends up being:

[code]

Another one to consider is Boilerplate's `.visuallyhidden` class:

[code]

[2013-06-03 17:25] ebollens opened #383 "Update Bootstrap to v2.3.2"

[2013-06-03 17:36] ebollens commented on #379
To handle this, I've added a new compatibility namespace.

[2013-06-03 17:37] ebollens opened #384 "Move IE-specific Fixes to Compatibility Namespace"

[2013-06-03 17:40] ebollens opened #385 "Documentation Fast-Loading"
Right now, switching pages on the documentation can feel like it takes a bit too long. In order to get around load time issues, we should pre-fetch the pages most likely to be visited by a user based on those links from the current page - probably traveling through DOM order in caching.

[2013-06-03 18:29] ebollens opened #387 "SVG instead of Filter for IE9+ Gradient"
Use `filter` property only for IE6-8 and move over to using SVG gradient for IE9. Right now, the `nav.bar` is broken in IE9+ because of the fact that the border radius fix is only applied to the IE sheet, which by definition is supposed to be used only for IE8 and below in the documentation. We need to either change that in the docs, so that it should always be included for any version of IE, or w

[2013-06-03 18:31] ebollens opened #388 "Rename -ie Sheet to -compat Sheet"
Right now, we have `blocks.[css|js]` and `blocks-ie.[css|js]`. However, the documentation recommends using the following to include the `-ie` suffixed files:

[code]

This is more suited to compatibility support than `-ie`, since modern IE does pretty well with this. We cannot rename this in version 1.0.xx, because it violates the M.m.rr scheme, but we will rename it in 1.1.xx.

[2013-06-03 18:35] #268 closed, assigned to ebollens

[2013-06-03 18:35] #378 closed, assigned to ebollens

[2013-06-03 18:37] #379 closed, assigned to ebollens

[2013-06-03 18:37] #384 closed, assigned to ebollens

[2013-06-03 18:39] ebollens commented on #380
This is addressed in `Base/Normalize`.

[2013-06-03 18:39] #380 closed, assigned to ebollens

[2013-06-03 18:45] ebollens opened #390 "Packages Configuration Directive"
Right now, the packages configuration directive is:

[code]

All the others use `:src` as their namespace.

We should thus change this to:

[code]

For reverse compatibility, we can do an object merge of the two, if both are set, using the `:src` variant as the preferred one - and throw a deprecated warning in the event that the `:build` variant exists.

[2013-06-03 20:19] ebollens opened #392 "Add require-ie.scss and Load Adapters into WebBlocks-ie.scss"

[2013-06-03 20:25] ebollens commented on #392
A caveat with 3c4f49e is that, if CSS is defined directly within a file within an adapter, that CSS will be loaded into both the `blocks.scss` and `blocks-ie.scss` files.

[2013-06-03 20:25] ebollens opened #393 "Specify CSS in Adapter that Only Loads into Non-IE"
The fix for #392 loads all adapter SCSS files into both `WebBlocks` and `WebBlocks-ie`. This means that, if you put CSS directly within an adapter rather than in mixins, it will leak into both files. This is non-optimal and it should be possible to designate NOT loading it into the IE version of the file.

[2013-06-03 21:20] #392 closed, assigned to ebollens

[2013-06-03 21:21] #387 closed, assigned to ebollens

[2013-06-03 21:35] #375 closed, assigned to ebollens

[2013-06-03 21:42] ebollens opened #396 "Stylesheet Splitting for IE"
Right now, the selector limit within IE is creating problems for a full compile to render in IE with the Bootstrap adapter. Need to look into this and see about adding a stylesheet splitter.

There's a splitter implementation here:
https://gist.github.com/ChristianPeters/1131536

However, it has three problems:
- Fails to account for `@media` rules
- Caps out at 8190 rules (two full files)
- Does

[2013-06-04 01:26] ebollens commented on #396
The easiest way to implement this will actually be simply to write a strategy for a project I was working on a while ago for optimizing CSS. The project itself is https://github.com/ebollens/OptiCSS and the new strategy is as simple as:

[code]

Using this strategy, it's then as simple as:

[code]

It tried to clean up the other stuff in OptiCSS, since none of the actual optimization filters have

[2013-06-04 16:35] ebollens commented on #396
Having some serious problems dealing with getting `rake` to invoke `bundle` within a subshell.

[2013-06-04 18:11] ebollens opened #397 "a.button.error Hover Text Color"
The text color of `a.button.error` right now ends up being blue on `:hover`. Known to be a problem in the Bootstrap adapter. Unknown at this time if also an issue overall (haven't tested otherwise - just noted while working on other things).

[2013-06-04 18:16] ebollens commented on #396
Pulling this off required some trickery to keep things in the proper subshell:

[code]

[2013-06-04 18:47] #396 closed, assigned to ebollens

[2013-06-04 18:48] ebollens commented on #396
Merge of pull request #398 resolves this issue. Please see that ticket for a full discussion of the fix.

However, in summary, to enable CSS splitting, you need to add the following line to `Rakefile-config.rb`:

[code]

/CC @lnicks

[2013-06-04 18:49] ebollens commented on #259
Pull request #398 resolves the CSS splitting issue. To enable splitting:

[code]

See #398 (and the associated #396) for more details.

[2013-06-04 18:50] ebollens commented on #259
Closing until such time as other issues are reported.

[2013-06-04 18:50] #259 closed, assigned to ebollens

[2013-06-04 19:12] ebollens commented on #397
This was resolved in 2ce0e3ffc1effd1b3f3ae39f3d7df351271e3a79

[2013-06-04 19:12] #397 closed, assigned to ebollens

[2013-06-04 19:23] ebollens commented on #279
This is indeed a problem with the Bootstrap adapter, namely that Bootstrap is being overly imposing.

The fix is as follows:

[code]

Pull request coming shortly.

[2013-06-04 22:36] #278 closed, assigned to ebollens

[2013-06-04 22:41] ebollens commented on #279
This ended up not being merged, because it was deprecated by #401 - which resolved the issue by getting rid of those mixins altogether within the Bootstrap adapter and they can inherit from the core adapter.

[2013-06-04 22:41] #279 closed, assigned to ebollens

[2013-06-04 23:48] ebollens opened #402 "Button Groups Broken for Bootstrap Adapter"

[2013-06-05 00:04] ebollens opened #403 "rem Polyfill"
There are places where these may be useful, such as right now `.button.group` sets font-size of 16px but 1rem would be better. As such, let's lay this in (and update button group appropriately):
https://github.com/chuckcarpenter/REM-unit-polyfill

[2013-06-05 00:14] ebollens commented on #383
It appears the only thing broken with this update is breadcrumbs.

[2013-06-05 00:24] #402 closed, assigned to ebollens

[2013-06-05 00:25] #383 closed, assigned to ebollens

[2013-06-19 19:49] #346 closed, assigned to ebollens

[2013-06-19 20:10] ebollens commented on #337
The right way to do this is probably to extend Modernizr:
http://modernizr.com/docs/#addtest

Therefore, when someone wants to detect if they've got support, they'll need to make sure to include Modernizr. We can use the `//!requires_package modernizr` pre-compiler directive to throw a warning if WebBlocks is being built without Modernizr, in which case this functionality will not be available.

W

[2013-06-19 22:49] ebollens opened #407 "Add flat-ui Extension"
This is a good example of an extension that uses variables to majorly tweak behavior with minor amounts of changes.

[2013-06-19 22:50] ebollens commented on #337
I have added four Modernizr tests (properties on the Modernizr object):
- `Modernizr.blocks_css_required`
- `Modernizr.blocks_css_full`
- `Modernizr.blocks_html_required`
- `Modernizr.blocks_html_full`

I have also added two new functions to `Blocks.support`:
- `Blocks.support.required()`
- `Blocks.support.full()`

In all cases, the nomenclature is that `required` is stuff that better be there (vi

[2013-06-19 23:09] ebollens commented on #337
It should be noted that this will _not_ test for the presence of Respond.js or Selectivizr. There's not a good way to do this without an overhaul of the way we do packages to let us test and see if a package is available, and even then, what if it's loaded from some other source? Neither of these two libraries leave remnants attached to `window` to find.

[2013-06-19 23:52] #337 closed, assigned to ebollens

[2013-06-20 01:31] ebollens opened #410 "Support Branding Colors on Form Controls"
It seems pretty arbitrary that you can only use mood colors on form controls. There are definitely cases where you want to apply these semantics to form controls. Consequently, we should add these.

[2013-06-20 02:48] ebollens opened #411 "Support Dark Background with Default Branding"
If we set the default to a dark color, it should go ahead and set the background dark, invert the primary font color based on the default color, and use dark flavors of background for messages by default.

[2013-06-20 02:50] #282 closed, assigned to ebollens

[2013-06-20 02:51] #407 closed, assigned to ebollens

[2013-06-20 02:53] #356 closed, assigned to ebollens

[2013-06-20 05:10] ebollens commented on #411
As part of this change, I will be introducing two new classes:
- `fade`
- `emphasize`

The concept of `fade` is that it will be dark if the background is dark, or light if the background is light, whereas `emphasize` will be light if the background is dark, or dark if the background is light. These are useful for cases where one wishes to be able to re-roll their WebBlocks CSS and yet not have a j

[2013-06-20 08:54] ebollens commented on #411
The commit f496ac4 is a partial fix of Bootstrap - which has a lot of challenges in legacy and duplicate code, as WebBlocks core has grown more full-featured over time. Will get this finished up tomorrow.

[2013-06-20 17:24] spiritcapsule commented on #411
understate / mute / weak / dim / subdue

stress / amplify / boost

However, I have accessibility concerns about the fade one in general. I get the point of it. But nearly every time I see this effect it's a violation.

[2013-06-20 17:39] loganfranken commented on #164
I'm working on prototyping this out.

Looking at our options, I think this Responsive Table jQuery plug-in (or code based on it) is the best option:
https://github.com/JPustkuchen/jquery.webks-responsive-table

It converts a standard table to a definition list (`dl`, `dt`, and `dd`). I don't love the dependence on JavaScript, but I don't see a better (non-hackish) solution in pure CSS.

My plans s

[2013-06-20 18:36] ebollens commented on #411
@chris4ucla regarding your accessibility concerns, WebBlocks makes a best effort to pick an accessible background-foreground pair. To do this, it generates both a light and a dark version of foreground text (using the `$color-grade-dk-text` and `$color-grade-lt-text` variables to determine lightening and darkening percent against the raw color). Then, for each background color permutation (the unf

[2013-06-20 19:01] ebollens opened #415 "Bootstrap Adapter Dark Color Support"
Bootstrap itself does not play well with dark colors. While you can swap WebBlocks to use a dark variation, and all of its elements transition as such, it does not actually "clean up" the Bootstrap adapter so that the originally-Bootstrap elements work right.

[2013-06-20 19:01] #411 closed, assigned to ebollens

[2013-06-20 19:20] ebollens opened #416 "Add Missing Namespaces into doc/asset/doc/modules.js"
There are a few missing namespaces:
- `Extend`
- `Extend/Base`
- `Extend/Base/Color`
- `Extend/Base/Color/Branding`
- `Extend/Base/Color/Mood`

The lack of these creates a weird presentation in the Builder.

[2013-06-20 21:01] #416 closed, assigned to ebollens

[2013-06-20 21:01] #410 closed, assigned to ebollens

[2013-06-20 21:23] ebollens commented on #284
My inclination here is to create a new set of light and dark percentages (similar to the `$color-grade-lt-text` and `$color-grade-dk-text`) that are used to compute the color of a link based on the semantic flavor of the background, plus a body text link color variable definition (using conditional logic to select one that's accessible depending on if the body is classified as dark or light per #4

[2013-06-20 23:07] ebollens opened #419 "Clean Up Color Variables Files"
We built a house around a kitchen... And it's so unorganized it's unwieldy. Need to clean up the `_variables.scss` files in `Base/Color`.

[2013-06-21 00:55] ebollens commented on #284
First attempt bloated the code base from 194 KB to 208 KB just for mood colors, because of the inflation caused by SASS. Throwing this away and working on an alternative implementation using `opacity` so that two definitions satisfy the whole thing.

[2013-06-21 01:17] ebollens commented on #284
Using my alternate method, link text inflates from 194 KB to 208 KB. Still not great. Definitely going to work on chunking this up as its own set of modules so one can decide whether or not they want to use. And I should preface that these numbers are _only_ from the branding color set. Mood set will increase by another 20-30 KB probably.

As a note, the reason we're getting inflationary pressure

[2013-06-21 03:48] #284 closed, assigned to ebollens

[2013-06-21 03:48] #419 closed, assigned to ebollens

[2013-06-21 04:28] #385 closed, assigned to ebollens

[2013-06-21 05:30] ebollens commented on #385
Unfortunately, EJS is blocking, so we can't do prefetches while the user is viewing the page.

More on this issue is available here:
https://github.com/ether/etherpad-lite/issues/642

[2013-06-21 21:43] ebollens opened #421 "Light/Dark Color Saturation Variables"
Right now, light and dark colors are computed by processing a brightness value. However, this can lead to a jarring appearance for messages. While the user can always adjust these values explicitly, we should add a coefficient that lets a user control the saturation of the light and dark backgrounds to help them achieve a "muting" effect.

[2013-06-21 21:49] ebollens commented on #421
The worst offender of this I find to be `.success.light`, such as `.message.success`. A value that seems to work in the interim is:

[code]

[2013-06-21 21:50] ebollens commented on #421
This has been slated for the 1.0.09 revision release version.

[2013-06-30 05:40] ebollens opened #422 "Documentation Submodule Recipe"
WebBlocks v1.0.08 added `@import "WebBlocks-ie";` for `blocks-ie.scss`.

Need to update the docs to include this step:

[code]

[2013-06-30 21:40] ebollens opened #423 "Add Semicolon After Each Javascript File Join"
Some Javascript structures used by libraries can cause conflicts when they're appended together, due to esoteric rules about Javascript structuring and the way some files are ended. jQuery plugins often recommend placing a semi-colon at the beginning of every file, to avoid exactly this problem. When we join JS files together, we should be doing exactly this. If it's superfluous, our minifier shou

[2013-07-02 18:37] ebollens opened #424 "Print Media Query Enhancements"
Since we've got semantics, why not make it easy to do print sheets? :smile:

[2013-07-10 00:50] lnicks opened #425 "Rake aborts with CSS Split enabled"
I am having some problems with the compiler.  I've added the two lines of text into `rakefile.rb` to enable CSS Splitting, and this is what I get when I run `rake`.

[code]

[2013-07-10 00:51] lnicks commented on #425
Here's my rakefile:

[code]

[2013-07-10 00:54] ebollens commented on #425
Can you give me some details about the Git submodule for OptiCSS:
1. Is it in your packages folder at all?
2. Can you run `git submodule init`?
3. Can you run `git submodule update`?

[2013-07-10 00:58] lnicks commented on #425
1. It is not
2. 2 & 3: They both run but nothing happens (which I assume is because its up to date).

[2013-07-10 01:02] ebollens commented on #425
Can you plese run `git log` and provide the most recent commit ID; additionally, please provide what's in `.gitmodules` within the WebBlocks directory.

[2013-07-10 01:05] lnicks commented on #425
Most recent commit

[code]

[code]

[2013-07-10 01:08] ebollens commented on #425
@lnicks that doesn't help me from a WebBlocks perspective on the commit ID. I need to know the commit ID of the latest commit in the WebBlocks submodule - so navigate to that folder and then run `git log`.

[2013-07-10 01:14] lnicks commented on #425
Thought so, but I figured with the explicit directions on the gitmodules, I'd stick to the main repo.

Here's the webblocks one:

[code]

[2013-07-11 23:18] marywatkins opened #426 "Missing git clone Step"
Documentation is missing the `git clone` command itself in Configuration/Environment.

[2013-07-11 23:43] marywatkins opened #427 "Swap Builder Rakefile and Variables Config"

[2013-07-22 23:55] ebollens opened #428 "Add OptiCSS Documentation"
Add to API/Compatibility regarding how to do sheet splitting for IE compatibility

[2013-07-24 01:32] ebollens opened #429 "Compiler Pathing"
We've got really hacking path computation. Consider moving to:
http://www.ruby-doc.org/stdlib-1.9.3/libdoc/pathname/rdoc/Pathname.html

[2013-07-24 01:46] ebollens opened #430 "Add Sub-Test Tasks"
Should add tasks to `Rakefile` for just unit and build tests as follows:

[code]

[2013-07-24 01:51] ebollens opened #431 "Add Debug Mode to Builder"
Should be possible to ask for a build with debug mode (no compression) turned on.

[2013-07-24 01:53] ebollens opened #432 "Add OptiCSS to Builder"
Should be possible to specify the OptiCSS package in the Builder (to build with splitting functionality in IE 9 and below).

[2013-07-24 02:02] ebollens opened #434 "Add Dark Support for flat-ui Extension"

[2013-07-24 02:02] ebollens opened #435 "Add flat-ui Extension to Builder"

[2013-07-24 06:05] #434 closed, assigned to ebollens

[2013-07-24 06:06] #430 closed, assigned to ebollens

[2013-07-24 06:06] #431 closed, assigned to ebollens

[2013-07-30 01:33] ebollens opened #438 "Add zip of WebBlocks 1.0.09"
We should add a direct download of a zip of WebBlocks 1.0.09 assets when WebBlocks 1.0.09 is complete. This makes it easy to get started without needing to compile (stop-gap until the build server architecture is deployed).

[2013-07-30 02:25] #423 closed, assigned to ebollens

[2013-07-30 02:25] #435 closed, assigned to ebollens

[2013-07-30 02:25] #422 closed, assigned to ebollens

[2013-07-30 02:45] ebollens opened #443 "OptiCSS Splitting Not Working Correctly"
It appears that the OptiCSS splitting is not working correctly currently. As such, should hold off on adding it via #442 until such time as this is resolved.

[2013-07-30 02:46] ebollens commented on #432
This has been thrown in 1.0.xx until such time as the bug with OptiCSS (see #443) is resolved.

[2013-07-30 02:47] ebollens commented on #428
This has been thrown in 1.0.xx until such time as the bug with OptiCSS (see #443) is resolved; however, it is ready to be merged in pull request #442 once that occurs.

[2013-07-30 03:05] ebollens commented on #438
+1 for new binary uploads for GitHub releases:
https://github.com/ucla/WebBlocks/releases/download/v1.0.09/WebBlocks-1.0.09.zip

[2013-07-30 03:05] #438 closed, assigned to ebollens

[2013-08-01 04:06] loganfranken opened #444 "API/Entity/Message: Incorrect Examples"
The API/Entity/Message docs use `a` (link) elements for examples instead of `div`s

[2013-08-01 04:16] #444 closed, assigned to loganfranken

[2013-09-04 00:20] lnicks opened #447 "Compiler Issues"
On a fresh clone of my repo I am getting errors from the compiler.

[code]

CC @chris4ucla

[2013-09-04 00:21] lnicks commented on #447
Ruby 1.87

[2013-09-04 18:41] lnicks commented on #447
950f4a7 is the latest commit on the package folder within the webblocks theme.

[2013-09-14 16:00] ebollens commented on #447
For reference, since the ucla/drupal-senate project is private, the error @lnicks is quoting comes from:

[code]

This is using the standard call-forward Rakefile approach from the docs. The error is thus obfuscated one layer out, because it's a Rakefile calling a Rakefile.

An email from @rrocchio suggests the v1.0.09 upgrade could have done this:

I'm not sure this has anything to do with the We

[2013-09-14 16:00] #447 closed, assigned to ebollens

[2013-09-14 18:03] lnicks commented on #447
@ebollens , thank you for working on this so quickly.  It's much appreciated, and I'm super sorry the first issue turns out to be my error.  I've replaced the file and merged it into the repo.

Now I'm receiving a different error.  So I ran `--trace` and this is what I got. I went looking for this possible mixin on my theme, not finding it easily, and I avoided using mixins pretty much completely

[2013-09-14 18:08] lnicks commented on #447
So I'm noticing that the rakefile in my base theme is different from the rakefile in webblocks.

So now I'm wondering if isn't the rakefile in the actual theme & skeleton.  It occurs to me that if the rakefile.rb has changed, its very possible the subtheme rakefile didn't get those changes.

Going to try updating the senate theme rakefile with the one in the webblocks repo and see what happens.

E

[2013-09-14 18:12] ebollens commented on #447
It works just fine for me to compile now that you fixed the missing file bug.

[2013-09-14 19:02] lnicks commented on #447
Had to reclone the repo, but it is working now.  @chris4ucla @rrocchio

Thanks to @ebollens once again.

[2013-09-16 00:32] ebollens commented on #393
This will be much easier to do with WebBlocks 2. Probably easier to just leave it for then.

[2013-09-16 00:34] ebollens commented on #388
Changing the public interface means this needs to go major version.

[2013-09-16 00:40] ebollens commented on #355
The file that will need to be modified to support this:
https://github.com/ucla/WebBlocks/blob/master/lib/Build/Manager.rb

[2013-09-16 00:52] ebollens commented on #117
This no longer applies. Our color strategy has changed substantially.

[2013-09-16 23:47] ebollens commented on #164
I propose the class name `linearized-collapse`

[2013-09-16 23:48] ebollens commented on #165
I propose the class name `scrollable-collapse`.

[2013-09-16 23:52] ebollens commented on #342
The goal of this task should be to be able to add a path to the docs and push a job out to a build server. This task is not actually about creating the build server, which is done and available under https://gitub.com/ucla/WebBlocks-build-server

[2013-09-16 23:54] ebollens commented on #331
An open question is how this relates to the mega-menu.

[2013-09-16 23:55] ebollens commented on #296
This task is being moved to v2 unless anyone wants this urgently in the near-term - as v2 adds a whole new layer of configurability.

[2013-09-17 00:00] ebollens commented on #295
Oszie (UCLA Anderson) and Brian (@hyperboy Stanford) volunteered during the meeting to compile their experiences getting started with WebBlocks so as to help drive this guide forward for release by the time we get v1.1 out the door.

[2013-09-17 00:05] ebollens commented on #243
I'm unconvinced why we need this instead of the form:

[code]

I think the issue arrises when one wants to put a full-width nav inside of an element that has `.container` applied to it. @chris4ucla or anyone else, any reason why the above prototype doesn't work? Closing until such time as shown otherwise.

[2013-09-17 00:05] #243 closed, assigned to ebollens

[2013-09-17 00:10] ebollens commented on #186
The `img[srcset]` attribute is ED status with the W3C:

Therefore, we should prefer this approach.

There's already a polyfill with unit tests to conform with the ED:

We may still want to offer jQuery Picture as an alternate, as it is a syntax already familiar to developers from `video` and `audio` tags, and it isn't in violation of anything technically - albeit that it won't be implemented.

[2013-09-17 00:12] ebollens opened #448 "picture Element"
While #186 covers the ED of `img[srcset]`, jQuery Picture is popular because it is an approach similar to the `audio` and `video` tags. It could thus easily be provided as an alternate to the `img[srcset]` polyfill we should include by default.

[2013-09-17 00:15] ebollens opened #449 "Mega-menu Entity"
This is an oft-requested feature that can be achieved already through the use of `.row` with panels (and for responsive behavior, additional nested rows plus some Javascript). However, we should provide a simple way to access this.

Open questions are:
1. Markup prototype (@ebollens to provide subsequently)
2. Class name (@loganfranken any ideas here?)

[2013-09-17 00:15] ebollens commented on #30
The `nav.bar` discussed here was already implemented, and the main use case we've been trying to capture here is a mega-menu. Consequently, closing this as superceded by #449

[2013-09-17 00:15] #30 closed, assigned to nobody

[2013-09-17 00:18] ebollens commented on #32
Renewed interest in this for v1.1 - working right now to come up with a prototype based on UCLA's IT Portal with @melcassio @uncleerniebs

[2013-09-17 00:20] ebollens commented on #37
We've done some tinkering with this in v1.0, but it's insufficient.

Here's what we provide currently:
https://github.com/ucla/WebBlocks/blob/master/src/adapter/bootstrap/entity/img/_icon.scss

There's no non-Bootstrap implementation, and in fact the choice to put it under `img` doesn't really make much sense as it's not even applied to an `img` tag. This needs a complete rethinking, and sticking

[2013-09-17 00:21] ebollens commented on #155
I propose we expand on the `group` meta-pattern used for button group.

Right now, button groups are expressed as:

[code]

We should shoot for similar, and mixable behavior, with badges and inputs.

[2013-09-17 00:24] ebollens commented on #448
An update to this is that I just stumbled across a WD of the picture element:
http://www.w3.org/TR/html-picture-element

I'm thus classifying this as a Package: Polyfill rather than a Package: Functional; need to check and see how close this gets to what we've already got with jQuery Picture. We may have to implement something separate to support this.

[2013-09-17 00:27] ebollens opened #450 "HTTP client-hints Polyfill"
A new set of client hints regarding browser capabilities has been proposed:

A Javascript implementation (limited to second request - same as the problem MWF got around with the redirect logic) exists:

[2013-09-17 00:30] ebollens commented on #185
WebBlocks is client-side compiled code; however, given the assenting voices, I hold that we should provide an extension that provides the JS integration code.

The JS integration code is trivial:

[code]

The rest is then probably to provide information about how to get the rest working - via the docs.

[2013-09-17 00:34] ebollens commented on #424
At the meeting today, it was suggested that we use the `@media print {}` definition over using a separate set of sheets for print. This allows the print implementations to be directly coupled to the elements at hand. These should go into the core adapter and the bootstrap adapter.

[2013-09-17 00:39] ebollens opened #451 "Code Syntax Highlighting Package"

[2013-09-17 00:41] ebollens opened #452 "ARIA Attributes Polyfill"
Not all UAs apply ARIA tags properly based on HTML 5 semantics.

We likely want something like this:
https://github.com/yatil/accessifyhtml5.js

Ideally though it should require less user-specific work - if nothing, maybe just a wrapper that intelligently selects where to place the ARIA attributes if not specifically defined.

[2013-09-17 00:46] ebollens opened #453 "Mobile Click Delay Plugin"
Mobile click events are belated by a 300ms delay. This leads to a lack of a responsive feel when working on mobile browsers, one of the big criticisms of responsive (and mobile web) sites. @trott did a cool plugin (https://github.com/ucsf-ckm/LightningTouch) but informed us later that he's moved over to using fastclick (https://github.com/ftlabs/fastclick). There are a minority of cases where the

[2013-09-17 00:48] ebollens opened #454 "Bootstrap 3 Adapter"
Enough changes have happened in Bootstrap 3 that we'll need to put in some explicit work to support it and Bootstrap 2. Our SASS port of Bootstrap has been updated, so the work just rests on our plate. Ideally, Bootstrap 2 should be the default (so as not to break compatibility), but it should be easy enough to swap over to Bootstrap 3. Easiest way to do this is likely two different submodules for

[2013-09-17 00:49] ebollens opened #455 "Carousel/Slideshow Entity"
@hyperboy and @chris4ucla volunteered to help lead the charge on this one. One of the key drivers here is to create a markup prototype that is _fully accessible_, as most current implementations right now are not.

[2013-09-17 00:50] ebollens opened #456 "Gallery Entity"
This ticket is a place to start planning what might go into a gallery entity. So far, we've addressed that it's desired, but we haven't locked down what it should include yet.

[2013-09-17 00:51] ebollens opened #457 "Calendar Entity"
Brett Pollak (UCSD) mentioned that this was one of the key challenges that drove them to work on a separate mobile view; however, in the same way that we've tackled responsive schedules, can we tackle responsive calendar?

[2013-09-17 00:56] ebollens opened #458 "Update Existing Package Versions"

[2013-09-17 14:23] ebollens opened #459 "Font Asset Converter"
Font assets are not currently covered by WebBlocks. We should expand WebBlocks to cover this rather than require someone to write their own additional logic for it.

[2013-09-17 16:00] spiritcapsule commented on #453
When you turn on accessibility in iOS it changes the behavior of the clicks such that single click is used to identify something on screen and double click is used to activate it. So I'm wondering whether removing the delay has any affect on how the accessibility-enabled click events work. @ebollens or @trott can you point us at a url to test against?

cc// @pburkeucla @lnicks

[2013-09-17 16:02] peterm95018 commented on #457
+1 on this topic. It seems that this is a pretty common design pattern and
all campuses have to handle conferences.

On Mon, Sep 16, 2013 at 5:51 PM, Eric Bollens notifications@github.comwrote:

[2013-09-17 16:14] spiritcapsule commented on #186
link above to w3c is broken due to a missing trailing slash. here's a working link:
http://www.w3.org/html/wg/drafts/srcset/w3c-srcset/

i'm a bit surprised that a missing trailing slash would result in a 404 on w3.org!

[2013-09-17 17:24] Trott commented on #453
@chris4ucla, I can not locate this feature on my iOS devices nor in Apple's documentation. I'm probably just not using the right terminology or something. Can you tell me where to find it/how to turn it on?

[2013-09-17 17:27] lnicks commented on #453
Voiceover is the name of the feature you're looking for.

http://support.apple.com/kb/ht3598

I don't know how up to date this article is, but it's under general > settings > accessibility I believe.

[2013-09-17 17:28] spiritcapsule commented on #453
on my iPad (i don't have an iPhone but I would assume it's similar), it's under Settings > General > scroll all the way to the bottom > Accessibility > VoiceOver > turn on.

[2013-09-17 17:34] lnicks commented on #455
Input directly from @pburkeucla on a 'best case' scenario for behavior.
- slideshow region clearly identified;
- player controls occur before slide objects (Or keystroke commands are listed, even if the buttons themselves are located elsewhere);
- Slide objects should be spoken when they appear on screen.
- The Play/Pause control should start or stop the rotation
- Next & Prev buttons should step

[2013-09-17 17:38] ebollens commented on #455
@lnicks @pburkeucla this feedback is awesome!

[2013-09-17 17:39] pburkeucla commented on #453
Yes, I think the way they hide Accessibility at
the bottom of the 2nd screen under General is the
biggest barrier to Voiceover usage...

Patrick

At 10:28 AM 9/17/2013, Chris Patterson wrote:

##

Patrick J. Burke

Coordinator
UCLA Disabilities &
Computing Program

Phone: 310 206-6004
E-mail: burke@ucla.edu
Location: 4909 Math Science

Department Contact: dcp@oit.ucla.edu

[2013-09-17 17:39] ebollens commented on #186
Fixed in my comment. It's probably a routing error.

[2013-09-17 17:47] Trott commented on #453
Cool. So m.ucsf.edu uses FastClick and it seems to work fine with Voiceover turned on. The UCSF app for iOS also uses FastClick (it's an HTML view under the hood) and it works fine with Voiceover too, at least based on my very superficial testing.

[2013-09-17 17:52] spiritcapsule commented on #455
I would add for sighted keyboard (non-mouse) users, ensure that player controls are easy to find, easy to reach and visibly highlighted when they have focus.

[2013-09-17 17:54] lnicks commented on #455
We also currently bump up the size of the buttons significantly on mobile breakpoints.

[2013-09-17 17:57] spiritcapsule commented on #453
sounds good.

[2013-09-17 17:59] pburkeucla commented on #455
Yes! Sorry I left that out...

Patrick
At 10:52 AM 9/17/2013, Chris Patterson wrote:

[2013-09-18 20:07] loganfranken commented on #449
As for class name, any issue with simply `.mega` or `.megamenu` or `.mega-menu`?

[2013-09-18 22:48] ebollens commented on #449
I think `mega` would be fine, except I'm a bit shaky on where this differs significantly from a navbar with a particular dropdown effect.

[2013-09-19 23:28] pburkeucla commented on #348
Please consider the example from NC State. It demonstrates good use of ARIA & other accessibility features (could use better visual design):
http://accessibility.oit.ncsu.edu/training/aria/modal-window/

Explanatory blog:
http://accessibility.oit.ncsu.edu/blog/2013/09/13/the-incredible-accessible-modal-dialog/

THX!
Patrick

[2013-09-20 00:59] ebollens opened #460 "Implementation of .hide-accessible"
@hyperboy is using the following for the `.element-invisible` and `.element-invisible.element-focusable` elements in Open Framework:

[code]

Unless I'm mistaken, these are meant to be accessible but hidden by default, the latter being visible if focused on. If this is correct, it's the same purpose as our `.hide-accessible` and `.focusable` classes.

Our implementation to date is as follows:

[co

[2013-09-24 20:02] ebollens opened #461 "Nonsensical .container box-model when % gutters"
Right now, the `.container` is defined as:

[code]

However, this leads to a confusing behavior if you go `position:relative` on the container and then try to place a `position:absolute` element within, in that it exceeds the container dimensions. This is because the box model treats padding as internal to the box. I therefore suggest changing the gutters to be based on `margin` instead:

[code]

[2013-09-25 01:03] ebollens opened #462 "IE 6-7 Hack for .hide-accessible"
Right now, `hide-accessible` is implemented as:

[code]

Why bother letting newer browsers choke on the IE hack? Let's add the `*` to the IE 7 ad below fix to deliver it only there:

[code]

IE will choke on the first `clip`, but the second it will understand.

[2013-09-25 05:01] ebollens commented on #298
As part of this, I'd like to include a tab system. Efx can likely be leveraged to help.

[2013-10-07 21:42] #462 closed, assigned to ebollens

[2013-10-07 21:49] #461 closed, assigned to ebollens

[2013-10-08 16:49] ebollens commented on #448
I've evaluated two slightly different approaches to this problem:
- picturefill - https://github.com/scottjehl/picturefill
- jQuery Picture - https://github.com/Abban/jQuery-Picture

At first, I much preferred Abban's solution because it uses the markup that's moving towards rec; however, it turns out that the use of the `source` tag is a serious problem in IE9. To quote Scott:

Given this, I'm go

[2013-10-08 16:53] ebollens opened #467 "matchMedia Polyfill"
[CSSOM View Module](http://dev.w3.org/csswg/cssom-view/) specifies a new method on `window`:

This yields the ability to do things like:

[code]

Thankfully, there's a solid polyfill for this:
https://github.com/paulirish/matchMedia.js/

Pretty cool stuff on its own accord, but also a requisite or #448.

[2013-10-08 17:41] ebollens opened #468 "Dependency in .row"
This implementation has a dependency that isn't defined:

[code]

This needs to be resolved in v1.0 and v1.1.

[2013-10-08 18:25] ebollens opened #474 "Missing Documentation for Several v1.0 Packages"
Several packages such as jQuery, Selectivizr and Respond.js are missing any sort of documentation and instead just link the user off to another site. All packages should have a base landing page in our documentation, even though in many cases it'll just explain the purpose and then link off.

Packages added for v1.1 do not have this problem - just the older ones.

[2013-10-08 18:28] #467 closed, assigned to ebollens

[2013-10-08 18:52] ebollens commented on #448
I think that, by default, I'm going to include this polyfill but not the `img[srcset]` one. The reason for this is that this one is only 0.5 kb, whereas the `img[srcset]` one is 7 kb - and the syntax, by most people's review, is more exotic for the `img[srcset]` one. @loganfranken what do you think?

[2013-10-08 19:18] #468 closed, assigned to ebollens

[2013-10-08 19:19] #448 closed, assigned to ebollens

[2013-10-08 19:38] #186 closed, assigned to ebollens

[2013-10-08 21:54] #450 closed, assigned to ebollens

[2013-10-08 22:41] #188 closed, assigned to ebollens

[2013-10-08 23:09] ebollens commented on #187
Decided no reason to include dd_belatedPNG - who the hell uses IE6 and expects anything to look good anymore? However, I do see some validity in packing a scaling technique for IE7 and old FF. The `-ms-interpolation-mode: bicubic` technique only works for JPEG, so I'd like to use Ethan Marcotte's solution; however, there's no license on it, so I've pinged Ethan to see if he can provide some clarit

[2013-10-09 01:07] #187 closed, assigned to ebollens

[2013-10-09 02:02] ebollens commented on #185
In #450, we added support for HTTP Client Hints. This polyfill does the following:

[code]

It's pushing the same data set as Adaptive Images needs, except that the Client Hints polyfill sets comma-separated key-value pairs, whereas Adaptive Images just sets values. Seems to me that, since HTTP Client Hints is working its way towards being a spec, why not tweak on Adaptive Images to support it?

I

[2013-10-09 04:47] #185 closed, assigned to ebollens

[2013-10-09 04:50] ebollens commented on #185
I've added an `:adaptiveimages` package that writes the `dimension` cookie.

Docs on this are available in my deployment of `ghpages` tracking WebBlocks 1.1 development:
http://ebollens.github.io/WebBlocks/doc/#API/Package/adaptiveimages

On that page, I also mention the Adaptive Images fork that will use HTTP Client Hints. If someone uses the fork of Adaptive Images from https://github.com/ebolle

[2013-10-09 22:01] ebollens commented on #424
A clear problem to start with the print media query stuff is that right now our row collapses are all defined for `@media screen and ... { ... }`, which means they don't kick for print. Dropping these may be a start, although we should look into how viewports are tackled for print.

[2013-10-09 22:13] ebollens commented on #37
Proposal is to apply a class on top of any inline element, poofing all the text inside.

You can attach some text meaning to an icon with `hide-accessible`, or @ebollens proposal is to put the accessibility needs inside the spanning element.

@chris4ucla thinks this would work - @ebollens to provide prototype next week.

@hyperboy and @ebollens both like the idea of using FontAwesome icons rather

[2013-10-09 22:20] ebollens commented on #165
@hyperboy raises let's start basic for scrolling - maybe just an overflow scroll to start

@loganfranken to provides more details regarding:
- where should we start?
- what should be plan to do eventually?

@hyperboy raises (and all agree) that we should target CSS-only solutions to start - that keeps the DOM structured and avoids the problem @lnicks raised

[2013-10-09 22:20] ebollens commented on #164
@loganfranken to provides more details regarding:
- where should we start?
- what should be plan to do eventually?

@hyperboy raises (and all agree) that we should target CSS-only solutions to start - that keeps the DOM structured and avoids the problem @lnicks raised

[2013-10-14 20:30] loganfranken opened #481 "Detect Existing Capabilities in HTTP Client-Hints Polfyfill"
During the call today, we discussed the possible need to extend the HTTP client-hints polyfill (#450) to detect if client-hints is already enabled, since [client-hints is now supported in the latest chromium builds](https://plus.google.com/+PaulIrish/posts/GvQ9vDEi4oh).

As @ebollens noted, it's probably too early for this to be a real concern and this will likely be added to the current HTTP clie

[2013-10-14 20:38] loganfranken commented on #448
@ebollens I second `picturefill` as the default given the wider developer support for that approach, although `img[srcset]` seems to be catching some actual implementation fire at the moment. We may need to switch it up in the coming months, but this seems like the best default for now.

[2013-10-14 20:49] loganfranken commented on #165
Renaming and refocusing this issue to specifically focus on a pinned, scrollable version of the table, where the header is pinned to the left.

See:
- https://github.com/loganfranken/Talk-Responsive-Whales-Tables-and-Images/blob/master/Responsive-Tables.md#pinned-column
- http://dbushell.com/demos/tables/rt_05-01-12.html

[2013-10-14 20:53] loganfranken opened #482 "Responsive Table: Scroll Overflow"
Implement a solution that wraps a table in a container that scrolls on overflow as a basic responsive table approach.

[2013-10-14 20:53] loganfranken opened #483 "Responsive Tables"
This is a master issue to help coordinate and manage the smaller issues.

Here's research/discussion:
- [Original WebBlocks Planning Wiki Article](https://github.com/ucla/WebBlocks/wiki/Research:-Responsive-Tables)
- [Extended Research for MMWCon Talk](https://github.com/loganfranken/Talk-Responsive-Whales-Tables-and-Images/blob/master/Responsive-Tables.md)
- #354: Accessibility Research

Three ta

[2013-10-22 01:50] ebollens opened #484 "Extend Entity/Message with Header"
A use case raised by IT Services includes the need for a header bar on the message entity.

An example as posed by @melcassio:
![alert-warning](https://f.cloud.github.com/assets/761092/1378073/24f2ebf8-3abc-11e3-827b-137b5bcf5006.png)

Of course, we'll have rounded corners by default, but besides that, the rest clearly fits the current message entity, with the exception that we don't actually have

[2013-10-22 19:01] ebollens commented on #459
https://github.com/h5bp/lazyweb-requests/issues/80 includes a brief discussion about current approaches.

On the whole, it seems most people are either:
1. Offloading the heavy-lifting to something like FontSquirrel (but FontSquirrel itself is not open source), which is not reasonable for some licenses and because it places a dependency on an external web service.
2. Melding together various stand

[2013-10-22 20:14] paulirish commented on #459
[code]

[code]

[2013-10-22 20:29] ebollens commented on #459
Thanks @paulirish!

[2013-10-30 01:49] ebollens commented on #484
A working implementation in an extension:
- https://github.com/ucla/WebBlocks-kit-core/blob/master/extension/blocks/message/_header-variables.scss
- https://github.com/ucla/WebBlocks-kit-core/blob/master/extension/blocks/message/_header.scss

[2013-10-30 01:50] ebollens commented on #460
If there are no feelings to the contrary, I'm closing this as _will not resolve_.

[2013-10-30 01:50] #460 closed, assigned to ebollens

[2013-10-30 01:50] ebollens commented on #459
This has gotten incredibly complex incredibly quick. I'm moving this back to a later milestone when more time can be devoted to developing this feature.

[2013-10-30 06:46] ebollens commented on #452
The link I provided at the start of this issue was good for inspiration, but it doesn't go far enough. We have all sorts of semantics in WebBlocks, many of which may not on their own end up being tagged up properly via ARIA.

To start things off, let me offer the following invocation:

[code]

As I see it, we should be marking major landmarks with `aria-role` such as `banner`, `contentinfo` and `m

[2013-10-30 06:47] ebollens commented on #452
@hyperboy might also be interested in this discussion so tagging him as well

[2013-10-30 07:43] ebollens commented on #452
I've gone ahead and set up a repo for this here:
https://github.com/ebollens/jQuery.ariaMapper

Hoping to get an initial version cranked out and integrated into WebBlocks this week (along of course with the other v1.1.01 tasks assigned to me).

[2013-10-30 19:19] ebollens commented on #452
I've added a set of basic tests to the repo for all the polyfill libraries and the helper that resolves labeledBy on roles that, per the spec, should have an `aria-labeledby`.

[2013-10-31 04:49] ebollens commented on #452
I've gone ahead and split the library up. Generically, it's `$.ariaMapper(options)` with a helper `$.ariaMapperHelper(operation, ..)`. This handles HTML semantics and user-defined cases passed through the options.

Extending this, I've also created a WebBlocks facade as `$.ariaWebBlocksMapper(options)` whereby, in addition to HTML 5, a set of WebBlocks semantics are also applied by default. This a

[2013-10-31 04:57] lnicks commented on #452
I'm digging it, at this point we can throw it in to any site, and it really shouldn't cause extra problems right?  That being said, I'd like to throw it into a site with some actual content.  We could duplicate senate (on d7ln) and take it for a test run.  I didn't use a ton of HTML5 in them, but in cases where it could be used, it should be simple to add.  It seems like the most real world of pla

[2013-10-31 05:04] ebollens commented on #452
Yeah, that sounds good. Easiest way to do so since it's not in WebBlocks as a package yet would be to include the three script files in the `head`, and then at the end of the body, place the following:

[code]

This should invoke it to run all of its polyfill and WebBlocks rules.

[2013-10-31 05:04] ebollens commented on #452
Just fixed my comment - ref should be `document`.

[2013-11-04 05:36] ebollens commented on #449
My proposed markup for the mega-menu:

[code]

Three primary types of support:
1. Direct link from the mega menu is any link that does not have a sibling `ul`
2. Top-level item that has a sibling `ul` containing list items with links
3. Top-level item that has a sibling `ul` containing list items with sub-lists

The dropdown behavior:
1. If a direct link, no dropdown - just goes to the other page.

[2013-11-04 05:44] ebollens commented on #455
My proposed markup for this:

[code]

@pburkeucla and I had an interesting conversation about accessible behavior. Let me summarize...

I suggested that the hide used to not display content should take the approach of `hide-accessible` and the controls should be `aria-hidden`. As opposed to traditional slideshows, this technique would basically set the slideshow up such that, when viewed on an acc

[2013-11-04 05:58] spiritcapsule commented on #455
Not a big deal, but "accessibility device" is probably too general of a term here. I'm pretty sure that if I was more awake, I could think of an "accessibility device" that might see this differently from how a screen reader would.

[2013-11-04 06:00] spiritcapsule commented on #455
A couple of times we've been asked by a client if we can put a video in the slideshow. The slider we were using on Plone allowed for that. The Views Slideshow we use on our Drupal 6 sites and the homegrown slideshow we use on the Drupal 7 sites does not allow for videos.

Also, the slider we used for Plone allowed for text and or html to be on a slide, even without an image.

Both of those alterna

[2013-11-04 06:01] spiritcapsule commented on #455
and the Plone one allowed for images and text together on one slide. Essentially it was just a block you could configure however you wanted.

[2013-11-04 06:02] ebollens commented on #455
@chris4ucla good catch about the term "accessibility device" - really screen readers and other DOM parsing devices that do not observe the CSS Positioned Layout Module (or equivalent before CSS was modularized).

I see no reason we can't provide this. The use of figure, I believe, is still semantically correct, although I'll reconsult the spec to make sure it's still appropriate in such contexts.

[2013-11-04 21:30] ebollens commented on #449
@loganfranken suggests that we use `h1` as title of mega-menu, `h2` as title of menu sections and `h3` sub-menu headers.

[2013-11-04 21:31] loganfranken commented on #449
An example of this from the W3C wiki:
http://www.w3.org/wiki/HTML/Elements/nav

[2013-11-04 21:32] loganfranken commented on #449
"Sectioning content" reference:
http://www.w3.org/html/wg/drafts/html/master/dom.html#sectioning-content

[2013-11-04 21:39] ebollens commented on #455
Per the meeting, this should support the use of figure > ol > li > figure

[2013-11-04 21:55] ebollens commented on #455
From meeting...

This is a cultural battle.

Great quote from @loganfranken :

Eric is willing to provide a class for the version that doesn't use hide-accessible - encourage moving into responsive design for devices that don't observe the CSS Positioned Layout Module, but let people have their controls if they want them.

[2013-11-05 08:02] ebollens opened #485 "Javascript-based WebBlocks Generators and Mutators"
I've started work on a WebBlocks project for generating and mutating WebBlocks structures. This is needed for work with @melcassio @marywatkins @quyenv and @albertwu, as it will allow me to provide a "style generator" as part of the [WebBlocks-kit](https://github.com/ucla/WebBlocks-kit).

My work thus far can be found here:
https://github.com/ebollens/WebBlocks.Blocks.js

I see this as eventually

[2013-11-05 18:36] ebollens opened #486 "jQuery Namespace for WebBlocks"
I propose adding the following under a `_namespaces.js` file:

[code]

This makes it possible for us to add WebBlocks methods directly to jQuery, which we us for all our Javascript, rather than having to add them to some random WebBlocks object that can be confusing.

An example of how this can be used to load a method:

[code]

[2013-11-05 18:43] ebollens opened #487 "Required Form Support"
HTML 5 provides us with the `required` attribute on inputs; however, I'm unconvinced that this is the best approach for us. It has a couple problems:
- Only some browsers support and polyfills, while reasonable, don't mimic completely
- Cannot add DOM elements that appear when validation passes or fails
- Must use programmatic controls to do fancy things

I thus propose adding a new `data-required

[2013-11-05 20:41] loganfranken commented on #487
The proposed solution looks good to me from a technical standpoint and I think you have a good case for `data-required` here.

I'm a little concerned about the transition from `data-required` to `required` when that attribute becomes more widely supported (since WebBlocks is a forward-looking toolkit), but I can't really offer a better solution given the constraints on the validation form API and

[2013-11-05 20:49] loganfranken commented on #486
Looks good to me!

[2013-11-05 20:52] loganfranken commented on #485
This looks good to me @ebollens; I think a JavaScript API could open up some really exciting possibilities.

[2013-11-05 23:27] ebollens commented on #487
I see `required` as different than `data-required`. Semantically, `required` imposes the constraint upon _the form element_, whereas `data-required` imposes the constraint upon _the control_.

By imposing it on the control, we can allow a user to set up content that only shows up when it's passing or failing the required constraint, as well as content that shows up within the DOM if validation fai

[2013-11-05 23:28] ebollens commented on #485
Happen to mean something like [this](http://ucla.github.io/WebBlocks-kit/_examples/messages.html)?

[2013-11-09 07:47] loganfranken commented on #485
@ebollens Nice!

[2013-11-09 07:48] loganfranken commented on #487
@ebollens That seems reasonable to me.

[2013-11-09 22:04] ebollens opened #488 "Button Decoration"
Buttons should never be underlined in their text, including if as an `a` element. Right now, if compiled without Bootstrap, they are underlined for `a`, so let's add a `text-decoration: none;` to the `-entity-button` mixin.

[2013-11-11 23:22] ebollens opened #489 "Bug in Core/Adapter/Color/Text"
I have no idea what the mixin -import-base-color-text does (off the top of my head), but it definitely doesn't work because it extends the wrong class names.

[2013-11-12 17:56] ebollens opened #490 "Bug in Efx Package Handler"
The CSS and JS packages are both being loaded under `def assemble_js`. This leads to unexpected results when compiling with `rake build_css`.

[2013-11-12 19:02] ebollens opened #491 "Navbar Initializer Not Callable from Javascript"
Right now, if you want to define a `nav.bar`, you must do it within the DOM before onLoad. It should be possible to add later and apply the effects then.

[2013-11-12 20:53] ebollens commented on #491
I propose we put this under the WebBlocks namespace of jQuery per #486

[2013-11-12 20:58] ebollens opened #492 "Cluster Structure Element"
A number of design patterns rely on a set of equal-spaced elements. This could come in the form of icons, quick links, article thumbnails, etc. While the `row` structure can accommodate this, it has several deficits:
- Does not support _five_ elements
- Can collapse 4-2-1, but not 6-3-2-1

Based on this fact, I'm proposing a new Base/Structure/Cluster element.

The markup format will be incredibly

[2013-11-12 21:38] spiritcapsule commented on #492
I like the fact that when a group of 5 items collapses to two rows, the items are centered so that 4/5 center rather than aligning left. However, I can see a case where one would want them to align left rather than center. Can we have left-alignment be optional, defaulting to centered?

[2013-11-12 21:40] ebollens commented on #492
Certainly.

[2013-11-12 21:43] lnicks commented on #492
This will be immensely helpful, we have encountered this already several times.  Would it be possible to create sets of classes that enable this only at certain breakpoints, like the `hide-above-xxxx` or such?

Also, how does styling effect these? are we assuming that the blocks are styled individually or lumped together? do they collapse within a prestyled block, or do we rely on individual block

[2013-11-12 21:46] ebollens commented on #492
I don't believe so. It would be too complex and bloat CSS immeasurably. However, we could define a couple allowed levels of behavior maybe.

Positioning is achieved via the same mechanisms as with `.row` and `.panel-X`.

[2013-11-12 21:52] lnicks commented on #492
I'm actually thinking more along the lines of stylistic elements such as borders or elements, in particular lists, which is where we encounter this the most.  We have had issues with separators between objects, that when collapsed behave oddly.

[2013-11-13 00:24] ebollens opened #493 "Strange Form Control Sizing Behavior"
The input, select, button, label and textarea all set font size at `$type-font-size`. This makes no sense if using an `em` value. This should be changed to allow it to be set explicitly and default to `1em`.

[2013-11-13 02:29] ebollens commented on #492
Up until the day you guys let me say "IE7 can appear 150% broken", we're stuck with the fact that borders have to be applied to inner elements and cannot be applied on `div.cluster` or its direct children `div.cluster > *`.

[2013-11-13 02:30] ebollens commented on #492
Actually, I take that back. It won't happen until you let it be 150% broken for IE 8 and below. Thank you Microsoft for only partially fixing the box model in IE 8.

[2013-11-13 09:20] spiritcapsule opened #494 "add info about fix for IE Compatibility View to WebBlocks docs"
Set the following headers in .htaccess or httpd.conf.

[code]

[2013-11-13 16:00] ebollens commented on #494
Technically, these instructions only cover about half of the modern servers out there...

Nginx will be:

[code]

And IIS something along the lines of:

[code]

And for those running Varnish up front:

[code]

Additionally, this should go in our page prototype as well:

[code]

[2013-11-13 23:46] hyperboy commented on #494
The IE compatibility view setting in IE is turned on by default when loading any intranet site.  We've added the following snippet to the httpd.conf in our Drupal sites environment (http://sites.stanford.edu) without any issues.

[code]

We haven't made the httpd.conf update to www.stanford.edu however.

[2013-11-14 02:34] loganfranken commented on #492
This looks good to me, @ebollens!

[2013-11-19 20:57] ebollens commented on #491
Oh this is beautifully easy now:

[code]

Similarly, if suppose we have a custom event that fires when we resize some special container via Javascript:

[code]

We can attach a handler to determine if the navbar will be overflowed or not in that context:

[code]

[2013-11-19 20:59] #486 closed, assigned to ebollens

[2013-11-19 20:59] #491 closed, assigned to ebollens

[2013-11-19 21:00] ebollens opened #497 "Document Navbar JS Api"

[2013-11-19 22:26] ebollens commented on #487
Attaching the handler will work as:

[code]

When adding new forms with Javascript, need to invoke this upon them if after `load` event.

Additionally, validation can be handled at other times such as:

[code]

This will return a set of all forms that _do_ validate.

This means you can detect if forms didn't validate as:

[code]

Note that this call will automatically show a `.form-required-failur

[2013-11-19 23:09] ebollens opened #501 "Add Border Radius Variable for Messages"

[2013-11-20 00:16] #484 closed, assigned to ebollens

[2013-11-20 00:16] #501 closed, assigned to ebollens

[2013-11-20 00:16] #494 closed, assigned to ebollens

[2013-11-20 00:18] #487 closed, assigned to ebollens

[2013-11-20 00:18] #492 closed, assigned to ebollens

[2013-11-20 18:22] #490 closed, assigned to ebollens

[2013-11-20 19:11] ebollens commented on #452
As a note, the final way to invoke this, per pull request #505, is:

[code]

[2013-11-20 19:11] #452 closed, assigned to ebollens

[2013-11-20 19:25] #493 closed, assigned to ebollens

[2013-11-20 19:30] ebollens opened #507 "Add :jqueryariamapper Documentation"
#452 added the ARIA attributes polyfill, but there's no documentation on this yet. Should be added before release of WebBlocks 1.1

[2013-11-20 21:32] ebollens opened #508 "Investigate Autoprefixer for Stack"
Pretty cool stuff here:
https://github.com/ai/autoprefixer

Would be nice to see if this could get dropped in the stack somewhere.

[2013-11-20 22:38] ebollens opened #509 "uglifyjs breaks selectivizr"
Right now, uglifyjs and selectivizr aren't playing nicely because of selectivizrs ie conditionals. This is breaking pages in IE8.

[2013-11-20 22:45] ebollens commented on #509
Fix is here:
https://github.com/keithclark/selectivizr/commit/15f8bf23df7e014651c11f5fbcb19809273172fd

I'm going to update the package repo to cover this.

[2013-11-20 22:49] ebollens commented on #509
This would explain why IE8 hasn't been working, regardless of the lengths we've got to for it.

[2013-11-20 22:51] #509 closed, assigned to ebollens

[2013-11-20 23:10] #488 closed, assigned to ebollens

[2013-11-21 01:53] ebollens opened #513 "Form Input Box Shadow"
Right now, all form inputs carry a `box-shadow`. It should be possible to set this via a variable, such as `none` for `flat-ui`.

[2013-11-21 01:56] ebollens opened #514 "Button Hover Box Shadow"
Right now, all buttons on hover carry a `box-shadow`. It should be possible to set this via a variable, such as `none` for `flat-ui`.

[2013-11-22 02:02] ebollens opened #515 "Cluster Float Clear"
The cluster pattern needs to clear floats when it overflows onto multiple lines in intermediate state. Otherwise, unequal cluster elements will clear strangely.

[2013-12-02 16:15] ebollens opened #516 "Gradient Inverted Color Modifier Class"

[2013-12-02 16:19] ebollens commented on #298
From https://github.com/ucla/WebBlocks/wiki/Meeting-2013-11-18...

Basic prototype identical to other nav patterns:

[code]

An example using EFX:

[code]

[2013-12-02 16:20] ebollens opened #517 "ul.list.horizontal and nav.list.horizontal"
Proposed in https://github.com/ucla/WebBlocks/wiki/Meeting-2013-11-18...

Applied directly on a list:

[code]

Applied as a navigational section:

[code]

Needs to support ordered lists as well.

[2013-12-02 16:25] ebollens commented on #32
Proposed implementation:
http://ucla.github.io/WebBlocks-kit/_examples/element_site_header.html

[2013-12-02 17:34] spiritcapsule commented on #298
Does an anchor with data-target but no href receive focus?
`<a data-target="#tab-1">Tab 1</a>`
cc// @lnicks

[2013-12-11 21:07] ebollens opened #521 "Base/Structure Definitions when No and/or Failing Javascript"
If `@media` cannot be parsed, all elements should default to large/expanded version. Right now, the `Base/Structure` elements land in a broken state somewhere in the middle - which leads to a really bad presentation in the event that Javascript is disabled (or Respond + Selectivizr fail). Implementation should be modified as such.

[2013-12-16 16:57] ebollens opened #522 "Include Font Assets"
In the same way we include image assets, let's include font assets - this is a partial of issue 459, as it will not to auto-converting (that's a much bigger challenge), but it will at least produce font assets into the compiled build.

[2013-12-16 17:51] #515 closed, assigned to ebollens

[2013-12-16 17:53] #403 closed, assigned to ebollens

[2013-12-16 17:53] #522 closed, assigned to ebollens

[2013-12-16 17:54] #453 closed, assigned to ebollens

[2013-12-16 18:23] #516 closed, assigned to ebollens

[2013-12-16 18:49] #424 closed, assigned to ebollens

[2013-12-16 19:00] #513 closed, assigned to ebollens

[2013-12-16 19:06] #514 closed, assigned to ebollens

[2013-12-25 01:23] ebollens opened #530 "Submodule Update Logic Failure"
Fresh clone fails on matchMedia:

[code]

---

Update: Changed name - see comment.

[2013-12-27 17:25] ebollens commented on #449
While I'm happy with the markup, the presentation is too UCLA-specific. I tried to come up with a better looking design, but so far I'm not happy with it. Rather than end up with another element like the navbar that lacks design flares, I'm going to open this issue up and ask if anyone can provide a nice design for implementation.

[2013-12-27 18:19] ebollens commented on #482
I've decided to go ahead and implement this one in time for the beta, while the other two will be left open for future work.

[2013-12-27 18:25] ebollens commented on #482
The implementation here is four part:
1. Adds a new `.scrollable-collapse` modifier that may be set on `.table` elements in the `Entity/Table` namespace
2. Adds a new `.overflow-scroll` class as the first class in a new `Base/Block/Overflow` namespace
3. Adds a new Javascript wrapper `$.fn.blocks().overflowScrollable()` in `Base/Block/Overflow`
4. Adds an onload initialization in `Entity/Table/Col

[2013-12-27 18:30] #482 closed, assigned to ebollens

[2013-12-27 18:32] ebollens commented on #32
With pushback of #449, this too is pushed back.

[2013-12-27 18:38] ebollens commented on #481
Javascript operates at the DOM level, where Client Hints operates at the HTTP level. For Javascript to gain access to support info, it would have to be pushed by the browser into the DOM. Currently, it does not appear this is happening, and the spec doesn't call for it. Consequently, I am closing this as _cannot resolve_.

[2013-12-27 18:38] #481 closed, assigned to nobody

[2013-12-27 18:39] ebollens commented on #427
Not sure what this means.

[2013-12-27 18:39] #427 closed, assigned to nobody

[2013-12-27 18:43] ebollens commented on #368
From the client-side, this has been resolved with the addition of polyfills for the `picture` element and `srcset` attribute; similarly, to support this functionality on the server-side, we include polyfills for HTTP Client Hints and Adaptive Images.

Documentation of these is in the 1.1 master, which I deployed to ebollens.github.io here:
- [picture Element](http://ebollens.github.io/WebBlocks/do

[2013-12-27 18:43] #368 closed, assigned to ebollens

[2013-12-27 18:46] ebollens commented on #351
An example of the UCLA-specific implementation is available here:
https://github.com/ucla/WebBlocks-kit-core (used in https://github.com/ucla/WebBlocks-kit)

Discussion on the mega-menu, which is based off this, is available under #449 - although development on this entity as WebBlocks core is stalled on the grounds of needing someone to provide a design that is not campus specific (semantics are

[2013-12-27 18:46] #351 closed, assigned to nobody

[2013-12-27 18:46] #280 closed, assigned to ebollens

[2013-12-27 18:47] ebollens commented on #175
The cluster (#492) element was one of the ones we added here. If someone has other proposals, please open issues from them.

[2013-12-27 18:47] #175 closed, assigned to ebollens

[2013-12-27 18:49] ebollens commented on #129
Generic issue - closing for lack of specificity.

[2013-12-27 18:49] #129 closed, assigned to nobody

[2013-12-27 18:50] #117 closed, assigned to ebollens

[2013-12-27 18:52] ebollens commented on #36
I've implemented an ARIA mapper here:
https://github.com/ebollens/jQuery.ariaMapper

This was integrated into WebBlocks in #452

[2013-12-27 18:52] #36 closed, assigned to ebollens

[2013-12-27 19:03] ebollens commented on #530
Turns out the real culprit here was badly written logic regarding the condition of submodule updates.

Fix is to `lib/Build/Submodule.rb` as follows:

[code]

[2013-12-27 19:05] #530 closed, assigned to ebollens

[2013-12-27 19:09] #426 closed, assigned to ebollens

[2013-12-27 19:11] ebollens commented on #349
This was resolved in some previous commit.

[2013-12-27 19:11] #349 closed, assigned to ebollens

[2013-12-27 19:12] ebollens commented on #155
Anyone want this? I'm leaving it off the 1.1.x implementation list until requested.

[2013-12-27 19:13] #347 closed, assigned to nobody

[2013-12-27 19:34] ebollens commented on #458
Will submit pull request to update:
- FitVids
- Lettering.js
- Picturefill
- Respond.js

Did not update Modernizr, because it's changed heavily internally. If someone wants Modernizr updated, please open a ticket for that in particular explaining what is needed.

Similarly, did not update Bootstrap to v3 because this will create a whole new adapter we have to write because of its massive internal

[2013-12-27 19:40] #458 closed, assigned to ebollens

[2013-12-27 21:41] #517 closed, assigned to ebollens

[2013-12-27 22:14] #390 closed, assigned to ebollens

[2013-12-27 22:15] ebollens opened #539 "Release Notes"
Release notes need to include a mention to the fact that `WebBlocks.config[:build][:packages].delete` in `Rakefile-config.rb` will no longer work appropriately and should be changed to refer to `WebBlocks.config[:src][:packages]`.

[2013-12-28 00:54] ebollens opened #540 "Fix Package Tests"
The work for #390 broke Travis CI:

Output from run:

[code]

I suspect this is because the test needs to be updated, not because it broke anything, as my actual development included merge tests and showed everything working.

[2013-12-28 00:57] #540 closed, assigned to ebollens

[2013-12-28 01:34] ebollens commented on #355
The addition to support this follows the vein of:

[code]

Once inside your own adapter handler, you're free to implement whatever logic you'd like. The documentation in [Core/Architecture/Adapter](http://ucla.github.io/WebBlocks/doc/#Core/Architecture/Adapter) may be of help - however, keep in mind that some of the methods used in the example code assume `include` statements for WebBlocks helpers

[2013-12-28 01:46] ebollens commented on #355
Note that I chose to define the search path separate from the adapter definition itself. This decision was made because one might actually put the search path definition within a file they include within Rakefile-config.rb, such as follows...

A `config.rb` file within the source directory for the external adapter:

[code]

Then, if the user checked this out into, for example, as a sibling of the

[2013-12-28 01:47] #355 closed, assigned to ebollens

[2013-12-28 01:50] ebollens commented on #298
@chris4ucla I've created a separate issue for your question in the ebollens/efx repository where it belongs. This issue is related to the presentation of `nav.tabs`.

[2013-12-28 06:46] #298 closed, assigned to ebollens

[2013-12-28 07:38] ebollens commented on #539
Additional note is that Bootstrap has been removed as a default adapter. To continue using Bootstrap, a user should include the following in `Rakefile-config.rb`:

[code]

[2013-12-28 07:50] ebollens opened #544 "Remove Bootstrap as Default Adapter"
This has been long as coming - we've got complete coverage over the majority of actual UI elements provided by Bootstrap, and we only support Bootstrap 2, so it makes sense that we go ahead and remove it as default. This will need to be noted in the release notes under #539

[2013-12-28 07:51] ebollens opened #545 "Increase test:build Coverage"
Right now the `test:build` task doesn't cover dependency tests for all entities. This coverage thus needs to be increased.

[2013-12-28 08:18] ebollens opened #546 "Document jQuery.fn.blocks() Namespace"

[2013-12-28 08:39] ebollens opened #547 "Add .overflow-scroll Documentation to Base/Block"

[2013-12-28 08:53] #539 closed, assigned to ebollens

[2013-12-28 08:53] #544 closed, assigned to ebollens

[2013-12-28 08:53] #545 closed, assigned to ebollens

[2013-12-31 19:46] ebollens opened #548 "nav.list.accordion Needs Initializer"
Right now, the accordion does not work on pages like the documentation unless it's the content loaded before the `load` event fires. It should be fixed in the same manner as #491 so that one can do something like this:

[code]

[2013-12-31 20:14] ebollens opened #549 "Protect Against Undefined jQuery"
A lot of our libraries just assume availability of `$`. We need to fix this so they're wrapped as:

[code]

[2013-12-31 21:26] ebollens commented on #507
In addition to adding documentation for `:jqueryariamapper`, I also plan to:
1. Make `:jqueryariamapper` a default plugin.
2. Add `package/jqueryariamapper/binding` in `Jqueryariamapper#init_js` if package enabled
3. Provide `package/jqueryariamapper/onload` as _optional_ to automatically initialize on load if added

The deployment of ariaMapper up to this point wasn't really "workably complete".

[2013-12-31 22:09] #546 closed, assigned to ebollens

[2013-12-31 22:09] #547 closed, assigned to ebollens

[2013-12-31 22:09] #497 closed, assigned to ebollens

[2013-12-31 22:09] #507 closed, assigned to ebollens

[2013-12-31 22:09] #549 closed, assigned to ebollens

[2013-12-31 22:36] ebollens opened #552 "Fix Typos in API/Roadmap"
There are several minor typos in API/Roadmap including a missing period and comma. These should be fixed.

[2013-12-31 22:42] #552 closed, assigned to nobody

[2013-12-31 22:48] ebollens opened #553 "TestBuildDefaults Test Failing"
Latest update is showing the following test failure:

[code]

This is not actually affecting the docs - they're still building correctly - but our changes to ARIA mapper for 1.1.03 seem to have caused this.

[2013-12-31 22:53] #553 closed, assigned to ebollens

[2014-01-06 19:01] ebollens opened #554 "WebBlocks Logo Review"

[2014-01-06 19:20] datkins10 commented on #554
![wb-logo-final](https://f.cloud.github.com/assets/5084925/1853156/a4ee7af2-7707-11e3-9ced-fc782cbd468e.png)

[2014-01-06 22:56] loganfranken commented on #554
Awesome work!

I would be interested in seeing how the logo would look in different sizes as well (e.g. favicon, etc.)